openapi: 3.2.0
info:
  description: 'Welcome to the MaintainX API documentation!


    You can use the MaintainX API to programmatically interact with all the entities in MaintainX. Use it to retrieve and manage data of Work Orders, Work Requests, Assets, and more!


    To get started, in your MaintainX account go to "Settings > Integrations" and click "+ New Key" button to generate a new Rest API key.


    Missing something?

    Don''t hesitate to reach out support@getmaintainx.com'
  version: '1'
  title: MaintainX Vendors API
  contact:
    url: https://www.getmaintainx.com/
    name: Support
    email: support@getmaintainx.com
  x-logo:
    url: https://maintainx-static.s3-us-west-2.amazonaws.com/img/default-org-logo.png
    backgroundColor: '#FFFFFF'
    altText: MaintainX logo
servers:
- url: https://api.getmaintainx.com/v1
  description: Endpoint
security:
- Bearer: []
tags:
- name: Vendors
  description: Operations on Vendors
  x-traitTag: false
paths:
  /vendors:
    post:
      summary: Create new vendor
      requestBody:
        description: Vendor to create
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  example: Acme Corp
                description:
                  type:
                  - string
                  - 'null'
                  example: Provider of Acme service
                extraFields:
                  type: object
                  description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Qualifications")'
                  additionalProperties:
                    type: string
                  example:
                    Qualifications: ISO 000
                emails:
                  type: array
                  items:
                    type: string
                  example:
                  - vendor@example.com
                  description: List of email address
                  deprecated: true
                phoneNumbers:
                  type: array
                  items:
                    type: string
                  example:
                  - 415-555-0100
                  description: List of phone number
                  deprecated: true
      responses:
        '201':
          description: Successfully created vendor
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                properties:
                  id:
                    type: integer
                    example: 963
                    description: Global ID of the vendor
        '400':
          description: OrganizationId was not provided
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: Missing x-organization-id header.
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      tags:
      - Vendors
      parameters:
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      - schema:
          type: integer
        description: Required if using a multi organizations token
        name: x-organization-id
        in: header
        required: false
        example: '1'
      operationId: postVendors
      x-operation-id-source: derived
    get:
      summary: List vendors
      description: Endpoint used to list vendor resources
      parameters:
      - name: cursor
        in: query
        schema:
          description: Last pagination reference
          type: string
      - name: limit
        in: query
        schema:
          description: max number of Vendors returned
          type: integer
          minimum: 1
          maximum: 200
          default: 100
      - name: customFieldName
        schema:
          type: array
          items:
            type: string
          description: "Filter vendors by custom field value. Your query parameter should be your custom field name. (ie: To filter by a custom field named \"Industry\" with the value \"Construction\", you would do this \"/vendors?Industry=Construction\").\n                    <br><br>Adding multiple instance of the same custom field act as an <code>OR</code> and adding a different custom field act as an <code>AND</code>. (ie: To filter by a custom field named <code>Industry</code> with the value <code>Construction</code> OR <code>Transportation</code> AND the custom field <code>Manufacturer</code> with the value <code>ACME</code>, you would do this <code>/vendors?Industry=Construction&Industry=Transportation&Manufacturer=ACME</code>).\n                    <br><br>If your custom field label is the same as a reserved query parameter such as <code>limit</code>, <code>sort</code>, <code>expand</code>, etc, you can add <code>__c</code> to your custom field filtering (ie: To filter by a custom field named <code>limit</code> with the value <code>ten</code>, you would do this <code>/vendors?limit__c=ten</code>).\n                    <br><br>Note that your custom field needs to be created beforehand. Only number and single line text custom field types are supported."
        in: query
      - in: query
        name: expand
        schema:
          title: Expand specific fields in the request
          type: array
          items:
            type: string
            enum:
            - extra_fields
      - schema:
          type: integer
        description: Required if using a multi organizations token
        name: x-organization-id
        in: header
        required: false
        example: '1'
      responses:
        '200':
          description: Successfully fetched Vendors list
          content:
            application/json:
              schema:
                type: object
                required:
                - vendors
                properties:
                  vendors:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - name
                      properties:
                        id:
                          type: integer
                          example: 963
                          description: Global ID of the vendor
                        name:
                          type: string
                          example: Acme Corp
                        extraFields:
                          type: object
                          description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Qualifications") (expand with query parameter)'
                          additionalProperties:
                            type: string
                          example:
                            Qualifications: ISO 000
                  nextCursor:
                    description: The cursor to retrieve the next page of Vendors.
                    type:
                    - string
                    - 'null'
                  nextPageUrl:
                    description: Path with query parameters that can be used to retrieve the next page of Vendors.
                    type:
                    - string
                    - 'null'
        '400':
          description: Error with query
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    description: Description of error
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      tags:
      - Vendors
      operationId: getVendors
      x-operation-id-source: derived
  /vendors/{id}:
    get:
      summary: Get vendor
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the vendor
        example: '1'
      responses:
        '200':
          description: Successfully retrieved vendor's information
          content:
            application/json:
              schema:
                type: object
                required:
                - vendor
                properties:
                  vendor:
                    type: object
                    required:
                    - id
                    - name
                    properties:
                      id:
                        type: integer
                        example: 963
                        description: Global ID of the vendor
                      name:
                        type: string
                        example: Acme Corp
                      emails:
                        type: array
                        items:
                          type: string
                        example:
                        - vendor@example.com
                        description: List of email address
                        deprecated: true
                      phoneNumbers:
                        type: array
                        items:
                          type: string
                        example:
                        - 415-555-0100
                        description: List of phone number
                        deprecated: true
                      description:
                        type:
                        - string
                        - 'null'
                        example: Provider of Acme service
                      thumbnail:
                        type:
                        - object
                        - 'null'
                        title: attachment
                        required:
                        - id
                        - mimeType
                        - fileName
                        - url
                        - createdAt
                        properties:
                          id:
                            type: number
                            description: Global ID of the attachment
                            example: 12345
                          mimeType:
                            type: string
                            description: MIME type of the file
                            example: image/png
                          fileName:
                            type: string
                            description: Attachment's file name
                            example: image.png
                          url:
                            type: string
                            description: Url of the file. Valid for 60 minutes.
                            example: http://example.com/image.png
                          createdAt:
                            type: string
                            format: date-time
                            description: Date & time at which the attachment was uploaded
                            example: '2022-01-01T00:00:00.000Z'
                          width:
                            type:
                            - number
                            - 'null'
                            description: Width if the file is an image
                            example: 220
                          height:
                            type:
                            - number
                            - 'null'
                            description: Height if the file is an image
                            example: 100
                      attachments:
                        type: array
                        title: attachment
                        description: List of attachments linked to the vendor
                        items:
                          type: object
                          title: attachment
                          required:
                          - id
                          - mimeType
                          - fileName
                          - url
                          - createdAt
                          properties:
                            id:
                              type: number
                              description: Global ID of the attachment
                              example: 12345
                            mimeType:
                              type: string
                              description: MIME type of the file
                              example: image/png
                            fileName:
                              type: string
                              description: Attachment's file name
                              example: image.png
                            url:
                              type: string
                              description: Url of the file. Valid for 60 minutes.
                              example: http://example.com/image.png
                            createdAt:
                              type: string
                              format: date-time
                              description: Date & time at which the attachment was uploaded
                              example: '2022-01-01T00:00:00.000Z'
                            width:
                              type:
                              - number
                              - 'null'
                              description: Width if the file is an image
                              example: 220
                            height:
                              type:
                              - number
                              - 'null'
                              description: Height if the file is an image
                              example: 100
                      contactIds:
                        type: array
                        items:
                          type: integer
                        example:
                        - 1
                        - 4
                        - 13
                        description: List of contact IDs
                      deletedAt:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: Date that the vendor was deleted
                        example: '2022-01-01T00:00:00.000Z'
                      extraFields:
                        type: object
                        description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Qualifications")'
                        additionalProperties:
                          type: string
                        example:
                          Qualifications: ISO 000
        '400':
          description: Error with query
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    description: Description of error
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified vendor or the user cannot access it.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Not Found.
      tags:
      - Vendors
      operationId: getVendorsById
      x-operation-id-source: derived
    patch:
      summary: Update vendor
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the vendor
        example: '1'
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      requestBody:
        description: Vendor to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Acme Corp
                description:
                  type:
                  - string
                  - 'null'
                  example: Provider of Acme service
                extraFields:
                  type: object
                  description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Qualifications")'
                  additionalProperties:
                    type: string
                  example:
                    Qualifications: ISO 000
      responses:
        '200':
          description: Successfully edited vendor
          content:
            application/json:
              schema:
                type: object
                required:
                - vendor
                properties:
                  vendor:
                    type: object
                    required:
                    - id
                    - name
                    properties:
                      id:
                        type: integer
                        example: 963
                        description: Global ID of the vendor
                      name:
                        type: string
                        example: Acme Corp
                      emails:
                        type: array
                        items:
                          type: string
                        example:
                        - vendor@example.com
                        description: List of email address
                        deprecated: true
                      phoneNumbers:
                        type: array
                        items:
                          type: string
                        example:
                        - 415-555-0100
                        description: List of phone number
                        deprecated: true
                      description:
                        type:
                        - string
                        - 'null'
                        example: Provider of Acme service
                      thumbnail:
                        type:
                        - object
                        - 'null'
                        title: attachment
                        required:
                        - id
                        - mimeType
                        - fileName
                        - url
                        - createdAt
                        properties:
                          id:
                            type: number
                            description: Global ID of the attachment
                            example: 12345
                          mimeType:
                            type: string
                            description: MIME type of the file
                            example: image/png
                          fileName:
                            type: string
                            description: Attachment's file name
                            example: image.png
                          url:
                            type: string
                            description: Url of the file. Valid for 60 minutes.
                            example: http://example.com/image.png
                          createdAt:
                            type: string
                            format: date-time
                            description: Date & time at which the attachment was uploaded
                            example: '2022-01-01T00:00:00.000Z'
                          width:
                            type:
                            - number
                            - 'null'
                            description: Width if the file is an image
                            example: 220
                          height:
                            type:
                            - number
                            - 'null'
                            description: Height if the file is an image
                            example: 100
                      attachments:
                        type: array
                        title: attachment
                        description: List of attachments linked to the vendor
                        items:
                          type: object
                          title: attachment
                          required:
                          - id
                          - mimeType
                          - fileName
                          - url
                          - createdAt
                          properties:
                            id:
                              type: number
                              description: Global ID of the attachment
                              example: 12345
                            mimeType:
                              type: string
                              description: MIME type of the file
                              example: image/png
                            fileName:
                              type: string
                              description: Attachment's file name
                              example: image.png
                            url:
                              type: string
                              description: Url of the file. Valid for 60 minutes.
                              example: http://example.com/image.png
                            createdAt:
                              type: string
                              format: date-time
                              description: Date & time at which the attachment was uploaded
                              example: '2022-01-01T00:00:00.000Z'
                            width:
                              type:
                              - number
                              - 'null'
                              description: Width if the file is an image
                              example: 220
                            height:
                              type:
                              - number
                              - 'null'
                              description: Height if the file is an image
                              example: 100
                      contactIds:
                        type: array
                        items:
                          type: integer
                        example:
                        - 1
                        - 4
                        - 13
                        description: List of contact IDs
                      deletedAt:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: Date that the vendor was deleted
                        example: '2022-01-01T00:00:00.000Z'
                      extraFields:
                        type: object
                        description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Qualifications")'
                        additionalProperties:
                          type: string
                        example:
                          Qualifications: ISO 000
        '400':
          description: Failed to edit the vendor
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: parentId is not valid
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified vendor.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: vendor Not Found
      tags:
      - Vendors
      operationId: patchVendorsById
      x-operation-id-source: derived
    delete:
      summary: Delete vendor
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the vendor
        example: '1'
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      responses:
        '204':
          description: Successfully deleted the vendor
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified vendor.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: vendor Not Found
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Internal server error.
      tags:
      - Vendors
      operationId: deleteVendorsById
      x-operation-id-source: derived
  /vendors/{id}/attachments/{filename}:
    put:
      summary: Update vendor attachment
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the vendor.
        example: '1'
      - schema:
          type: string
        name: filename
        in: path
        required: true
        description: Name of the attachment, including the extension.
        example: datasheet.pdf
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      requestBody:
        description: Content type should be `application/octet-stream` and payload should use binary format for the attachment.
        required: true
        content:
          application/octet-stream:
            schema:
              type: object
              format: binary
          image/jpeg:
            schema:
              type: object
              format: binary
          image/png:
            schema:
              type: object
              format: binary
          image/gif:
            schema:
              type: object
              format: binary
          image/webp:
            schema:
              type: object
              format: binary
          image/flif:
            schema:
              type: object
              format: binary
          image/x-xcf:
            schema:
              type: object
              format: binary
          image/x-canon-cr2:
            schema:
              type: object
              format: binary
          image/x-canon-cr3:
            schema:
              type: object
              format: binary
          image/tiff:
            schema:
              type: object
              format: binary
          image/bmp:
            schema:
              type: object
              format: binary
          image/vnd.ms-photo:
            schema:
              type: object
              format: binary
          image/vnd.adobe.photoshop:
            schema:
              type: object
              format: binary
          application/x-indesign:
            schema:
              type: object
              format: binary
          application/epub+zip:
            schema:
              type: object
              format: binary
          application/x-xpinstall:
            schema:
              type: object
              format: binary
          application/vnd.ms-powerpoint.slideshow.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.text:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.spreadsheet:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.presentation:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.wordprocessingml.document:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.presentationml.presentation:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.presentationml.slideshow:
            schema:
              type: object
              format: binary
          application/zip:
            schema:
              type: object
              format: binary
          application/x-tar:
            schema:
              type: object
              format: binary
          application/x-rar-compressed:
            schema:
              type: object
              format: binary
          application/gzip:
            schema:
              type: object
              format: binary
          application/x-bzip2:
            schema:
              type: object
              format: binary
          application/x-7z-compressed:
            schema:
              type: object
              format: binary
          application/x-apple-diskimage:
            schema:
              type: object
              format: binary
          application/vnd.apache.arrow.file:
            schema:
              type: object
              format: binary
          video/mp4:
            schema:
              type: object
              format: binary
          audio/midi:
            schema:
              type: object
              format: binary
          video/matroska:
            schema:
              type: object
              format: binary
          video/webm:
            schema:
              type: object
              format: binary
          video/quicktime:
            schema:
              type: object
              format: binary
          video/vnd.avi:
            schema:
              type: object
              format: binary
          audio/wav:
            schema:
              type: object
              format: binary
          audio/qcelp:
            schema:
              type: object
              format: binary
          audio/x-ms-asf:
            schema:
              type: object
              format: binary
          video/x-ms-asf:
            schema:
              type: object
              format: binary
          application/vnd.ms-asf:
            schema:
              type: object
              format: binary
          video/mpeg:
            schema:
              type: object
              format: binary
          video/3gpp:
            schema:
              type: object
              format: binary
          audio/mpeg:
            schema:
              type: object
              format: binary
          audio/mp4:
            schema:
              type: object
              format: binary
          video/ogg:
            schema:
              type: object
              format: binary
          audio/ogg:
            schema:
              type: object
              format: binary
          audio/ogg; codecs=opus:
            schema:
              type: object
              format: binary
          application/ogg:
            schema:
              type: object
              format: binary
          audio/flac:
            schema:
              type: object
              format: binary
          audio/ape:
            schema:
              type: object
              format: binary
          audio/wavpack:
            schema:
              type: object
              format: binary
          audio/amr:
            schema:
              type: object
              format: binary
          application/pdf:
            schema:
              type: object
              format: binary
          application/x-elf:
            schema:
              type: object
              format: binary
          application/x-mach-binary:
            schema:
              type: object
              format: binary
          application/x-msdownload:
            schema:
              type: object
              format: binary
          application/x-shockwave-flash:
            schema:
              type: object
              format: binary
          application/rtf:
            schema:
              type: object
              format: binary
          application/wasm:
            schema:
              type: object
              format: binary
          font/woff:
            schema:
              type: object
              format: binary
          font/woff2:
            schema:
              type: object
              format: binary
          application/vnd.ms-fontobject:
            schema:
              type: object
              format: binary
          font/ttf:
            schema:
              type: object
              format: binary
          font/otf:
            schema:
              type: object
              format: binary
          font/collection:
            schema:
              type: object
              format: binary
          image/x-icon:
            schema:
              type: object
              format: binary
          video/x-flv:
            schema:
              type: object
              format: binary
          application/postscript:
            schema:
              type: object
              format: binary
          application/eps:
            schema:
              type: object
              format: binary
          application/x-xz:
            schema:
              type: object
              format: binary
          application/x-sqlite3:
            schema:
              type: object
              format: binary
          application/x-nintendo-nes-rom:
            schema:
              type: object
              format: binary
          application/x-google-chrome-extension:
            schema:
              type: object
              format: binary
          application/vnd.ms-cab-compressed:
            schema:
              type: object
              format: binary
          application/x-deb:
            schema:
              type: object
              format: binary
          application/x-unix-archive:
            schema:
              type: object
              format: binary
          application/x-rpm:
            schema:
              type: object
              format: binary
          application/x-compress:
            schema:
              type: object
              format: binary
          application/lzip:
            schema:
              type: object
              format: binary
          application/x-cfb:
            schema:
              type: object
              format: binary
          application/x-mie:
            schema:
              type: object
              format: binary
          application/mxf:
            schema:
              type: object
              format: binary
          video/mp2t:
            schema:
              type: object
              format: binary
          application/x-blender:
            schema:
              type: object
              format: binary
          image/bpg:
            schema:
              type: object
              format: binary
          image/j2c:
            schema:
              type: object
              format: binary
          image/jp2:
            schema:
              type: object
              format: binary
          image/jpx:
            schema:
              type: object
              format: binary
          image/jpm:
            schema:
              type: object
              format: binary
          image/mj2:
            schema:
              type: object
              format: binary
          audio/aiff:
            schema:
              type: object
              format: binary
          application/xml:
            schema:
              type: object
              format: binary
          application/x-mobipocket-ebook:
            schema:
              type: object
              format: binary
          image/heif:
            schema:
              type: object
              format: binary
          image/heif-sequence:
            schema:
              type: object
              format: binary
          image/heic:
            schema:
              type: object
              format: binary
          image/heic-sequence:
            schema:
              type: object
              format: binary
          image/icns:
            schema:
              type: object
              format: binary
          image/ktx:
            schema:
              type: object
              format: binary
          application/dicom:
            schema:
              type: object
              format: binary
          audio/x-musepack:
            schema:
              type: object
              format: binary
          text/calendar:
            schema:
              type: object
              format: binary
          text/vcard:
            schema:
              type: object
              format: binary
          text/vtt:
            schema:
              type: object
              format: binary
          model/gltf-binary:
            schema:
              type: object
              format: binary
          application/vnd.tcpdump.pcap:
            schema:
              type: object
              format: binary
          audio/x-dsf:
            schema:
              type: object
              format: binary
          application/x-ms-shortcut:
            schema:
              type: object
              format: binary
          application/x-ft-apple.alias:
            schema:
              type: object
              format: binary
          audio/x-voc:
            schema:
              type: object
              format: binary
          audio/vnd.dolby.dd-raw:
            schema:
              type: object
              format: binary
          audio/x-m4a:
            schema:
              type: object
              format: binary
          image/apng:
            schema:
              type: object
              format: binary
          image/x-olympus-orf:
            schema:
              type: object
              format: binary
          image/x-sony-arw:
            schema:
              type: object
              format: binary
          image/x-adobe-dng:
            schema:
              type: object
              format: binary
          image/x-nikon-nef:
            schema:
              type: object
              format: binary
          image/x-panasonic-rw2:
            schema:
              type: object
              format: binary
          image/x-fujifilm-raf:
            schema:
              type: object
              format: binary
          video/x-m4v:
            schema:
              type: object
              format: binary
          video/3gpp2:
            schema:
              type: object
              format: binary
          application/x-esri-shape:
            schema:
              type: object
              format: binary
          audio/aac:
            schema:
              type: object
              format: binary
          audio/x-it:
            schema:
              type: object
              format: binary
          audio/x-s3m:
            schema:
              type: object
              format: binary
          audio/x-xm:
            schema:
              type: object
              format: binary
          video/mp1s:
            schema:
              type: object
              format: binary
          video/mp2p:
            schema:
              type: object
              format: binary
          application/vnd.sketchup.skp:
            schema:
              type: object
              format: binary
          image/avif:
            schema:
              type: object
              format: binary
          application/x-lzh-compressed:
            schema:
              type: object
              format: binary
          application/pgp-encrypted:
            schema:
              type: object
              format: binary
          application/x-asar:
            schema:
              type: object
              format: binary
          model/stl:
            schema:
              type: object
              format: binary
          application/vnd.ms-htmlhelp:
            schema:
              type: object
              format: binary
          model/3mf:
            schema:
              type: object
              format: binary
          image/jxl:
            schema:
              type: object
              format: binary
          application/zstd:
            schema:
              type: object
              format: binary
          image/jls:
            schema:
              type: object
              format: binary
          application/vnd.ms-outlook:
            schema:
              type: object
              format: binary
          image/vnd.dwg:
            schema:
              type: object
              format: binary
          application/vnd.apache.parquet:
            schema:
              type: object
              format: binary
          application/java-vm:
            schema:
              type: object
              format: binary
          application/x-arj:
            schema:
              type: object
              format: binary
          application/x-cpio:
            schema:
              type: object
              format: binary
          application/x-ace-compressed:
            schema:
              type: object
              format: binary
          application/avro:
            schema:
              type: object
              format: binary
          application/vnd.iccprofile:
            schema:
              type: object
              format: binary
          application/x-ft-fbx:
            schema:
              type: object
              format: binary
          application/vnd.visio:
            schema:
              type: object
              format: binary
          application/vnd.android.package-archive:
            schema:
              type: object
              format: binary
          application/x-ft-draco:
            schema:
              type: object
              format: binary
          application/x-lz4:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.presentationml.template:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.spreadsheetml.template:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.wordprocessingml.template:
            schema:
              type: object
              format: binary
          application/vnd.ms-excel.template.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.text-template:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.spreadsheet-template:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.presentation-template:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.graphics:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.graphics-template:
            schema:
              type: object
              format: binary
          application/vnd.ms-excel.sheet.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.ms-word.document.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.ms-word.template.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.ms-powerpoint.template.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.ms-powerpoint.presentation.macroenabled.12:
            schema:
              type: object
              format: binary
          application/java-archive:
            schema:
              type: object
              format: binary
          application/vnd.rn-realmedia:
            schema:
              type: object
              format: binary
          application/x-spss-sav:
            schema:
              type: object
              format: binary
          application/x-ms-regedit:
            schema:
              type: object
              format: binary
          application/x-ft-windows-registry-hive:
            schema:
              type: object
              format: binary
          application/x-jmp-data:
            schema:
              type: object
              format: binary
          application/vnd.apple.keynote:
            schema:
              type: object
              format: binary
          application/vnd.apple.numbers:
            schema:
              type: object
              format: binary
          application/vnd.apple.pages:
            schema:
              type: object
              format: binary
          application/x-apache-arrow:
            schema:
              type: object
              format: binary
          application/x-lzip:
            schema:
              type: object
              format: binary
          application/x.apple.alias:
            schema:
              type: object
              format: binary
          application/x.ms.shortcut:
            schema:
              type: object
              format: binary
          audio/opus:
            schema:
              type: object
              format: binary
          audio/vnd.wave:
            schema:
              type: object
              format: binary
          audio/x-flac:
            schema:
              type: object
              format: binary
          video/x-matroska:
            schema:
              type: object
              format: binary
      responses:
        '201':
          description: Successfully updated vendor's attachment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  publicUrl:
                    type: string
                  filename:
                    type: string
                  fileKey:
                    type: string
        '400':
          description: Bad arguments.
          content:
            application/json:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified vendor.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: vendor Not Found
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Attachment size must not exceed 1mB
      tags:
      - Vendors
      operationId: putVendorsByIdAttachmentsByFilename
      x-operation-id-source: derived
    delete:
      summary: Remove vendor attachment
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the vendor.
        example: '1'
      - schema:
          type: string
        name: filename
        in: path
        required: true
        description: Name of the attachment, including the extension.
        example: attachment.xls
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      responses:
        '204':
          description: Successfully removed vendor's attachment.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified Attachment.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Attachment Not Found
      tags:
      - Vendors
      operationId: deleteVendorsByIdAttachmentsByFilename
      x-operation-id-source: derived
  /vendors/{id}/contacts:
    post:
      summary: Create new contact
      requestBody:
        description: Contact to create
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                role:
                  type:
                  - string
                  - 'null'
                  example: Team Lead
                  description: Role/Label of the contact.
                email:
                  type:
                  - string
                  - 'null'
                  example: john@doe.com
                  description: Email address of contact.
                phoneNumber:
                  type:
                  - string
                  - 'null'
                  example: '1234567890'
                  description: Phone number of contact
                extension:
                  type:
                  - string
                  - 'null'
                  example: '4682'
                  description: Phone number extension
      responses:
        '201':
          description: Successfully created contact
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - name
                - role
                - email
                - phoneNumber
                - extension
                - vendorId
                properties:
                  id:
                    type: number
                    example: 135
                    description: Global ID of the contact
                  name:
                    type: string
                  role:
                    type:
                    - string
                    - 'null'
                    example: Team Lead
                    description: Role/Label of the contact.
                  email:
                    type:
                    - string
                    - 'null'
                    example: john@doe.com
                    description: Email address of contact.
                  phoneNumber:
                    type:
                    - string
                    - 'null'
                    example: '1234567890'
                    description: Phone number of contact
                  extension:
                    type:
                    - string
                    - 'null'
                    example: '4682'
                    description: Phone number extension
                  vendorId:
                    type: number
                    example: 432
                    description: ID of vendor that contact will be associated to
        '400':
          description: Failed to create the contact
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: errors with request
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified Vendor.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Vendor Not Found
        '429':
          description: Too many requests. Please retry in 10 seconds
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Too many requests. Please retry in 10 seconds
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the vendor
        example: '1'
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      tags:
      - Vendors
      operationId: postVendorsByIdContacts
      x-operation-id-source: derived
    get:
      summary: List contacts
      parameters:
      - name: cursor
        in: query
        schema:
          description: Last pagination reference
          type: string
      - name: limit
        in: query
        schema:
          description: max number of Contacts returned
          type: integer
          minimum: 1
          maximum: 200
          default: 100
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the vendor
        example: '1'
      responses:
        '200':
          description: Successfully fetched Contacts list
          content:
            application/json:
              schema:
                type: object
                required:
                - contacts
                properties:
                  contacts:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - name
                      - role
                      - email
                      - extension
                      - phoneNumber
                      - vendorId
                      properties:
                        id:
                          type: number
                          example: 135
                          description: Global ID of the contact
                        name:
                          type: string
                        role:
                          type:
                          - string
                          - 'null'
                          example: Team Lead
                          description: Role/Label of the contact.
                        email:
                          type:
                          - string
                          - 'null'
                          example: john@doe.com
                          description: Email address of contact.
                        phoneNumber:
                          type:
                          - string
                          - 'null'
                          example: '1234567890'
                          description: Phone number of contact
                        extension:
                          type:
                          - string
                          - 'null'
                          example: '4682'
                          description: Phone number extension
                        vendorId:
                          type: number
                          example: 432
                          description: ID of vendor that contact will be associated to
                  nextCursor:
                    description: The cursor to retrieve the next page of Contacts.
                    type:
                    - string
                    - 'null'
                  nextPageUrl:
                    description: Path with query parameters that can be used to retrieve the next page of Contacts.
                    type:
                    - string
                    - 'null'
        '400':
          description: Error with query
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    description: Description of error
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Cannot find the parent resource
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    description: Description of error
                    type: string
      tags:
      - Vendors
      operationId: getVendorsByIdContacts
      x-operation-id-source: derived
  /vendors/{id}/contacts/{contactId}:
    get:
      summary: Get contact
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the vendor
        example: '1'
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
        description: ID of the contact
        example: '12'
      responses:
        '200':
          description: Successfully got contact
          content:
            application/json:
              schema:
                type: object
                required:
                - vendorContact
                properties:
                  vendorContact:
                    type: object
                    required:
                    - id
                    - name
                    - role
                    - email
                    - phoneNumber
                    - extension
                    - vendorId
                    properties:
                      id:
                        type: number
                        example: 135
                        description: Global ID of the contact
                      name:
                        type: string
                      role:
                        type:
                        - string
                        - 'null'
                        example: Team Lead
                        description: Role/Label of the contact.
                      email:
                        type:
                        - string
                        - 'null'
                        example: john@doe.com
                        description: Email address of contact.
                      phoneNumber:
                        type:
                        - string
                        - 'null'
                        example: '1234567890'
                        description: Phone number of contact
                      extension:
                        type:
                        - string
                        - 'null'
                        example: '4682'
                        description: Phone number extension
                      vendorId:
                        type: number
                        example: 432
                        description: ID of vendor that contact will be associated to
        '400':
          description: Failed to get contact
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: error with request
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified Contact.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Contact Not Found
      tags:
      - Vendors
      operationId: getVendorsByIdContactsByContactId
      x-operation-id-source: derived
    patch:
      summary: Update contact
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the vendor
        example: '1'
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
        description: ID of the contact
        example: '1'
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      requestBody:
        description: Contact to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                role:
                  type:
                  - string
                  - 'null'
                  example: Team Lead
                  description: Role/Label of the contact.
                email:
                  type:
                  - string
                  - 'null'
                  example: john@doe.com
                  description: Email address of contact.
                phoneNumber:
                  type:
                  - string
                  - 'null'
                  example: '1234567890'
                  description: Phone number of contact
                extension:
                  type:
                  - string
                  - 'null'
                  example: '4682'
                  description: Phone number extension
      responses:
        '200':
          description: Successfully updated contact
          content:
            application/json:
              schema:
                type: object
                required:
                - contact
                properties:
                  contact:
                    type: object
                    required:
                    - id
                    - name
                    - role
                    - email
                    - phoneNumber
                    - extension
                    - vendorId
                    properties:
                      id:
                        type: number
                        example: 135
                        description: Global ID of the contact
                      name:
                        type: string
                      role:
                        type:
                        - string
                        - 'null'
                        example: Team Lead
                        description: Role/Label of the contact.
                      email:
                        type:
                        - string
                        - 'null'
                        example: john@doe.com
                        description: Email address of contact.
                      phoneNumber:
                        type:
                        - string
                        - 'null'
                        example: '1234567890'
                        description: Phone number of contact
                      extension:
                        type:
                        - string
                        - 'null'
                        example: '4682'
                        description: Phone number extension
                      vendorId:
                        type: number
                        example: 432
                        description: ID of vendor that contact will be associated to
        '400':
          description: Failed to update the contact
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: error with the request
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified Contact.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Contact Not Found
      tags:
      - Vendors
      operationId: patchVendorsByIdContactsByContactId
      x-operation-id-source: derived
    delete:
      summary: Delete contact
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the vendor
        example: '1'
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
        description: ID of the contact
        example: '32'
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      responses:
        '204':
          description: Successfully removed contact
        '400':
          description: Failed to remove the contact
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: error with the request
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified Contact.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Contact Not Found
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Internal server error.
      tags:
      - Vendors
      operationId: deleteVendorsByIdContactsByContactId
      x-operation-id-source: derived
  /vendors/{id}/thumbnail/{filename}:
    put:
      summary: Update vendor's thumbnail
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the vendor.
        example: '1'
      - schema:
          type: string
        name: filename
        in: path
        required: true
        description: Name of the vendor thumbnail, including the extension.
        example: motor.png
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      requestBody:
        description: Content type should be `application/octet-stream` and payload should use binary format for the thumbnail.
        required: true
        content:
          application/octet-stream:
            schema:
              type: object
              format: binary
          image/jpeg:
            schema:
              type: object
              format: binary
          image/png:
            schema:
              type: object
              format: binary
          image/gif:
            schema:
              type: object
              format: binary
          image/webp:
            schema:
              type: object
              format: binary
          image/flif:
            schema:
              type: object
              format: binary
          image/x-xcf:
            schema:
              type: object
              format: binary
          image/x-canon-cr2:
            schema:
              type: object
              format: binary
          image/x-canon-cr3:
            schema:
              type: object
              format: binary
          image/tiff:
            schema:
              type: object
              format: binary
          image/bmp:
            schema:
              type: object
              format: binary
          image/vnd.ms-photo:
            schema:
              type: object
              format: binary
          image/vnd.adobe.photoshop:
            schema:
              type: object
              format: binary
          image/x-icon:
            schema:
              type: object
              format: binary
          image/bpg:
            schema:
              type: object
              format: binary
          image/j2c:
            schema:
              type: object
              format: binary
          image/jp2:
            schema:
              type: object
              format: binary
          image/jpx:
            schema:
              type: object
              format: binary
          image/jpm:
            schema:
              type: object
              format: binary
          image/mj2:
            schema:
              type: object
              format: binary
          image/heif:
            schema:
              type: object
              format: binary
          image/heif-sequence:
            schema:
              type: object
              format: binary
          image/heic:
            schema:
              type: object
              format: binary
          image/heic-sequence:
            schema:
              type: object
              format: binary
          image/icns:
            schema:
              type: object
              format: binary
          image/ktx:
            schema:
              type: object
              format: binary
          image/apng:
            schema:
              type: object
              format: binary
          image/x-olympus-orf:
            schema:
              type: object
              format: binary
          image/x-sony-arw:
            schema:
              type: object
              format: binary
          image/x-adobe-dng:
            schema:
              type: object
              format: binary
          image/x-nikon-nef:
            schema:
              type: object
              format: binary
          image/x-panasonic-rw2:
            schema:
              type: object
              format: binary
          image/x-fujifilm-raf:
            schema:
              type: object
              format: binary
          image/avif:
            schema:
              type: object
              format: binary
          image/jxl:
            schema:
              type: object
              format: binary
          image/jls:
            schema:
              type: object
              format: binary
          image/vnd.dwg:
            schema:
              type: object
              format: binary
      responses:
        '201':
          description: Successfully updated vendor's thumbnail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  publicUrl:
                    type: string
                  filename:
                    type: string
                  fileKey:
                    type: string
        '400':
          description: Bad arguments.
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: You cannot edit this entity.
                    fieldPath: organizationId
                    fieldValue: '1'
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified Vendor.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Vendor Not Found
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Attachment size must not exceed 1mB
      tags:
      - Vendors
      operationId: putVendorsByIdThumbnailByFilename
      x-operation-id-source: derived
components:
  responses:
    UnauthorizedError:
      description: Invalid token
  securitySchemes:
    Bearer:
      description: "\n  <p>Authenticate by adding the following HTTP header to your requests:</p>\n<pre>Authorization: bearer {{token}}</pre>\n<p>The <code>token</code> can be generated in your MaintainX account. Go to <a href=\"https://app.getmaintainx.com/settings/integrations/apiKeys\">\"Settings &gt; Integrations &gt; API Keys\"</a> to generate a key for your user.</p>\n"
      type: http
      scheme: bearer
      bearerFormat: JWT
