openapi: 3.2.0
info:
  description: 'Welcome to the MaintainX API documentation!


    You can use the MaintainX API to programmatically interact with all the entities in MaintainX. Use it to retrieve and manage data of Work Orders, Work Requests, Assets, and more!


    To get started, in your MaintainX account go to "Settings > Integrations" and click "+ New Key" button to generate a new Rest API key.


    Missing something?

    Don''t hesitate to reach out support@getmaintainx.com'
  version: '1'
  title: MaintainX Parts API
  contact:
    url: https://www.getmaintainx.com/
    name: Support
    email: support@getmaintainx.com
  x-logo:
    url: https://maintainx-static.s3-us-west-2.amazonaws.com/img/default-org-logo.png
    backgroundColor: '#FFFFFF'
    altText: MaintainX logo
servers:
- url: https://api.getmaintainx.com/v1
  description: Endpoint
security:
- Bearer: []
tags:
- name: Parts
  description: Operations on Parts
  x-traitTag: false
paths:
  /parts:
    post:
      summary: Create new part
      requestBody:
        description: Part to create
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  example: Locknut - 1/8
                description:
                  type:
                  - string
                  - 'null'
                  example: ''
                area:
                  type:
                  - string
                  - 'null'
                  example: tool room
                  description: 'Area of the part. Deprecated: Use new field inside `locations`. Will cause error if both fields are sent.'
                  deprecated: true
                unitCost:
                  type:
                  - integer
                  - 'null'
                  description: Cost in cents. For example, for $1.20, put 120.
                  example: 120
                availableQuantity:
                  type: integer
                  description: 'Total quantity currently in stock. Deprecated: Use new field inside `locations`. Will cause error if both fields are sent.'
                  example: 10
                  deprecated: true
                minimumQuantity:
                  type: integer
                  description: 'Total minimum quantity before you should restock. Deprecated: Use new field inside `locations`. Will cause error if both fields are sent.'
                  example: 5
                  deprecated: true
                barcode:
                  type:
                  - string
                  - 'null'
                  example: bWFpbnRhaW54Cg==
                  description: String encoded barcode
                locationId:
                  type:
                  - integer
                  - 'null'
                  example: 852
                  description: 'ID of the location where the part is located. Deprecated: Use new field inside `locations`. Will cause error if both fields are sent.'
                  deprecated: true
                locations:
                  type: array
                  items:
                    type: object
                    required:
                    - locationId
                    properties:
                      locationId:
                        type: integer
                        example: 852
                        description: ID of the location where the part is located
                      availableQuantity:
                        type: integer
                        description: Quantity currently in stock
                        example: 10
                      minimumQuantity:
                        type:
                        - integer
                        - 'null'
                        description: Minimum quantity before you should restock
                        example: 5
                      maximumQuantity:
                        type:
                        - integer
                        - 'null'
                        example: 100
                        description: Maximum quantity you want to stock. Must be greater than or equal to minimumQuantity.
                      area:
                        type:
                        - string
                        - 'null'
                        example: tool room
                  description: Detailed list of locations where the part is stored, including properties such as available quantity, minimum quantity, reserved quantity, and area within each location.
                partTypes:
                  type: array
                  items:
                    type: string
                  description: List of part types
                assetIds:
                  type: array
                  items:
                    type: integer
                  example:
                  - 12
                  - 4561
                  description: List of asset IDs
                teamIds:
                  type: array
                  items:
                    type: integer
                  example:
                  - 1
                  - 4
                  description: List of team IDs in charge of the part
                extraFields:
                  type: object
                  description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Part Number")'
                  additionalProperties:
                    type: string
                  example:
                    Part Number: '000000000'
                vendors:
                  type: array
                  description: List of vendors of the part
                  items:
                    type: object
                    properties:
                      vendorId:
                        type: integer
                        example: '1'
                        description: Id of the vendor
                      partNumber:
                        type: string
                        example: XC230
                        description: Part number given to the part by this vendor
                committedQuantities:
                  type: object
                  description: Quantities of the part currently committed to work orders, broken down by stage.
                  properties:
                    kitted:
                      type: integer
                      description: Quantity of parts that have been kitted for work orders
                      example: 5
                    reserved:
                      type: integer
                      description: Quantity of parts reserved for work orders
                      example: 3
                    staged:
                      type: integer
                      description: Quantity of parts that have been staged for work orders
                      example: 2
                assignedQuantity:
                  type: integer
                  description: Total quantity currently assigned to work orders across all stages.
                  example: 10
                vendorIds:
                  type: array
                  items:
                    type: integer
                  example:
                  - 23
                  - 56
                  description: 'List of vendor IDs. Deprecated: Use the `vendorId` field inside `vendors`.'
                  deprecated: true
      responses:
        '201':
          description: Successfully created part
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                properties:
                  id:
                    type: integer
                    example: 123456
                    description: Global ID of the part
        '400':
          description: OrganizationId was not provided
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: Missing x-organization-id header.
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      tags:
      - Parts
      parameters:
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      - schema:
          type: integer
        description: Required if using a multi organizations token
        name: x-organization-id
        in: header
        required: false
        example: '1'
      operationId: postParts
      x-operation-id-source: derived
    get:
      summary: List parts
      description: Endpoint used to list part resources
      parameters:
      - name: cursor
        in: query
        schema:
          description: Last pagination reference
          type: string
      - name: limit
        in: query
        schema:
          description: max number of Parts returned
          type: integer
          minimum: 1
          maximum: 200
          default: 100
      - name: partNumber
        schema:
          type: array
          description: Will only show parts that have a vendor with this part number associated to them.
          items:
            type: string
        in: query
      - name: updatedAt[gte]
        schema:
          type: string
          format: date-time
          description: Return records whose updatedAt is at or after this ISO 8601 date-time (UTC).
          example: '2024-01-01T00:00:00.000Z'
        in: query
      - name: updatedAt[lte]
        schema:
          type: string
          format: date-time
          description: Return records whose updatedAt is at or before this ISO 8601 date-time (UTC).
          example: '2024-12-31T23:59:59.999Z'
        in: query
      - name: createdAt[gte]
        schema:
          type: string
          format: date-time
          description: Return records whose createdAt is at or after this ISO 8601 date-time (UTC).
          example: '2024-01-01T00:00:00.000Z'
        in: query
      - name: createdAt[lte]
        schema:
          type: string
          format: date-time
          description: Return records whose createdAt is at or before this ISO 8601 date-time (UTC).
          example: '2024-12-31T23:59:59.999Z'
        in: query
      - name: customFieldName
        schema:
          type: array
          items:
            type: string
          description: "Filter parts by custom field value. Your query parameter should be your custom field name. (ie: To filter by a custom field named \"Industry\" with the value \"Construction\", you would do this \"/parts?Industry=Construction\").\n                    <br><br>Adding multiple instance of the same custom field act as an <code>OR</code> and adding a different custom field act as an <code>AND</code>. (ie: To filter by a custom field named <code>Industry</code> with the value <code>Construction</code> OR <code>Transportation</code> AND the custom field <code>Manufacturer</code> with the value <code>ACME</code>, you would do this <code>/parts?Industry=Construction&Industry=Transportation&Manufacturer=ACME</code>).\n                    <br><br>If your custom field label is the same as a reserved query parameter such as <code>limit</code>, <code>sort</code>, <code>expand</code>, etc, you can add <code>__c</code> to your custom field filtering (ie: To filter by a custom field named <code>limit</code> with the value <code>ten</code>, you would do this <code>/parts?limit__c=ten</code>).\n                    <br><br>Note that your custom field needs to be created beforehand. Only number and single line text custom field types are supported."
        in: query
      - in: query
        name: sort
        schema:
          description: 'Attribute on which to sort the list. (for descending order, prefix attribute with ''-''). '
          type: string
          enum:
          - id
          - createdAt
          - updatedAt
          - -id
          - -createdAt
          - -updatedAt
      - in: query
        name: expand
        schema:
          title: Expand specific fields in the request
          description: 'To expand multiple fields: `expand=extra_fields&expand=vendors`'
          type: array
          items:
            type: string
            enum:
            - extra_fields
            - vendors
      - schema:
          type: integer
        description: Required if using a multi organizations token
        name: x-organization-id
        in: header
        required: false
        example: '1'
      - schema:
          type: string
        description: Required if using a multi organizations token and doing an operation on resources from multiple organizations. This is mutually exclusive with the x-organization-id header (use one or the other).
        name: x-organization-ids
        in: header
        required: false
        example: 1,2,3
      responses:
        '200':
          description: Successfully fetched Parts list
          content:
            application/json:
              schema:
                type: object
                required:
                - parts
                properties:
                  parts:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - name
                      - description
                      - barcode
                      - locationId
                      - locations
                      - area
                      - unitCost
                      - availableQuantity
                      - minimumQuantity
                      - orderedQuantity
                      - reservedQuantity
                      - partTypes
                      - createdAt
                      - updatedAt
                      properties:
                        id:
                          type: integer
                          example: 123456
                          description: Global ID of the part
                        name:
                          type: string
                          example: Locknut - 1/8
                        description:
                          type:
                          - string
                          - 'null'
                          example: ''
                        barcode:
                          type:
                          - string
                          - 'null'
                          example: bWFpbnRhaW54Cg==
                          description: String encoded barcode
                        locationId:
                          type:
                          - integer
                          - 'null'
                          example: 852
                          description: 'ID of the location where the part is located. Deprecated: for Parts with multiple locations, use the new field in `locations`'
                          deprecated: true
                        locations:
                          type: array
                          items:
                            type: object
                            required:
                            - locationId
                            properties:
                              locationId:
                                type: integer
                                example: 852
                                description: ID of the location where the part is located
                              availableQuantity:
                                type: integer
                                description: Quantity currently in stock
                                example: 10
                              minimumQuantity:
                                type:
                                - integer
                                - 'null'
                                description: Minimum quantity before you should restock
                                example: 5
                              maximumQuantity:
                                type:
                                - integer
                                - 'null'
                                example: 100
                                description: Maximum quantity you want to stock. Must be greater than or equal to minimumQuantity.
                              area:
                                type:
                                - string
                                - 'null'
                                example: tool room
                              reservedQuantity:
                                type:
                                - integer
                                - 'null'
                                description: 'Quantity currently reserved for work orders. Deprecated: Use `committedQuantities.reserved` instead.'
                                example: 10
                                deprecated: true
                              committedQuantities:
                                type: object
                                description: Quantities of the part currently committed to work orders, broken down by stage.
                                properties:
                                  kitted:
                                    type: integer
                                    description: Quantity of parts that have been kitted for work orders
                                    example: 5
                                  reserved:
                                    type: integer
                                    description: Quantity of parts reserved for work orders
                                    example: 3
                                  staged:
                                    type: integer
                                    description: Quantity of parts that have been staged for work orders
                                    example: 2
                              assignedQuantity:
                                type: integer
                                description: Quantity currently assigned to work orders at this location
                                example: 5
                          description: Detailed list of locations where the part is stored, including properties such as available quantity, minimum quantity, reserved quantity, and area within each location.
                        area:
                          type:
                          - string
                          - 'null'
                          example: tool room
                          description: 'Area of the part. Deprecated: for Parts with multiple locations, use the new field in `locations`'
                          deprecated: true
                        unitCost:
                          type:
                          - integer
                          - 'null'
                          description: Cost in cents. For example, for $1.20, put 120.
                          example: 120
                        availableQuantity:
                          type: integer
                          description: 'Total quantity currently in stock. If your plan includes multi-location parts, this is the quantity across all part locations. Deprecated: Use `inStockQuantity` instead.'
                          example: 10
                          deprecated: true
                        minimumQuantity:
                          type: integer
                          description: Total minimum quantity before you should restock. If your plan includes multi-location parts, this is the quantity across all part locations.
                          example: 5
                        orderedQuantity:
                          type: integer
                          description: Total quantity currently on order from purchase orders. If your plan includes multi-location parts, this is the quantity across all part locations.
                          example: 15
                        reservedQuantity:
                          type: integer
                          description: 'Total quantity currently reserved for work orders. If your plan includes multi-location parts, this is the quantity across all part locations. Deprecated: Use `committedQuantities.reserved` instead.'
                          example: 3
                          deprecated: true
                        partTypes:
                          type: array
                          items:
                            type: string
                          description: List of part types
                        createdAt:
                          type: string
                          format: date-time
                          description: Date & time at which the part was created
                          example: '2022-01-01T00:00:00.000Z'
                        updatedAt:
                          type: string
                          format: date-time
                          description: Date & time at which the part was last updated. This doesn't include comments
                          example: '2022-01-01T00:00:00.000Z'
                        inStockQuantity:
                          type: integer
                          description: Total quantity currently in stock. If your plan includes multi-location parts, this is the quantity across all part locations.
                          example: 10
                        committedQuantities:
                          type: object
                          description: Quantities of the part currently committed to work orders, broken down by stage.
                          properties:
                            kitted:
                              type: integer
                              description: Quantity of parts that have been kitted for work orders
                              example: 5
                            reserved:
                              type: integer
                              description: Quantity of parts reserved for work orders
                              example: 3
                            staged:
                              type: integer
                              description: Quantity of parts that have been staged for work orders
                              example: 2
                        assignedQuantity:
                          type: integer
                          description: Total quantity currently assigned to work orders across all stages.
                          example: 10
                        maximumQuantity:
                          type:
                          - integer
                          - 'null'
                          example: 100
                          description: Total maximum quantity to keep in stock. Null when no part location has a max set. If your plan includes multi-location parts, this is the quantity across all part locations.
                        organizationId:
                          type: integer
                          example: 1
                          description: ID of the organization that owns this resource
                        extraFields:
                          type: object
                          description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Part Number") (expand with query parameter)'
                          additionalProperties:
                            type: string
                          example:
                            Part Number: '000000000'
                        vendors:
                          type: array
                          description: List of vendors of the part (expand with query parameter)
                          items:
                            type: object
                            properties:
                              vendorId:
                                type: integer
                                example: '1'
                                description: Id of the vendor
                              partNumber:
                                type: string
                                example: XC230
                                description: Part number given to the part by this vendor
                  nextCursor:
                    description: The cursor to retrieve the next page of Parts.
                    type:
                    - string
                    - 'null'
                  nextPageUrl:
                    description: Path with query parameters that can be used to retrieve the next page of Parts.
                    type:
                    - string
                    - 'null'
        '400':
          description: Error with query
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    description: Description of error
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      tags:
      - Parts
      operationId: getParts
      x-operation-id-source: derived
  /parts/{id}:
    get:
      summary: Get part
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the part
        example: '1'
      responses:
        '200':
          description: Successfully retrieved part's information
          content:
            application/json:
              schema:
                type: object
                required:
                - part
                properties:
                  part:
                    type: object
                    required:
                    - id
                    - name
                    - updatedAt
                    - createdAt
                    properties:
                      id:
                        type: integer
                        example: 123456
                        description: Global ID of the part
                      name:
                        type: string
                        example: Locknut - 1/8
                      description:
                        type:
                        - string
                        - 'null'
                        example: ''
                      area:
                        type:
                        - string
                        - 'null'
                        example: tool room
                        description: 'Area of the part. Deprecated: for Parts with multiple locations, use the new field in `locations`'
                        deprecated: true
                      unitCost:
                        type:
                        - integer
                        - 'null'
                        description: Cost in cents. For example, for $1.20, put 120.
                        example: 120
                      availableQuantity:
                        type: integer
                        description: 'Total quantity currently in stock. If your plan includes multi-location parts, this is the quantity across all part locations. Deprecated: Use `inStockQuantity` instead.'
                        example: 10
                        deprecated: true
                      inStockQuantity:
                        type: integer
                        description: Total quantity currently in stock. If your plan includes multi-location parts, this is the quantity across all part locations.
                        example: 10
                      minimumQuantity:
                        type: integer
                        description: Total minimum quantity before you should restock. If your plan includes multi-location parts, this is the quantity across all part locations.
                        example: 5
                      barcode:
                        type:
                        - string
                        - 'null'
                        example: bWFpbnRhaW54Cg==
                        description: String encoded barcode
                      locationId:
                        type:
                        - integer
                        - 'null'
                        example: 852
                        description: 'ID of the location where the part is located. Deprecated: for Parts with multiple locations, use the new field in `locations`'
                        deprecated: true
                      locations:
                        type: array
                        items:
                          type: object
                          required:
                          - locationId
                          properties:
                            locationId:
                              type: integer
                              example: 852
                              description: ID of the location where the part is located
                            availableQuantity:
                              type: integer
                              description: Quantity currently in stock
                              example: 10
                            minimumQuantity:
                              type:
                              - integer
                              - 'null'
                              description: Minimum quantity before you should restock
                              example: 5
                            maximumQuantity:
                              type:
                              - integer
                              - 'null'
                              example: 100
                              description: Maximum quantity you want to stock. Must be greater than or equal to minimumQuantity.
                            area:
                              type:
                              - string
                              - 'null'
                              example: tool room
                            reservedQuantity:
                              type:
                              - integer
                              - 'null'
                              description: 'Quantity currently reserved for work orders. Deprecated: Use `committedQuantities.reserved` instead.'
                              example: 10
                              deprecated: true
                            committedQuantities:
                              type: object
                              description: Quantities of the part currently committed to work orders, broken down by stage.
                              properties:
                                kitted:
                                  type: integer
                                  description: Quantity of parts that have been kitted for work orders
                                  example: 5
                                reserved:
                                  type: integer
                                  description: Quantity of parts reserved for work orders
                                  example: 3
                                staged:
                                  type: integer
                                  description: Quantity of parts that have been staged for work orders
                                  example: 2
                            assignedQuantity:
                              type: integer
                              description: Quantity currently assigned to work orders at this location
                              example: 5
                        description: Detailed list of locations where the part is stored, including properties such as available quantity, minimum quantity, reserved quantity, and area within each location.
                      partTypes:
                        type: array
                        items:
                          type: string
                        description: List of part types
                      assetIds:
                        type: array
                        items:
                          type: integer
                        example:
                        - 12
                        - 4561
                        description: List of asset IDs
                      teamIds:
                        type: array
                        items:
                          type: integer
                        example:
                        - 1
                        - 4
                        description: List of team IDs in charge of the part
                      extraFields:
                        type: object
                        description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Part Number")'
                        additionalProperties:
                          type: string
                        example:
                          Part Number: '000000000'
                      vendors:
                        type: array
                        description: List of vendors of the part
                        items:
                          type: object
                          properties:
                            vendorId:
                              type: integer
                              example: '1'
                              description: Id of the vendor
                            partNumber:
                              type: string
                              example: XC230
                              description: Part number given to the part by this vendor
                      orderedQuantity:
                        type: integer
                        description: Total quantity currently on order from purchase orders. If your plan includes multi-location parts, this is the quantity across all part locations.
                        example: 15
                      reservedQuantity:
                        type: integer
                        description: 'Total quantity currently reserved for work orders. If your plan includes multi-location parts, this is the quantity across all part locations. Deprecated: Use `committedQuantities.reserved` instead.'
                        example: 3
                        deprecated: true
                      committedQuantities:
                        type: object
                        description: Quantities of the part currently committed to work orders, broken down by stage.
                        properties:
                          kitted:
                            type: integer
                            description: Quantity of parts that have been kitted for work orders
                            example: 5
                          reserved:
                            type: integer
                            description: Quantity of parts reserved for work orders
                            example: 3
                          staged:
                            type: integer
                            description: Quantity of parts that have been staged for work orders
                            example: 2
                      assignedQuantity:
                        type: integer
                        description: Total quantity currently assigned to work orders across all stages.
                        example: 10
                      maximumQuantity:
                        type:
                        - integer
                        - 'null'
                        example: 100
                        description: Total maximum quantity to keep in stock. Null when no part location has a max set. If your plan includes multi-location parts, this is the quantity across all part locations.
                      vendorIds:
                        type: array
                        items:
                          type: integer
                        example:
                        - 23
                        - 56
                        description: 'List of vendor IDs. Deprecated: Use the `vendorId` field inside `vendors`.'
                        deprecated: true
                      thumbnail:
                        type:
                        - object
                        - 'null'
                        title: attachment
                        required:
                        - id
                        - mimeType
                        - fileName
                        - url
                        - createdAt
                        properties:
                          id:
                            type: number
                            description: Global ID of the attachment
                            example: 12345
                          mimeType:
                            type: string
                            description: MIME type of the file
                            example: image/png
                          fileName:
                            type: string
                            description: Attachment's file name
                            example: image.png
                          url:
                            type: string
                            description: Url of the file. Valid for 60 minutes.
                            example: http://example.com/image.png
                          createdAt:
                            type: string
                            format: date-time
                            description: Date & time at which the attachment was uploaded
                            example: '2022-01-01T00:00:00.000Z'
                          width:
                            type:
                            - number
                            - 'null'
                            description: Width if the file is an image
                            example: 220
                          height:
                            type:
                            - number
                            - 'null'
                            description: Height if the file is an image
                            example: 100
                      attachments:
                        type: array
                        title: attachment
                        description: List of attachments linked to the part
                        items:
                          type: object
                          title: attachment
                          required:
                          - id
                          - mimeType
                          - fileName
                          - url
                          - createdAt
                          properties:
                            id:
                              type: number
                              description: Global ID of the attachment
                              example: 12345
                            mimeType:
                              type: string
                              description: MIME type of the file
                              example: image/png
                            fileName:
                              type: string
                              description: Attachment's file name
                              example: image.png
                            url:
                              type: string
                              description: Url of the file. Valid for 60 minutes.
                              example: http://example.com/image.png
                            createdAt:
                              type: string
                              format: date-time
                              description: Date & time at which the attachment was uploaded
                              example: '2022-01-01T00:00:00.000Z'
                            width:
                              type:
                              - number
                              - 'null'
                              description: Width if the file is an image
                              example: 220
                            height:
                              type:
                              - number
                              - 'null'
                              description: Height if the file is an image
                              example: 100
                      createdAt:
                        type: string
                        format: date-time
                        description: Date & time at which the part was created
                        example: '2022-01-01T00:00:00.000Z'
                      updatedAt:
                        type: string
                        format: date-time
                        description: Date & time at which the part was last updated. This doesn't include comments
                        example: '2022-01-01T00:00:00.000Z'
                      deletedAt:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: Date at which the part was deleted
                        example: '2022-01-01T00:00:00.000Z'
        '400':
          description: Error with query
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    description: Description of error
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified part or the user cannot access it.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Not Found.
      tags:
      - Parts
      operationId: getPartsById
      x-operation-id-source: derived
    patch:
      summary: Update part
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the part
        example: '1'
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      requestBody:
        description: Part to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Locknut - 1/8
                description:
                  type:
                  - string
                  - 'null'
                  example: ''
                area:
                  type:
                  - string
                  - 'null'
                  example: tool room
                  description: 'Area of the part. Deprecated: Use new field inside `locations`. Will cause error if both fields are sent. See https://help.getmaintainx.com/multi-location-parts#integration-issues-with-multi-location-parts for more information.'
                  deprecated: true
                unitCost:
                  type:
                  - integer
                  - 'null'
                  description: Cost in cents. For example, for $1.20, put 120.
                  example: 120
                availableQuantity:
                  type: integer
                  description: 'Total quantity currently in stock. Deprecated: Use new field inside `locations`. Will cause error if both fields are sent. See https://help.getmaintainx.com/multi-location-parts#integration-issues-with-multi-location-parts for more information.'
                  example: 10
                  deprecated: true
                minimumQuantity:
                  type: integer
                  description: 'Total minimum quantity before you should restock. Deprecated: Use new field inside `locations`. Will cause error if both fields are sent. See https://help.getmaintainx.com/multi-location-parts#integration-issues-with-multi-location-parts for more information.'
                  example: 5
                  deprecated: true
                barcode:
                  type:
                  - string
                  - 'null'
                  example: bWFpbnRhaW54Cg==
                  description: String encoded barcode
                locationId:
                  type:
                  - integer
                  - 'null'
                  example: 852
                  description: 'ID of the location where the part is located. Deprecated: Use new field inside `locations`. Will cause error if both fields are sent. See https://help.getmaintainx.com/multi-location-parts#integration-issues-with-multi-location-parts for more information.'
                  deprecated: true
                partTypes:
                  type: array
                  items:
                    type: string
                  description: List of part types
                assetIds:
                  type: array
                  items:
                    type: integer
                  example:
                  - 12
                  - 4561
                  description: List of asset IDs
                teamIds:
                  type: array
                  items:
                    type: integer
                  example:
                  - 1
                  - 4
                  description: List of team IDs in charge of the part
                extraFields:
                  type: object
                  description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Part Number")'
                  additionalProperties:
                    type: string
                  example:
                    Part Number: '000000000'
                vendors:
                  type: array
                  description: List of vendors of the part
                  items:
                    type: object
                    properties:
                      vendorId:
                        type: integer
                        example: '1'
                        description: Id of the vendor
                      partNumber:
                        type: string
                        example: XC230
                        description: Part number given to the part by this vendor
                committedQuantities:
                  type: object
                  description: Quantities of the part currently committed to work orders, broken down by stage.
                  properties:
                    kitted:
                      type: integer
                      description: Quantity of parts that have been kitted for work orders
                      example: 5
                    reserved:
                      type: integer
                      description: Quantity of parts reserved for work orders
                      example: 3
                    staged:
                      type: integer
                      description: Quantity of parts that have been staged for work orders
                      example: 2
                assignedQuantity:
                  type: integer
                  description: Total quantity currently assigned to work orders across all stages.
                  example: 10
                vendorIds:
                  type: array
                  items:
                    type: integer
                  example:
                  - 23
                  - 56
                  description: 'List of vendor IDs. Deprecated: Use the `vendorId` field inside `vendors`.'
                  deprecated: true
                createdAt:
                  type: string
                  format: date-time
                  description: Date & time at which the part was created
                  example: '2022-01-01T00:00:00.000Z'
                updatedAt:
                  type: string
                  format: date-time
                  description: Date & time at which the part was last updated. This doesn't include comments
                  example: '2022-01-01T00:00:00.000Z'
                deletedAt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: Date at which the part was deleted
                  example: '2022-01-01T00:00:00.000Z'
                locations:
                  type: object
                  properties:
                    addedUpdated:
                      type: array
                      items:
                        type: object
                        required:
                        - locationId
                        properties:
                          locationId:
                            type: integer
                            example: 852
                            description: ID of the location where the part is located
                          availableQuantity:
                            type: integer
                            description: Quantity currently in stock
                            example: 10
                          minimumQuantity:
                            type:
                            - integer
                            - 'null'
                            description: Minimum quantity before you should restock
                            example: 5
                          maximumQuantity:
                            type:
                            - integer
                            - 'null'
                            example: 100
                            description: Maximum quantity you want to stock. Must be greater than or equal to minimumQuantity.
                          area:
                            type:
                            - string
                            - 'null'
                            example: tool room
                      description: List of locations to add or update
                    removedLocationIds:
                      type: array
                      items:
                        type: integer
                      description: List of location IDs to remove from the part
                      example:
                      - 742
                      - 514
                  description: List of locations to add, update or remove.
      responses:
        '200':
          description: Successfully edited part
          content:
            application/json:
              schema:
                type: object
                required:
                - part
                properties:
                  part:
                    type: object
                    required:
                    - id
                    - name
                    properties:
                      id:
                        type: integer
                        example: 123456
                        description: Global ID of the part
                      name:
                        type: string
                        example: Locknut - 1/8
                      description:
                        type:
                        - string
                        - 'null'
                        example: ''
                      area:
                        type:
                        - string
                        - 'null'
                        example: tool room
                        description: 'Area of the part. Deprecated: for Parts with multiple locations, use the new field in `locations`'
                        deprecated: true
                      unitCost:
                        type:
                        - integer
                        - 'null'
                        description: Cost in cents. For example, for $1.20, put 120.
                        example: 120
                      availableQuantity:
                        type: integer
                        description: 'Total quantity currently in stock. If your plan includes multi-location parts, this is the quantity across all part locations. Deprecated: Use `inStockQuantity` instead.'
                        example: 10
                        deprecated: true
                      inStockQuantity:
                        type: integer
                        description: Total quantity currently in stock. If your plan includes multi-location parts, this is the quantity across all part locations.
                        example: 10
                      minimumQuantity:
                        type: integer
                        description: Total minimum quantity before you should restock. If your plan includes multi-location parts, this is the quantity across all part locations.
                        example: 5
                      barcode:
                        type:
                        - string
                        - 'null'
                        example: bWFpbnRhaW54Cg==
                        description: String encoded barcode
                      locationId:
                        type:
                        - integer
                        - 'null'
                        example: 852
                        description: 'ID of the location where the part is located. Deprecated: for Parts with multiple locations, use the new field in `locations`'
                        deprecated: true
                      locations:
                        type: array
                        items:
                          type: object
                          required:
                          - locationId
                          properties:
                            locationId:
                              type: integer
                              example: 852
                              description: ID of the location where the part is located
                            availableQuantity:
                              type: integer
                              description: Quantity currently in stock
                              example: 10
                            minimumQuantity:
                              type:
                              - integer
                              - 'null'
                              description: Minimum quantity before you should restock
                              example: 5
                            maximumQuantity:
                              type:
                              - integer
                              - 'null'
                              example: 100
                              description: Maximum quantity you want to stock. Must be greater than or equal to minimumQuantity.
                            area:
                              type:
                              - string
                              - 'null'
                              example: tool room
                            reservedQuantity:
                              type:
                              - integer
                              - 'null'
                              description: 'Quantity currently reserved for work orders. Deprecated: Use `committedQuantities.reserved` instead.'
                              example: 10
                              deprecated: true
                            committedQuantities:
                              type: object
                              description: Quantities of the part currently committed to work orders, broken down by stage.
                              properties:
                                kitted:
                                  type: integer
                                  description: Quantity of parts that have been kitted for work orders
                                  example: 5
                                reserved:
                                  type: integer
                                  description: Quantity of parts reserved for work orders
                                  example: 3
                                staged:
                                  type: integer
                                  description: Quantity of parts that have been staged for work orders
                                  example: 2
                            assignedQuantity:
                              type: integer
                              description: Quantity currently assigned to work orders at this location
                              example: 5
                        description: Detailed list of locations where the part is stored, including properties such as available quantity, minimum quantity, reserved quantity, and area within each location.
                      partTypes:
                        type: array
                        items:
                          type: string
                        description: List of part types
                      assetIds:
                        type: array
                        items:
                          type: integer
                        example:
                        - 12
                        - 4561
                        description: List of asset IDs
                      teamIds:
                        type: array
                        items:
                          type: integer
                        example:
                        - 1
                        - 4
                        description: List of team IDs in charge of the part
                      extraFields:
                        type: object
                        description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Part Number")'
                        additionalProperties:
                          type: string
                        example:
                          Part Number: '000000000'
                      vendors:
                        type: array
                        description: List of vendors of the part
                        items:
                          type: object
                          properties:
                            vendorId:
                              type: integer
                              example: '1'
                              description: Id of the vendor
                            partNumber:
                              type: string
                              example: XC230
                              description: Part number given to the part by this vendor
                      orderedQuantity:
                        type: integer
                        description: Total quantity currently on order from purchase orders. If your plan includes multi-location parts, this is the quantity across all part locations.
                        example: 15
                      reservedQuantity:
                        type: integer
                        description: 'Total quantity currently reserved for work orders. If your plan includes multi-location parts, this is the quantity across all part locations. Deprecated: Use `committedQuantities.reserved` instead.'
                        example: 3
                        deprecated: true
                      committedQuantities:
                        type: object
                        description: Quantities of the part currently committed to work orders, broken down by stage.
                        properties:
                          kitted:
                            type: integer
                            description: Quantity of parts that have been kitted for work orders
                            example: 5
                          reserved:
                            type: integer
                            description: Quantity of parts reserved for work orders
                            example: 3
                          staged:
                            type: integer
                            description: Quantity of parts that have been staged for work orders
                            example: 2
                      assignedQuantity:
                        type: integer
                        description: Total quantity currently assigned to work orders across all stages.
                        example: 10
                      maximumQuantity:
                        type:
                        - integer
                        - 'null'
                        example: 100
                        description: Total maximum quantity to keep in stock. Null when no part location has a max set. If your plan includes multi-location parts, this is the quantity across all part locations.
                      vendorIds:
                        type: array
                        items:
                          type: integer
                        example:
                        - 23
                        - 56
                        description: 'List of vendor IDs. Deprecated: Use the `vendorId` field inside `vendors`.'
                        deprecated: true
                      thumbnail:
                        type:
                        - object
                        - 'null'
                        title: attachment
                        required:
                        - id
                        - mimeType
                        - fileName
                        - url
                        - createdAt
                        properties:
                          id:
                            type: number
                            description: Global ID of the attachment
                            example: 12345
                          mimeType:
                            type: string
                            description: MIME type of the file
                            example: image/png
                          fileName:
                            type: string
                            description: Attachment's file name
                            example: image.png
                          url:
                            type: string
                            description: Url of the file. Valid for 60 minutes.
                            example: http://example.com/image.png
                          createdAt:
                            type: string
                            format: date-time
                            description: Date & time at which the attachment was uploaded
                            example: '2022-01-01T00:00:00.000Z'
                          width:
                            type:
                            - number
                            - 'null'
                            description: Width if the file is an image
                            example: 220
                          height:
                            type:
                            - number
                            - 'null'
                            description: Height if the file is an image
                            example: 100
                      attachments:
                        type: array
                        title: attachment
                        description: List of attachments linked to the part
                        items:
                          type: object
                          title: attachment
                          required:
                          - id
                          - mimeType
                          - fileName
                          - url
                          - createdAt
                          properties:
                            id:
                              type: number
                              description: Global ID of the attachment
                              example: 12345
                            mimeType:
                              type: string
                              description: MIME type of the file
                              example: image/png
                            fileName:
                              type: string
                              description: Attachment's file name
                              example: image.png
                            url:
                              type: string
                              description: Url of the file. Valid for 60 minutes.
                              example: http://example.com/image.png
                            createdAt:
                              type: string
                              format: date-time
                              description: Date & time at which the attachment was uploaded
                              example: '2022-01-01T00:00:00.000Z'
                            width:
                              type:
                              - number
                              - 'null'
                              description: Width if the file is an image
                              example: 220
                            height:
                              type:
                              - number
                              - 'null'
                              description: Height if the file is an image
                              example: 100
                      createdAt:
                        type: string
                        format: date-time
                        description: Date & time at which the part was created
                        example: '2022-01-01T00:00:00.000Z'
                      updatedAt:
                        type: string
                        format: date-time
                        description: Date & time at which the part was last updated. This doesn't include comments
                        example: '2022-01-01T00:00:00.000Z'
                      deletedAt:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: Date at which the part was deleted
                        example: '2022-01-01T00:00:00.000Z'
        '400':
          description: OrganizationId was not provided
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: Missing x-organization-id header.
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified part.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: part Not Found
      tags:
      - Parts
      operationId: patchPartsById
      x-operation-id-source: derived
    delete:
      summary: Delete part
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the part
        example: '1'
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      responses:
        '204':
          description: Successfully deleted the part
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified part.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: part Not Found
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Internal server error.
      tags:
      - Parts
      operationId: deletePartsById
      x-operation-id-source: derived
  /parts/{id}/attachments/{filename}:
    put:
      summary: Update part attachment
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the part.
        example: '1'
      - schema:
          type: string
        name: filename
        in: path
        required: true
        description: Name of the attachment, including the extension.
        example: datasheet.pdf
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      requestBody:
        description: Content type should be `application/octet-stream` and payload should use binary format for the attachment.
        required: true
        content:
          application/octet-stream:
            schema:
              type: object
              format: binary
          image/jpeg:
            schema:
              type: object
              format: binary
          image/png:
            schema:
              type: object
              format: binary
          image/gif:
            schema:
              type: object
              format: binary
          image/webp:
            schema:
              type: object
              format: binary
          image/flif:
            schema:
              type: object
              format: binary
          image/x-xcf:
            schema:
              type: object
              format: binary
          image/x-canon-cr2:
            schema:
              type: object
              format: binary
          image/x-canon-cr3:
            schema:
              type: object
              format: binary
          image/tiff:
            schema:
              type: object
              format: binary
          image/bmp:
            schema:
              type: object
              format: binary
          image/vnd.ms-photo:
            schema:
              type: object
              format: binary
          image/vnd.adobe.photoshop:
            schema:
              type: object
              format: binary
          application/x-indesign:
            schema:
              type: object
              format: binary
          application/epub+zip:
            schema:
              type: object
              format: binary
          application/x-xpinstall:
            schema:
              type: object
              format: binary
          application/vnd.ms-powerpoint.slideshow.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.text:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.spreadsheet:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.presentation:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.wordprocessingml.document:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.presentationml.presentation:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.presentationml.slideshow:
            schema:
              type: object
              format: binary
          application/zip:
            schema:
              type: object
              format: binary
          application/x-tar:
            schema:
              type: object
              format: binary
          application/x-rar-compressed:
            schema:
              type: object
              format: binary
          application/gzip:
            schema:
              type: object
              format: binary
          application/x-bzip2:
            schema:
              type: object
              format: binary
          application/x-7z-compressed:
            schema:
              type: object
              format: binary
          application/x-apple-diskimage:
            schema:
              type: object
              format: binary
          application/vnd.apache.arrow.file:
            schema:
              type: object
              format: binary
          video/mp4:
            schema:
              type: object
              format: binary
          audio/midi:
            schema:
              type: object
              format: binary
          video/matroska:
            schema:
              type: object
              format: binary
          video/webm:
            schema:
              type: object
              format: binary
          video/quicktime:
            schema:
              type: object
              format: binary
          video/vnd.avi:
            schema:
              type: object
              format: binary
          audio/wav:
            schema:
              type: object
              format: binary
          audio/qcelp:
            schema:
              type: object
              format: binary
          audio/x-ms-asf:
            schema:
              type: object
              format: binary
          video/x-ms-asf:
            schema:
              type: object
              format: binary
          application/vnd.ms-asf:
            schema:
              type: object
              format: binary
          video/mpeg:
            schema:
              type: object
              format: binary
          video/3gpp:
            schema:
              type: object
              format: binary
          audio/mpeg:
            schema:
              type: object
              format: binary
          audio/mp4:
            schema:
              type: object
              format: binary
          video/ogg:
            schema:
              type: object
              format: binary
          audio/ogg:
            schema:
              type: object
              format: binary
          audio/ogg; codecs=opus:
            schema:
              type: object
              format: binary
          application/ogg:
            schema:
              type: object
              format: binary
          audio/flac:
            schema:
              type: object
              format: binary
          audio/ape:
            schema:
              type: object
              format: binary
          audio/wavpack:
            schema:
              type: object
              format: binary
          audio/amr:
            schema:
              type: object
              format: binary
          application/pdf:
            schema:
              type: object
              format: binary
          application/x-elf:
            schema:
              type: object
              format: binary
          application/x-mach-binary:
            schema:
              type: object
              format: binary
          application/x-msdownload:
            schema:
              type: object
              format: binary
          application/x-shockwave-flash:
            schema:
              type: object
              format: binary
          application/rtf:
            schema:
              type: object
              format: binary
          application/wasm:
            schema:
              type: object
              format: binary
          font/woff:
            schema:
              type: object
              format: binary
          font/woff2:
            schema:
              type: object
              format: binary
          application/vnd.ms-fontobject:
            schema:
              type: object
              format: binary
          font/ttf:
            schema:
              type: object
              format: binary
          font/otf:
            schema:
              type: object
              format: binary
          font/collection:
            schema:
              type: object
              format: binary
          image/x-icon:
            schema:
              type: object
              format: binary
          video/x-flv:
            schema:
              type: object
              format: binary
          application/postscript:
            schema:
              type: object
              format: binary
          application/eps:
            schema:
              type: object
              format: binary
          application/x-xz:
            schema:
              type: object
              format: binary
          application/x-sqlite3:
            schema:
              type: object
              format: binary
          application/x-nintendo-nes-rom:
            schema:
              type: object
              format: binary
          application/x-google-chrome-extension:
            schema:
              type: object
              format: binary
          application/vnd.ms-cab-compressed:
            schema:
              type: object
              format: binary
          application/x-deb:
            schema:
              type: object
              format: binary
          application/x-unix-archive:
            schema:
              type: object
              format: binary
          application/x-rpm:
            schema:
              type: object
              format: binary
          application/x-compress:
            schema:
              type: object
              format: binary
          application/lzip:
            schema:
              type: object
              format: binary
          application/x-cfb:
            schema:
              type: object
              format: binary
          application/x-mie:
            schema:
              type: object
              format: binary
          application/mxf:
            schema:
              type: object
              format: binary
          video/mp2t:
            schema:
              type: object
              format: binary
          application/x-blender:
            schema:
              type: object
              format: binary
          image/bpg:
            schema:
              type: object
              format: binary
          image/j2c:
            schema:
              type: object
              format: binary
          image/jp2:
            schema:
              type: object
              format: binary
          image/jpx:
            schema:
              type: object
              format: binary
          image/jpm:
            schema:
              type: object
              format: binary
          image/mj2:
            schema:
              type: object
              format: binary
          audio/aiff:
            schema:
              type: object
              format: binary
          application/xml:
            schema:
              type: object
              format: binary
          application/x-mobipocket-ebook:
            schema:
              type: object
              format: binary
          image/heif:
            schema:
              type: object
              format: binary
          image/heif-sequence:
            schema:
              type: object
              format: binary
          image/heic:
            schema:
              type: object
              format: binary
          image/heic-sequence:
            schema:
              type: object
              format: binary
          image/icns:
            schema:
              type: object
              format: binary
          image/ktx:
            schema:
              type: object
              format: binary
          application/dicom:
            schema:
              type: object
              format: binary
          audio/x-musepack:
            schema:
              type: object
              format: binary
          text/calendar:
            schema:
              type: object
              format: binary
          text/vcard:
            schema:
              type: object
              format: binary
          text/vtt:
            schema:
              type: object
              format: binary
          model/gltf-binary:
            schema:
              type: object
              format: binary
          application/vnd.tcpdump.pcap:
            schema:
              type: object
              format: binary
          audio/x-dsf:
            schema:
              type: object
              format: binary
          application/x-ms-shortcut:
            schema:
              type: object
              format: binary
          application/x-ft-apple.alias:
            schema:
              type: object
              format: binary
          audio/x-voc:
            schema:
              type: object
              format: binary
          audio/vnd.dolby.dd-raw:
            schema:
              type: object
              format: binary
          audio/x-m4a:
            schema:
              type: object
              format: binary
          image/apng:
            schema:
              type: object
              format: binary
          image/x-olympus-orf:
            schema:
              type: object
              format: binary
          image/x-sony-arw:
            schema:
              type: object
              format: binary
          image/x-adobe-dng:
            schema:
              type: object
              format: binary
          image/x-nikon-nef:
            schema:
              type: object
              format: binary
          image/x-panasonic-rw2:
            schema:
              type: object
              format: binary
          image/x-fujifilm-raf:
            schema:
              type: object
              format: binary
          video/x-m4v:
            schema:
              type: object
              format: binary
          video/3gpp2:
            schema:
              type: object
              format: binary
          application/x-esri-shape:
            schema:
              type: object
              format: binary
          audio/aac:
            schema:
              type: object
              format: binary
          audio/x-it:
            schema:
              type: object
              format: binary
          audio/x-s3m:
            schema:
              type: object
              format: binary
          audio/x-xm:
            schema:
              type: object
              format: binary
          video/mp1s:
            schema:
              type: object
              format: binary
          video/mp2p:
            schema:
              type: object
              format: binary
          application/vnd.sketchup.skp:
            schema:
              type: object
              format: binary
          image/avif:
            schema:
              type: object
              format: binary
          application/x-lzh-compressed:
            schema:
              type: object
              format: binary
          application/pgp-encrypted:
            schema:
              type: object
              format: binary
          application/x-asar:
            schema:
              type: object
              format: binary
          model/stl:
            schema:
              type: object
              format: binary
          application/vnd.ms-htmlhelp:
            schema:
              type: object
              format: binary
          model/3mf:
            schema:
              type: object
              format: binary
          image/jxl:
            schema:
              type: object
              format: binary
          application/zstd:
            schema:
              type: object
              format: binary
          image/jls:
            schema:
              type: object
              format: binary
          application/vnd.ms-outlook:
            schema:
              type: object
              format: binary
          image/vnd.dwg:
            schema:
              type: object
              format: binary
          application/vnd.apache.parquet:
            schema:
              type: object
              format: binary
          application/java-vm:
            schema:
              type: object
              format: binary
          application/x-arj:
            schema:
              type: object
              format: binary
          application/x-cpio:
            schema:
              type: object
              format: binary
          application/x-ace-compressed:
            schema:
              type: object
              format: binary
          application/avro:
            schema:
              type: object
              format: binary
          application/vnd.iccprofile:
            schema:
              type: object
              format: binary
          application/x-ft-fbx:
            schema:
              type: object
              format: binary
          application/vnd.visio:
            schema:
              type: object
              format: binary
          application/vnd.android.package-archive:
            schema:
              type: object
              format: binary
          application/x-ft-draco:
            schema:
              type: object
              format: binary
          application/x-lz4:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.presentationml.template:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.spreadsheetml.template:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.wordprocessingml.template:
            schema:
              type: object
              format: binary
          application/vnd.ms-excel.template.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.text-template:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.spreadsheet-template:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.presentation-template:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.graphics:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.graphics-template:
            schema:
              type: object
              format: binary
          application/vnd.ms-excel.sheet.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.ms-word.document.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.ms-word.template.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.ms-powerpoint.template.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.ms-powerpoint.presentation.macroenabled.12:
            schema:
              type: object
              format: binary
          application/java-archive:
            schema:
              type: object
              format: binary
          application/vnd.rn-realmedia:
            schema:
              type: object
              format: binary
          application/x-spss-sav:
            schema:
              type: object
              format: binary
          application/x-ms-regedit:
            schema:
              type: object
              format: binary
          application/x-ft-windows-registry-hive:
            schema:
              type: object
              format: binary
          application/x-jmp-data:
            schema:
              type: object
              format: binary
          application/vnd.apple.keynote:
            schema:
              type: object
              format: binary
          application/vnd.apple.numbers:
            schema:
              type: object
              format: binary
          application/vnd.apple.pages:
            schema:
              type: object
              format: binary
          application/x-apache-arrow:
            schema:
              type: object
              format: binary
          application/x-lzip:
            schema:
              type: object
              format: binary
          application/x.apple.alias:
            schema:
              type: object
              format: binary
          application/x.ms.shortcut:
            schema:
              type: object
              format: binary
          audio/opus:
            schema:
              type: object
              format: binary
          audio/vnd.wave:
            schema:
              type: object
              format: binary
          audio/x-flac:
            schema:
              type: object
              format: binary
          video/x-matroska:
            schema:
              type: object
              format: binary
      responses:
        '201':
          description: Successfully updated part's attachment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  publicUrl:
                    type: string
                  filename:
                    type: string
                  fileKey:
                    type: string
        '400':
          description: Bad arguments.
          content:
            application/json:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified part.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: part Not Found
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Attachment size must not exceed 1mB
      tags:
      - Parts
      operationId: putPartsByIdAttachmentsByFilename
      x-operation-id-source: derived
    delete:
      summary: Remove part attachment
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the part.
        example: '1'
      - schema:
          type: string
        name: filename
        in: path
        required: true
        description: Name of the attachment, including the extension.
        example: attachment.xls
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      responses:
        '204':
          description: Successfully removed part's attachment.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified Attachment.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Attachment Not Found
      tags:
      - Parts
      operationId: deletePartsByIdAttachmentsByFilename
      x-operation-id-source: derived
  /parts/{id}/thumbnail/{filename}:
    put:
      summary: Update part's thumbnail
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the part.
        example: '1'
      - schema:
          type: string
        name: filename
        in: path
        required: true
        description: Name of the part thumbnail, including the extension.
        example: motor.png
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      requestBody:
        description: Content type should be `application/octet-stream` and payload should use binary format for the thumbnail.
        required: true
        content:
          application/octet-stream:
            schema:
              type: object
              format: binary
          image/jpeg:
            schema:
              type: object
              format: binary
          image/png:
            schema:
              type: object
              format: binary
          image/gif:
            schema:
              type: object
              format: binary
          image/webp:
            schema:
              type: object
              format: binary
          image/flif:
            schema:
              type: object
              format: binary
          image/x-xcf:
            schema:
              type: object
              format: binary
          image/x-canon-cr2:
            schema:
              type: object
              format: binary
          image/x-canon-cr3:
            schema:
              type: object
              format: binary
          image/tiff:
            schema:
              type: object
              format: binary
          image/bmp:
            schema:
              type: object
              format: binary
          image/vnd.ms-photo:
            schema:
              type: object
              format: binary
          image/vnd.adobe.photoshop:
            schema:
              type: object
              format: binary
          image/x-icon:
            schema:
              type: object
              format: binary
          image/bpg:
            schema:
              type: object
              format: binary
          image/j2c:
            schema:
              type: object
              format: binary
          image/jp2:
            schema:
              type: object
              format: binary
          image/jpx:
            schema:
              type: object
              format: binary
          image/jpm:
            schema:
              type: object
              format: binary
          image/mj2:
            schema:
              type: object
              format: binary
          image/heif:
            schema:
              type: object
              format: binary
          image/heif-sequence:
            schema:
              type: object
              format: binary
          image/heic:
            schema:
              type: object
              format: binary
          image/heic-sequence:
            schema:
              type: object
              format: binary
          image/icns:
            schema:
              type: object
              format: binary
          image/ktx:
            schema:
              type: object
              format: binary
          image/apng:
            schema:
              type: object
              format: binary
          image/x-olympus-orf:
            schema:
              type: object
              format: binary
          image/x-sony-arw:
            schema:
              type: object
              format: binary
          image/x-adobe-dng:
            schema:
              type: object
              format: binary
          image/x-nikon-nef:
            schema:
              type: object
              format: binary
          image/x-panasonic-rw2:
            schema:
              type: object
              format: binary
          image/x-fujifilm-raf:
            schema:
              type: object
              format: binary
          image/avif:
            schema:
              type: object
              format: binary
          image/jxl:
            schema:
              type: object
              format: binary
          image/jls:
            schema:
              type: object
              format: binary
          image/vnd.dwg:
            schema:
              type: object
              format: binary
      responses:
        '201':
          description: Successfully updated part's thumbnail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  publicUrl:
                    type: string
                  filename:
                    type: string
                  fileKey:
                    type: string
        '400':
          description: Bad arguments.
          content:
            application/json:
[...]
