openapi: 3.0.0
info:
  description: Welcome to the MaintainX API documentation!<br/><br/>You can use the MaintainX API to programmatically interact with all the entities in MaintainX. Use it to retrieve and manage data of Work Orders, Work Requests, Assets, and more!<br/><br/>To get started, in your MaintainX account go to <a href="https://app.getmaintainx.com/settings/integrations/apiKeys">"Settings &gt; Integrations"</a> and click "&plus; New Key" button to generate a new Rest API key.<br/><br/><b>Missing something?</b><br/>Don't hesitate to reach out <a href="mailto:support@getmaintainx.com">support@getmaintainx.com</a><br/><br/>
  version: '1'
  title: MaintainX Asset Criticalities Meter Triggers API
  contact:
    url: https://www.getmaintainx.com/
    name: Support
    email: support@getmaintainx.com
  x-logo:
    url: https://maintainx-static.s3-us-west-2.amazonaws.com/img/default-org-logo.png
    backgroundColor: '#FFFFFF'
    altText: MaintainX logo
servers:
- url: https://api.getmaintainx.com/v1
  description: Endpoint
security:
- Bearer: []
tags:
- name: Meter Triggers
  description: Operations on Meter Triggers
  x-traitTag: false
paths:
  /metertriggers:
    post:
      summary: Create meter trigger
      requestBody:
        description: The meter trigger to create
        required: true
        content:
          application/json:
            schema:
              type: object
              description: The meter triger data
              required:
              - meterTrigger
              properties:
                meterTrigger:
                  required:
                  - meterId
                  - amount
                  - condition
                  - name
                  type: object
                  properties:
                    meterId:
                      type: integer
                    workOrderTemplateId:
                      type: integer
                      description: 'Id of an existing work order template. Once this is set, the `workOrderTemplate` object will completely be ignored in favour of the work order template associated with the id. NOTE: If this is set, the name of the meter trigger will match the name of the linked work order template.'
                    amount:
                      type: number
                    condition:
                      type: string
                      enum:
                      - DECREMENTED_BY
                      - INCREMENTED_BY
                      - IS_EQUAL
                      - IS_GREATER
                      - IS_LESS
                      - INCREMENTED_BY_BASED_ON_LAST_READING
                      - DECREMENTED_BY_BASED_ON_LAST_READING
                    dataPoints:
                      type: object
                      required:
                      - numerator
                      - denominator
                      properties:
                        numerator:
                          type: integer
                          description: 'The number of data points out of "denominator" data points to trigger. E.g: 3 points out of 5 must be in a triggering state'
                        denominator:
                          type: integer
                          description: The window of points where the condition gets checked
                    description:
                      type: string
                    minDateForProcessing:
                      type: string
                      format: date-time
                      description: Date that the trigger will start to be active
                    name:
                      type: string
                      description: Name of the trigger
                    nextTriggerValue:
                      type: number
                      description: Can be set to override the first trigger value
                    period:
                      type: integer
                      description: Window in seconds where the data points can be checked
                      nullable: true
                workOrderTemplate:
                  type: object
                  properties:
                    procedureTemplateId:
                      nullable: true
                      type: integer
                      description: ID of the procedure template used
                    saveProcedureAsTemplate:
                      type: boolean
                      nullable: true
                      description: Save the procedure in data as a new procedure template
                    title:
                      deprecated: true
                      type: string
                      description: Title of the work order that will be generated. Use the meter trigger's name instead. If both `workOrderTemplate.title` and `meterTrigger.name` are provided, `meterTrigger.name` will be used.
                    data:
                      type: object
                      properties:
                        assetId:
                          nullable: true
                          type: integer
                        assigneeIds:
                          type: array
                          description: Users IDs assigned to the template
                          items:
                            type: number
                            example: 1
                        description:
                          nullable: true
                          type: string
                          example: A work order sample description
                        dueDate:
                          type: object
                          nullable: true
                          properties:
                            type:
                              type: string
                              enum:
                              - OFFSET
                            offset:
                              type: number
                        locationId:
                          nullable: true
                          type: integer
                          description: Global ID of the location assigned to the work order
                        partsUsed:
                          type: array
                          nullable: true
                          items:
                            type: object
                            properties:
                              partId:
                                type: integer
                                example: 963
                                description: Global ID of the part
                              quantityUsed:
                                type: integer
                                description: Quantity used in the work order.
                                example: 120
                              locationId:
                                type: integer
                                nullable: true
                                description: Global ID of the location of the part
                                example: 852
                              copyOnRecurring:
                                type: string
                                description: Indicates if the parts will be copied to the next work order in the chain (if applicable).
                                default: Default
                                enum:
                                - NoCopy
                                - Copy
                                - Default
                        priority:
                          type: string
                          example: MEDIUM
                          enum:
                          - NONE
                          - LOW
                          - MEDIUM
                          - HIGH
                        procedure:
                          type: object
                          nullable: true
                          required:
                          - title
                          - fields
                          properties:
                            id:
                              type: number
                              example: 1234
                              deprecated: true
                              description: You should favor 'procedureTemplateId' to attach a procedure template.
                            title:
                              type: string
                              description: Title of the procedure
                              example: Control dashboard audit
                            fields:
                              type: array
                              items:
                                type: object
                                required:
                                - type
                                - label
                                properties:
                                  label:
                                    type: string
                                    example: 'Metal Parts: broken, loose, dented, rusty, missing'
                                  type:
                                    type: string
                                    example: INSPECTION_CHECK
                                    enum:
                                    - NUMBER
                                    - AMOUNT
                                    - TEXT
                                    - UNSUPPORTED
                                    - HEADING
                                    - FILE
                                    - SIGNATURE
                                    - MULTIPLE_CHOICE
                                    - INSPECTION_CHECK
                                    - YES_NO_NA
                                    - CHECKBOX
                                    - CHECKLIST
                                    - METER
                                    - DATE
                                    - CYCLE_COUNT
                                  description:
                                    type: string
                                    nullable: true
                                  choices:
                                    type: array
                                    items:
                                      example: Partially
                                      type: string
                                  urls:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - link
                                      properties:
                                        label:
                                          type: string
                                          description: Label of the url
                                          example: MaintainX Website
                                        link:
                                          type: string
                                          description: Link
                                          example: www.getmaintainx.com
                                  meterId:
                                    type: number
                                    example: 1
                                    nullable: true
                                    description: Id of the meter
                                  isDateAndTime:
                                    type: boolean
                                    default: false
                                    description: Indicate if a DATE field also contains the time
                                    example: false
                                  index:
                                    type: number
                                    example: 1
                                    description: Order which the row is displayed
                              description: Steps of a procedure
                        tagsIds:
                          type: array
                          description: Categories IDs
                          items:
                            type: number
                            example: 1
                        teamIds:
                          type: array
                          description: Teams IDs
                          items:
                            type: number
                            example: 1
                        title:
                          type: string
                          deprecated: true
                          description: Use the `title` field at the root level. If both `title` and `data.title` are provided, `title` will be used.
                        vendorIds:
                          type: array
                          description: Vendor IDs
                          items:
                            type: number
                            example: 1
      responses:
        '201':
          description: Successfully created the meter trigger
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                properties:
                  id:
                    type: number
                    example: 1
                    description: Id of the meter trigger
        '400':
          description: Failed to create the meter trigger
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: Unexpected error
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          nullable: true
                          type: string
                        fieldValue:
                          nullable: true
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      tags:
      - Meter Triggers
      parameters:
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      - schema:
          type: integer
        description: Required if using a multi organizations token
        name: x-organization-id
        in: header
        required: false
        example: '1'
    get:
      summary: List meter triggers
      description: Endpoint used to list meter trigger resources
      parameters:
      - name: cursor
        in: query
        schema:
          description: Last pagination reference
          type: string
      - name: limit
        in: query
        schema:
          description: max number of Meter Triggers returned
          type: integer
          minimum: 1
          maximum: 200
          default: 100
      - name: meters
        schema:
          type: array
          title: meter ID filters
          description: 'To filter by multiple meter IDs: `meters=630&meters=634`'
          items:
            type: integer
        in: query
      - schema:
          type: integer
        description: Required if using a multi organizations token
        name: x-organization-id
        in: header
        required: false
        example: '1'
      responses:
        '200':
          description: Successfully fetched Meter Triggers list
          content:
            application/json:
              schema:
                type: object
                required:
                - meterTriggers
                properties:
                  meterTriggers:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - name
                      - meterId
                      properties:
                        id:
                          type: number
                          example: 963
                          description: Global ID of the trigger.
                        name:
                          type: string
                          example: 'Thermometer #4'
                        meterId:
                          type: number
                          example: 53
                          description: Global ID of the meter.
                  nextCursor:
                    description: The cursor to retrieve the next page of Meter Triggers.
                    type: string
                    nullable: true
                  nextPageUrl:
                    description: Path with query parameters that can be used to retrieve the next page of Meter Triggers.
                    type: string
                    nullable: true
        '400':
          description: Error with query
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    description: Description of error
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      tags:
      - Meter Triggers
  /metertriggers/{id}:
    get:
      summary: Get meter trigger
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the meterTrigger
        example: '1'
      - in: query
        name: expand
        schema:
          title: Expand specific fields in the request
          type: array
          items:
            type: string
            enum:
            - work_order_template
      responses:
        '200':
          description: Successfully retrieved meterTrigger's information
          content:
            application/json:
              schema:
                type: object
                required:
                - meterTrigger
                properties:
                  meterTrigger:
                    type: object
                    required:
                    - id
                    - meterId
                    - organizationId
                    - amount
                    - condition
                    - createdAt
                    - creatorId
                    - dataPoints
                    - deletedAt
                    - description
                    - minDateForProcessing
                    - name
                    - nextTriggerValue
                    - period
                    - state
                    - updatedAt
                    - workOrderTemplateId
                    properties:
                      id:
                        type: integer
                        description: Global ID of the meter trigger
                      meterId:
                        type: integer
                        description: Global ID of the meter
                      organizationId:
                        type: integer
                        description: Global ID of the organization
                      amount:
                        type: number
                        description: Value used to trigger the condition
                      condition:
                        type: string
                        description: Condition of the trigger
                        enum:
                        - DECREMENTED_BY
                        - INCREMENTED_BY
                        - IS_EQUAL
                        - IS_GREATER
                        - IS_LESS
                        - INCREMENTED_BY_BASED_ON_LAST_READING
                        - DECREMENTED_BY_BASED_ON_LAST_READING
                      createdAt:
                        type: string
                        description: Date at which the meter was created
                        format: date-time
                      creatorId:
                        type: integer
                        description: Global ID of the meter trigger's creator
                      dataPoints:
                        type: object
                        nullable: true
                        properties:
                          numerator:
                            type: integer
                            description: 'The number of data points out of "denominator" data points to trigger. E.g: 3 points out of 5 must be in a triggering state'
                          denominator:
                            type: integer
                            description: The window of points where the condition gets checked
                      deletedAt:
                        type: string
                        nullable: true
                        description: Data at which the meter was delated
                        format: date-time
                      description:
                        type: string
                        nullable: true
                      minDateForProcessing:
                        type: string
                        format: date-time
                        description: Date that the trigger will start to be active
                        nullable: true
                      name:
                        type: string
                        description: Name of the trigger
                      nextTriggerValue:
                        type: number
                        description: Can be set to override the first trigger value
                        nullable: true
                      period:
                        type: integer
                        description: Window in seconds where the data points can be checked
                        nullable: true
                      state:
                        type: string
                        description: State of the trigger
                        enum:
                        - INACTIVE
                        - INSUFFICIENT_DATA
                        - PENDING
                        - STABLE
                        - TRIGGERED
                      updatedAt:
                        type: string
                        description: Date at which the meter was updated
                        format: date-time
                      workOrderTemplateId:
                        type: integer
                        description: Global ID of the work order template used by the meter trigger
                        nullable: true
                      workOrderTemplate:
                        type: object
                        description: Work Order template used by the meter trigger (expand with query parameter)
                        properties:
                          id:
                            type: integer
                            description: Global ID of the work order template
                          createdAt:
                            type: string
                            format: date-time
                            description: Date & time at which the work order template was created
                            example: '2022-01-01T00:00:00.000Z'
                          creatorId:
                            nullable: true
                            type: integer
                            description: ID of the user who created the work order
                          deletedAt:
                            nullable: true
                            type: string
                            format: date-time
                            description: Time at which the template was deleted
                            example: '2022-01-01T00:00:00.000Z'
                          organizationId:
                            nullable: true
                            type: integer
                            description: ID of the organization
                          procedureTemplateId:
                            nullable: true
                            type: integer
                            description: ID of the procedure template used if in the library
                          title:
                            type: string
                            deprecated: true
                            description: Title of the work order that will be generated. Use the meter trigger's name instead
                          updatedAt:
                            nullable: true
                            type: string
                            format: date-time
                            description: Time at which the template was updated
                            example: '2022-01-01T00:00:00.000Z'
                          data:
                            type: object
                            properties:
                              assetId:
                                nullable: true
                                type: integer
                                description: Global ID of the asset assigned to the work order
                              assigneeIds:
                                type: array
                                description: Users IDs assigned to the template
                                items:
                                  type: number
                                  example: 1
                              attachmentIds:
                                nullable: true
                                type: array
                                items:
                                  type: number
                                  example: 1
                                description: IDs of the attachments on the template
                              description:
                                nullable: true
                                type: string
                                example: A work order sample description
                              dueDate:
                                type: object
                                nullable: true
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - OFFSET
                                  offset:
                                    type: number
                              locationId:
                                nullable: true
                                type: integer
                                description: Global ID of the location assigned to the work order
                              partsUsed:
                                type: array
                                nullable: true
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      example: 963
                                      description: Global ID of the part
                                    name:
                                      type: string
                                      example: Locknut - 1/8
                                    description:
                                      type: string
                                      nullable: true
                                      example: ''
                                    area:
                                      type: string
                                      example: tool room
                                      nullable: true
                                    unitCost:
                                      type: integer
                                      nullable: true
                                      description: Cost in cents. For example, for $1.20, put 120.
                                      example: 120
                                    availableQuantity:
                                      type: integer
                                      description: Quantity currently in stock
                                      example: 10
                                    minimumQuantity:
                                      type: integer
                                      description: Minimum quantity before you should restock
                                      example: 5
                                    barcode:
                                      type: string
                                      nullable: true
                                      example: bWFpbnRhaW54Cg==
                                      description: String encoded barcode
                                    quantityUsed:
                                      type: integer
                                      description: Quantity used in the work order.
                                      example: 120
                                    copyOnRecurring:
                                      type: string
                                      description: Indicates if the parts will be copied to the next work order in the chain (if applicable).
                                      default: Default
                                      enum:
                                      - NoCopy
                                      - Copy
                                      - Default
                                    locationId:
                                      type: number
                                      description: Global ID of the location of the part
                                      nullable: true
                                      example: 852
                                    extraFields:
                                      type: object
                                      description: Work Order-scoped custom fields for this Part on this specific Work Order. These are distinct from Part-level custom fields (see `partExtraFields`).
                                      additionalProperties:
                                        type: string
                              priority:
                                type: string
                                example: MEDIUM
                                enum:
                                - NONE
                                - LOW
                                - MEDIUM
                                - HIGH
                              procedure:
                                type: object
                                nullable: true
                                required:
                                - title
                                - fields
                                properties:
                                  title:
                                    example: Control dashboard audit
                                    type: string
                                  fields:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - label
                                      - type
                                      properties:
                                        id:
                                          type: number
                                          example: 1
                                        label:
                                          type: string
                                          example: 'Metal Parts: broken, loose, dented, rusty, missing'
                                        type:
                                          type: string
                                          example: INSPECTION_CHECK
                                          enum:
                                          - NUMBER
                                          - AMOUNT
                                          - TEXT
                                          - UNSUPPORTED
                                          - HEADING
                                          - FILE
                                          - SIGNATURE
                                          - MULTIPLE_CHOICE
                                          - INSPECTION_CHECK
                                          - YES_NO_NA
                                          - CHECKBOX
                                          - CHECKLIST
                                          - METER
                                          - DATE
                                          - CYCLE_COUNT
                                        description:
                                          type: string
                                          nullable: true
                                        choices:
                                          type: array
                                          nullable: true
                                          items:
                                            example: Partially
                                            type: string
                                        meterId:
                                          type: number
                                          nullable: true
                                          items:
                                            example: 1
                                            type: number
                                        isDateAndTime:
                                          type: boolean
                                          nullable: true
                                          description: Indicate if a DATE field also contains the time
                                          example: false
                                        attachmentId:
                                          type: number
                                          nullable: true
                                          example: 1
                                        attachments:
                                          type: array
                                          title: attachment
                                          description: List of attachments linked to the procedure row
                                          items:
                                            type: object
                                            title: attachment
                                            required:
                                            - id
                                            - mimeType
                                            - fileName
                                            - url
                                            - createdAt
                                            properties:
                                              id:
                                                type: number
                                                description: Global ID of the attachment
                                                example: 12345
                                              mimeType:
                                                type: string
                                                description: MIME type of the file
                                                example: image/png
                                              fileName:
                                                type: string
                                                description: Attachment's file name
                                                example: image.png
                                              url:
                                                type: string
                                                description: Url of the file. Valid for 60 minutes.
                                                example: http://example.com/image.png
                                              createdAt:
                                                type: string
                                                format: date-time
                                                description: Date & time at which the attachment was uploaded
                                                example: '2022-01-01T00:00:00.000Z'
                                              width:
                                                type: number
                                                description: Width if the file is an image
                                                nullable: true
                                                example: 220
                                              height:
                                                type: number
                                                description: Height if the file is an image
                                                nullable: true
                                                example: 100
                                        urls:
                                          type: array
                                          items:
                                            type: object
                                            required:
                                            - link
                                            properties:
                                              label:
                                                type: string
                                                description: Label of the url
                                                example: MaintainX Website
                                              link:
                                                type: string
                                                description: Link
                                                example: www.getmaintainx.com
                              tagsIds:
                                type: array
                                description: Categories IDs
                                items:
                                  type: number
                                  example: 1
                              teamIds:
                                type: array
                                description: Teams IDs
                                items:
                                  type: number
                                  example: 1
                              thumbnailId:
                                nullable: true
                                type: integer
                                description: ID of the attachment used as thumbnail
                              title:
                                type: string
                                deprecated: true
                                description: Use the `title` field outside of the data object instead
                              vendorIds:
                                type: array
                                description: Vendor IDs
                                items:
                                  type: number
                                  example: 1
                        nullable: true
        '400':
          description: Error with query
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    description: Description of error
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified meterTrigger or the user cannot access it.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Not Found.
      tags:
      - Meter Triggers
    patch:
      summary: Update meter trigger
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the work order template
        example: '1'
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      requestBody:
        description: The meter trigger to update
        required: true
        content:
          application/json:
            schema:
              type: object
              description: The meter trigger update data
              properties:
                meterTrigger:
                  type: object
                  properties:
                    meterId:
                      type: integer
                    workOrderTemplateId:
                      type: integer
                      description: 'Id of an existing work order template. NOTE: If this changes, the name of the meter trigger will also changed to match the name of the linked work order template.'
                    amount:
                      type: number
                    condition:
                      type: string
                      enum:
                      - DECREMENTED_BY
                      - INCREMENTED_BY
                      - IS_EQUAL
                      - IS_GREATER
                      - IS_LESS
                      - INCREMENTED_BY_BASED_ON_LAST_READING
                      - DECREMENTED_BY_BASED_ON_LAST_READING
                    dataPoints:
                      type: object
                      required:
                      - numerator
                      - denominator
                      properties:
                        numerator:
                          type: integer
                          description: 'The number of data points out of "denominator" data points to trigger. E.g: 3 points out of 5 must be in a triggering state'
                        denominator:
                          type: integer
                          description: The window of points where the condition gets checked
                    description:
                      type: string
                    minDateForProcessing:
                      type: string
                      format: date-time
                      description: Date that the trigger will start to be active
                    name:
                      type: string
                      description: Name of the trigger
                    nextTriggerValue:
                      type: number
                      description: Can be set to override the first trigger value
                    period:
                      type: integer
                      description: Window in seconds where the data points can be checked
                      nullable: true
      responses:
        '204':
          description: Successfully updated the meter trigger
        '400':
          description: Failed to create the meter trigger
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: Unexpected error
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          nullable: true
                          type: string
                        fieldValue:
                          nullable: true
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified meter trigger.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: meter trigger Not Found
      tags:
      - Meter Triggers
    delete:
      summary: Delete meterTrigger
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the meterTrigger
        example: '1'
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      responses:
        '204':
          description: Successfully deleted the meterTrigger
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified meterTrigger.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: meterTrigger Not Found
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Internal server error.
      tags:
      - Meter Triggers
  /metertriggers/{id}/thumbnail/{filename}:
    put:
      summary: Update meter trigger's work order template's thumbnail
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the meter trigger's work order template.
        example: '1'
      - schema:
          type: string
        name: filename
        in: path
        required: true
        description: Name of the meter trigger's work order template thumbnail, including the extension.
        example: motor.png
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      requestBody:
        description: Content type should be `application/octet-stream` and payload should use binary format for the thumbnail.
        required: true
        content:
          application/octet-stream:
            schema:
              type: object
              format: binary
          image/jpeg:
            schema:
              type: object
              format: binary
          image/png:
            schema:
              type: object
              format: binary
          image/gif:
            schema:
              type: object
              format: binary
          image/webp:
            schema:
              type: object
              format: binary
          image/flif:
            schema:
              type: object
              format: binary
          image/x-xcf:
            schema:
              type: object
              format: binary
          image/x-canon-cr2:
            schema:
              type: object
              format: binary
          image/x-canon-cr3:
            schema:
              type: object
              format: binary
          image/tiff:
            schema:
              type: object
              format: binary
          image/bmp:
            schema:
              type: object
              format: binary
          image/vnd.ms-photo:
            schema:
              type: object
              format: binary
          image/vnd.adobe.photoshop:
            schema:
              type: object
              format: binary
          image/x-icon:
            schema:
              type: object
              format: binary
          image/bpg:
            schema:
              type: object
              format: binary
          image/j2c:
            schema:
              type: object
              format: binary
          image/jp2:
            schema:
              type: object
              format: binary
          image/jpx:
            schema:
              type: object
              format: binary
          image/jpm:
            schema:
              type: object
              format: binary
          image/mj2:
            schema:
              type: object
              format: binary
          image/heif:
            schema:
              type: object
              format: binary
          image/heif-sequence:
            schema:
              type: object
              format: binary
          image/heic:
            schema:
              type: object
              format: binary
          image/heic-sequence:
            schema:
              type: object
              format: binary
          image/icns:
            schema:
              type: object
              format: binary
          image/ktx:
            schema:
              type: object
              format: binary
          image/apng:
            schema:
              type: object
              format: binary
          image/x-olympus-orf:
            schema:
              type: object
              format: binary
          image/x-sony-arw:
            schema:
              type: object
              format: binary
          image/x-adobe-dng:
            schema:
              type: object
              format: binary
          image/x-nikon-nef:
            schema:
              type: object
              format: binary
          image/x-panasonic-rw2:
            schema:
              type: object
              format: binary
          image/x-fujifilm-raf:
            schema:
              type: object
              format: binary
          image/avif:
            schema:
              type: object
              format: binary
          image/jxl:
            schema:
              type: object
              format: binary
          image/jls:
            schema:
              type: object
              format: binary
          image/vnd.dwg:
            schema:
              type: object
              format: binary
      responses:
        '201':
          description: Successfully updated meter trigger's work order template's thumbnail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  publicUrl:
                    type: string
                  filename:
                    type: string
                  fileKey:
                    type: string
        '400':
          description: Bad arguments.
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: You cannot edit this entity.
                    fieldPath: organizationId
                    fieldValue: '1'
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          nullable: true
                          type: string
                        fieldValue:
                          nullable: true
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified Meter Trigger's Work Order Template.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Meter Trigger's Work Order Template Not Found
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Attachment size must not exceed 1mB
      tags:
      - Meter Triggers
  /metertriggers/{id}/workordertemplates:
    patch:
      summary: Update Meter Trigger's Work Order Template
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the work order template
        example: '1'
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      requestBody:
        description: Data to update a work order template
        content:
          application/json:
            schema:
              type: object
              properties:
                procedureTemplateId:
                  nullable: true
                  type: integer
                  description: ID of the procedure template used
                saveProcedureAsTemplate:
                  type: boolean
                  nullable: true
                  description: Save the procedure in data as a new procedure template
                title:
                  type: string
                  description: Title of the work order that will be generated. Same string for meter trigger's name. Setting this will also set the corresponding meter's trigger name.
                data:
                  type: object
                  properties:
                    assetId:
                      nullable: true
                      type: integer
                    assigneeIds:
                      type: array
                      description: Users IDs assigned to the template
                      items:
                        type: number
                        example: 1
                    description:
                      nullable: true
                      type: string
                      example: A work order sample description
                    dueDate:
                      type: object
                      nullable: true
                      properties:
                        type:
                          type: string
                          enum:
                          - OFFSET
                        offset:
                          type: number
                    locationId:
                      nullable: true
                      type: integer
                      description: Global ID of the location assigned to the work order
                    partsUsed:
                      type: array
                      nullable: true
                      items:
                        type: object
                        properties:
                          partId:
                            type: integer
                            example: 963
                            description: Global ID of the part
                          quantityUsed:
                            type: integer
                            description: Quantity used in the work order.
                            example: 120
                          locationId:
                            type: integer
                            nullable: true
                            description: Global ID of the location of the part
                            example: 852
                          copyOnRecurring:
                            type: string
                            description: Indicates if the parts will be copied to the next work order in the chain (if applicable).
                            default: Default
                            enum:
                            - NoCopy
                            - Copy
                            - Default
                    priority:
                      type: string
                      example: MEDIUM
                      enum:
                      - NONE
                      - LOW
                      - MEDIUM
                      - HIGH
                    procedure:
                      type: object
                      nullable: true
                      required:
                      - title
                      - fields
                      properties:
                        id:
                          type: number
                          example: 1234
                          deprecated: true
                          description: You should favor 'procedureTemplateId' to attach a procedure template.
                        title:
                          type: string
                          description: Title of the procedure
                          example: Control dashboard audit
                        fields:
                          type: array
                          items:
                            type: object
                            required:
                            - type
                            - label
                            properties:
                              label:
                                type: string
                                example: 'Metal Parts: broken, loose, dented, rusty, missing'
                              type:
                                type: string
                                example: INSPECTION_CHECK
                                enum:
                                - NUMBER
                                - AMOUNT
                                - TEXT
                                - UNSUPPORTED
                                - HEADING
                                - FILE
                                - SIGNATURE
                                - MULTIPLE_CHOICE
                                - INSPECTION_CHECK
                                - YES_NO_NA
                                - CHECKBOX
                                - CHECKLIST
                                - METER
                                - DATE
                                - CYCLE_COUNT
                              description:
                                type: string
                                nullable: true
                              choices:
                                type: array
                                items:
                                  example: Partially
                                  type: string
                              urls:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - link
                                  properties:
                                    label:
                                      type: string
                                      description: Label of the url
                                      example: MaintainX Website
                                    link:
                                      type: string
                                      description: Link
                                      example: www.getmaintainx.com
                              meterId:
                                type: number
                                example: 1
                                nullable: true
                                description: Id of the meter
                              isDateAndTime:
                                type: boolean
                                default: false
                                description: Indicate if a DATE field also contains the time
                                example: false
                              index:
                                type: number
                                example: 1
                                description: Order which the row is displayed
                          description: Steps of a procedure
                    tagsIds:
                      type: array
                      description: Categories IDs
                      items:
                        type: number
                        example: 1
                    teamIds:
                      type: array
                      description: Teams IDs
                      items:
                        type: number
                        example: 1
                    title:
                      type: string
                      deprecated: true
                      description: Use the `title` field at the root level. If both `title` and `data.title` are provided, `title` will be used.
                    vendorIds:
                      type: array
                      description: Vendor IDs
                      items:
                        type: number
                        example: 1
      responses:
        '204':
          description: Successfully edited the procedure template
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: Bad request
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          nullable: true
                          type: string
                        fieldValue:
                          nullable: true
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified work order template.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: work order template Not Found
      tags:
      - Meter Triggers
  /metertriggers/{id}/workordertemplates/attachments/{filename}:
    put:
      summary: Update meter trigger's work order template attachment
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the meter trigger's work order template.
        example: '1'
      - schema:
          type: string
        name: filename
        in: path
        required: true
        description: Name of the attachment, including the extension.
        example: datasheet.pdf
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      requestBody:
        description: Content type should be `application/octet-stream` and payload should use binary format for the attachment.
        required: true
        content:
          application/octet-stream:
            schema:
              type: object
              format: binary
          image/jpeg:
            schema:
              type: object
              format: binary
          image/png:
            schema:
              type: object
              format: binary
          image/gif:
            schema:
              type: object
              format: binary
          image/webp:
            schema:
              type: object
              format: binary
          image/flif:
            schema:
              type: object
              format: binary
          image/x-xcf:
            schema:
              type: object
              format: binary
          image/x-canon-cr2:
            schema:
              type: object
              format: binary
          image/x-canon-cr3:
            schema:
              type: object
              format: binary
          image/tiff:
            schema:
              type: object
              format: binary
          image/bmp:
            schema:
              type: object
              format: binary
          image/vnd.ms-photo:
            schema:
              type: object
              format: binary
          image/vnd.adobe.photoshop:
            schema:
              type: object
              format: binary
          application/x-indesign:
            schema:
              type: object
              format: binary
          application/epub+zip:
            schema:
              type: object
              format: binary
          application/x-xpinstall:
            schema:
              type: object
              format: binary
          application/vnd.ms-powerpoint.slideshow.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.text:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.spreadsheet:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.presentation:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.wordprocessingml.document:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.presentationml.presentation:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.presentationml.slideshow:
            schema:
              type: object
              format: binary
          application/zip:
            schema:
              type: object
              format: binary
          application/x-tar:
            schema:
              type: object
              format: binary
          application/x-rar-compressed:
            schema:
              type: object
              format: binary
          application/gzip:
            schema:
              type: object
              format: binary
          application/x-bzip2:
            schema:
              type: object
              format: binary
          application/x-7z-compressed:
            schema:
              type: object
              format: binary
          application/x-apple-diskimage:
            schema:
              type: object
              format: binary
          application/vnd.apache.arrow.file:
            schema:
              type: object
              format: binary
          video/mp4:
            schema:
              type: object
              format: binary
          audio/midi:
            schema:
              type: object
              format: binary
          video/matroska:
            schema:
              type: object
              format: binary
          video/webm:
            schema:
              type: object
              format: binary
          video/quicktime:
            schema:
              type: object
              format: binary
          video/vnd.avi:
            schema:
              type: object
              format: binary
          audio/wav:
            schema:
              type: object
              format: binary
          audio/qcelp:
            schema:
              type: object
              format: binary
          audio/x-ms-asf:
            schema:
              type: object
              format: binary
          video/x-ms-asf:
            schema:
              type: object
              format: binary
          application/vnd.ms-asf:
            schema:
              type: object
              format: binary
          video/mpeg:
            schema:
              type: object
              format: binary
          video/3gpp:
            schema:
              type: object
              format: binary
          audio/mpeg:
            schema:
              type: object
              format: binary
          audio/mp4:
            schema:
              type: object
              format: binary
          video/ogg:
            schema:
              type: object
              format: binary
          audio/ogg:
            schema:
              type: object
              format: binary
          audio/ogg; codecs=opus:
            schema:
              type: object
              format: binary
          application/ogg:
            schema:
              type: object
              format: binary
          audio/flac:
            schema:
              type: object
              format: binary
          audio/ape:
            schema:
              type: object
              format: binary
          audio/wavpack:
            schema:
              type: object
              format: binary
          audio/amr:
            schema:
              type: object
              format: binary
          application/pdf:
            schema:
              type: object
              format: binary
          application/x-elf:
            schema:
              type: object
              format: binary
          application/x-mach-binary:
            schema:
              type: object
              format: binary
          application/x-msdownload:
            schema:
              type: object
              format: binary
          application/x-shockwave-flash:
            schema:
              type: object
              format: binary
          application/rtf:
            schema:
              type: object
              format: binary
          application/wasm:
            schema:
              type: object
              format: binary
          font/woff:
            schema:
              type: object
              format: binary
          font/woff2:
            schema:
              type: object
              format: binary
          application/vnd.ms-fontobject:
            schema:
              type: object
              format: binary
          font/ttf:
            schema:
              type: object
              format: binary
          font/otf:
            schema:
              type: object
              format: binary
          font/collection:
            schema:
              type: object
              format: binary
          image/x-icon:
            schema:
              type: object
              format: binary
          video/x-flv:
            schema:
              type: object
              format: binary
          application/postscript:
            schema:
              type: object
              format: binary
          application/eps:
            schema:
              type: object
              format: binary
          application/x-xz:
            schema:
              type: object
              format: binary
          application/x-sqlite3:
            schema:
              type: object
              format: binary
          application/x-nintendo-nes-rom:
            schema:
              type: object
              format: binary
          application/x-google-chrome-extension:
            schema:
              type: object
              format: binary
          application/vnd.ms-cab-compressed:
            schema:
              type: object
              format: binary
          application/x-deb:
            schema:
              type: object
              format: binary
          application/x-unix-archive:
            schema:
              type: object
              format: binary
          application/x-rpm:
            schema:
              type: object
              format: binary
          application/x-compress:
            schema:
              type: object
              format: binary
          application/lzip:
            schema:
              type: object
              format: binary
          application/x-cfb:
            schema:
              type: object
              format: binary
          application/x-mie:
            schema:
              type: object
              format: binary
          application/mxf:
            schema:
              type: object
              format: binary
          video/mp2t:
            schema:
              type: object
              format: binary
          application/x-blender:
            schema:
              type: object
              format: binary
          image/bpg:
            schema:
              type: object
              format: binary
          image/j2c:
            schema:
              type: object
              format: binary
          image/jp2:
            schema:
              type: object
              format: binary
          image/jpx:
            schema:
              type: object
              format: binary
          image/jpm:
            schema:
              type: object
              format: binary
          image/mj2:
            schema:
              type: object
              format: binary
          audio/aiff:
            schema:
              type: object
              format: binary
          application/xml:
            schema:
              type: object
              format: binary
          application/x-mobipocket-ebook:
            schema:
              type: object
              format: binary
          image/heif:
            schema:
              type: object
              format: binary
          image/heif-sequence:
            schema:
              type: object
              format: binary
          image/heic:
            schema:
              type: object
              format: binary
          image/heic-sequence:
            schema:
              type: object
              format: binary
          image/icns:
            schema:
              type: object
              format: binary
          image/ktx:
            schema:
              type: object
              format: binary
          application/dicom:
            schema:
              type: object
              format: binary
          audio/x-musepack:
            schema:
              type: object
              format: binary
          text/calendar:
            schema:
              type: object
              format: binary
          text/vcard:
            schema:
              type: object
              format: binary
          text/vtt:
            schema:
              type: object
              format: binary
          model/gltf-binary:
            schema:
              type: object
              format: binary
          application/vnd.tcpdump.pcap:
            schema:
              type: object
              format: binary
          audio/x-dsf:
            schema:
              type: object
              format: binary
          application/x-ms-shortcut:
            schema:
              type: object
              format: binary
          application/x-ft-apple.alias:
            schema:
              type: object
              format: binary
          audio/x-voc:
            schema:
              type: object
              format: binary
          audio/vnd.dolby.dd-raw:
            schema:
              type: object
              format: binary
          audio/x-m4a:
            schema:
              type: object
              format: binary
          image/apng:
            schema:
              type: object
              format: binary
          image/x-olympus-orf:
            schema:
              type: object
              format: binary
          image/x-sony-arw:
            schema:
              type: object
              format: binary
          image/x-adobe-dng:
            schema:
              type: object
              format: binary
          image/x-nikon-nef:
            schema:
              type: object
              format: binary
          image/x-panasonic-rw2:
            schema:
              type: object
              format: binary
          image/x-fujifilm-raf:
            schema:
              type: object
              format: binary
          video/x-m4v:
            schema:
              type: object
              format: binary
          video/3gpp2:
            schema:
              type: object
              format: binary
          application/x-esri-shape:
            schema:
              type: object
              format: binary
          audio/aac:
            schema:
              type: object
              format: binary
          audio/x-it:
            schema:
              type: object
              format: binary
          audio/x-s3m:
            schema:
              type: object
              format: binary
          audio/x-xm:
            schema:
              type: object
              format: binary
          video/mp1s:
            schema:
              type: object
              format: binary
          video/mp2p:
            schema:
              type: object
              format: binary
          application/vnd.sketchup.skp:
            schema:
              type: object
              format: binary
          image/avif:
            schema:
              type: object
              format: binary
          application/x-lzh-compressed:
            schema:
              type: object
              format: binary
          application/pgp-encrypted:
            schema:
              type: object
              format: binary
          application/x-asar:
            schema:
              type: object
              format: binary
          model/stl:
            schema:
              type: object
              format: binary
          application/vnd.ms-htmlhelp:
            schema:
              type: object
              format: binary
          model/3mf:
            schema:
              type: object
              format: binary
          image/jxl:
            schema:
              type: object
              format: binary
          application/zstd:
            schema:
              type: object
              format: binary
          image/jls:
            schema:
              type: object
              format: binary
          application/vnd.ms-outlook:
            schema:
              type: object
              format: binary
          image/vnd.dwg:
            schema:
              type: object
              format: binary
          application/vnd.apache.parquet:
            schema:
              type: object
              format: binary
          application/java-vm:
            schema:
              type: object
              format: binary
          application/x-arj:
            schema:
              type: object
              format: binary
          application/x-cpio:
            schema:
              type: object
              format: binary
          application/x-ace-compressed:
            schema:
              type: object
              format: binary
          application/avro:
            schema:
              type: object
              format: binary
          application/vnd.iccprofile:
            schema:
              type: object
              format: binary
          application/x-ft-fbx:
            schema:
              type: object
              format: binary
          application/vnd.visio:
            schema:
              type: object
              format: binary
          application/vnd.android.package-archive:
            schema:
              type: object
              format: binary
          application/x-ft-draco:
            schema:
              type: object
              format: binary
          application/x-lz4:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.presentationml.template:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.spreadsheetml.template:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.wordprocessingml.template:
            schema:
              type: object
              format: binary
          application/vnd.ms-excel.template.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.text-template:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.spreadsheet-template:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.presentation-template:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.graphics:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.graphics-template:
            schema:
              type: object
              format: binary
          application/vnd.ms-excel.sheet.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.ms-word.document.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.ms-word.template.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.ms-powerpoint.template.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.ms-powerpoint.presentation.macroenabled.12:
            schema:
              type: object
              format: binary
          application/java-archive:
            schema:
              type: object
              format: binary
          application/vnd.rn-realmedia:
            schema:
              type: object
              format: binary
          application/x-spss-sav:
            schema:
              type: object
              format: binary
          application/x-ms-regedit:
            schema:
              type: object
              format: binary
          application/x-ft-windows-registry-hive:
            schema:
              type: object
              format: binary
          application/x-jmp-data:
            schema:
              type: object
              format: binary
          application/vnd.apple.keynote:
            schema:
              type: object
              format: binary
          application/vnd.apple.numbers:
            schema:
              type: object
              format: binary
          application/vnd.apple.pages:
            schema:
              type: object
              format: binary
          application/x-apache-arrow:
            schema:
              type: object
              format: binary
          application/x-lzip:
            schema:
              type: object
              format: binary
          application/x.apple.alias:
            schema:
              type: object
              format: binary
          application/x.ms.shortcut:
            schema:
              type: object
              format: binary
          audio/opus:
            schema:
              type: object
              format: binary
          audio/vnd.wave:
            schema:
              type: object
              format: binary
          audio/x-flac:
            schema:
              type: object
              format: binary
          video/x-matroska:
            schema:
              type: object
              format: binary
      responses:
        '201':
          description: Successfully updated meter trigger's work order template's attachment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  publicUrl:
                    type: string
                  filename:
                    type: string
                  fileKey:
                    type: string
        '400':
          description: Bad arguments.
          content:
            application/json:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified meter trigger's work order template.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: meter trigger's work order template Not Found
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Attachment size must not exceed 1mB
      tags:
      - Meter Triggers
    delete:
      summary: Remove meter trigger's work order template attachment
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the meter trigger's work order template.
        example: '1'
      - schema:
          type: string
        name: filename
        in: path
        required: true
        description: Name of the attachment, including the extension.
        example: attachment.xls
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      responses:
        '204':
          description: Successfully removed meter trigger's work order template's attachment.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified Attachment.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Attachment Not Found
      tags:
      - Meter Triggers
components:
  responses:
    UnauthorizedError:
      description: Invalid token
  securitySchemes:
    Bearer:
      description: "\n  <p>Authenticate by adding the following HTTP header to your requests:</p>\n<pre>Authorization: bearer {{token}}</pre>\n<p>The <code>token</code> can be generated in your MaintainX account. Go to <a href=\"https://app.getmaintainx.com/settings/integrations/apiKeys\">\"Settings &gt; Integrations &gt; API Keys\"</a> to generate a key for your user.</p>\n"
      type: http
      scheme: bearer
      bearerFormat: JWT
x-webhooks:
  API_TOKEN_CREATED:
    post:
      summary: API Token Created
      security: []
      description: Fires when a REST API token is generated.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: API_TOKEN_CREATED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  API_TOKEN_REVOKED:
    post:
      summary: API Token Revoked
      security: []
      description: Fires when a REST API token is revoked.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: API_TOKEN_REVOKED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  ASSET_STATUS_CHANGE:
    post:
      summary: Asset Status Change
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - assetId
              - orgId
              - oldStatus
              - newStatus
              - occurredAt
              properties:
                assetId:
                  type: number
                  description: Global ID of the asset
                  example: 42
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 21
                oldStatus:
                  description: Previous status of the asset
                  type: object
                  properties:
                    id:
                      type: number
                      example: 42
                      description: Global ID of the asset status.
                    customStatus:
                      type: object
                      required:
                      - label
                      properties:
                        id:
                          type: number
                          example: Global ID of the custom asset status.
                        label:
                          type: string
                          example: Decommissioned
                        createdAt:
                          type: string
                          format: date-time
                          description: Date & time at which the asset custom status was created.
                          example: '2022-01-01T12:34:56.123Z'
                        updatedAt:
                          type: string
                          format: date-time
                          description: Date & time at which the asset custom status was last updated.
                          example: '2022-01-01T12:34:56.123Z'
                        deletedAt:
                          type: string
                          nullable: true
                          description: Date at which the asset custom status was deleted.
                          format: date-time
                          example: '2022-01-01T12:34:56.123Z'
                        downtimeType:
                          type: string
                          nullable: true
                          example: null
                          enum:
                          - PLANNED
                          - UNPLANNED
                          deprecated: true
                          description: Downtime type on asset custom statuses will always return null. Use downtime type on asset status instead.
                      description: Custom status assigned to asset.
                      nullable: true
                    customStatusId:
                      type: number
                      description: Id of the custom status assigned to asset.
                      nullable: true
                      example: 53
                    status:
                      type: string
                      example: OFFLINE
                      description: Asset status value.
                      enum:
                      - IGNORE
                      - OFFLINE
                      - ONLINE
                    downtimeType:
                      type: string
                      nullable: true
                      example: PLANNED
                      enum:
                      - PLANNED
                      - UNPLANNED
                    startedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      description: Asset status effective start date.
                    endedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      description: Asset status effective end date.
                      nullable: true
                    description:
                      type: string
                      example: Overheated - needs servicing.
                      nullable: true
                    createdAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      readOnly: true
                      description: Date & time at which the asset status was created.
                    updatedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      readOnly: true
                      description: Date & time at which the asset status was last updated.
                    deletedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      readOnly: true
                      description: Date & time at which the asset status was deleted.
                      nullable: true
                  example:
                    status: ONLINE
                    startedAt: '2022-01-01T12:34:56.123Z'
                    endedAt: '2022-01-01T12:34:56.123Z'
                    description: Back online after scheduled maintenance
                    createdAt: '2022-01-01T12:34:56.123Z'
                    updatedAt: '2022-01-01T12:34:56.123Z'
                    deletedAt: '2022-01-01T12:34:56.123Z'
                newStatus:
                  description: New status of the asset
                  type: object
                  properties:
                    id:
                      type: number
                      example: 42
                      description: Global ID of the asset status.
                    customStatus:
                      type: object
                      required:
                      - label
                      properties:
                        id:
                          type: number
                          example: Global ID of the custom asset status.
                        label:
                          type: string
                          example: Decommissioned
                        createdAt:
                          type: string
                          format: date-time
                          description: Date & time at which the asset custom status was created.
                          example: '2022-01-01T12:34:56.123Z'
                        updatedAt:
                          type: string
                          format: date-time
                          description: Date & time at which the asset custom status was last updated.
                          example: '2022-01-01T12:34:56.123Z'
                        deletedAt:
                          type: string
                          nullable: true
                          description: Date at which the asset custom status was deleted.
                          format: date-time
                          example: '2022-01-01T12:34:56.123Z'
                        downtimeType:
                          type: string
                          nullable: true
                          example: null
                          enum:
                          - PLANNED
                          - UNPLANNED
                          deprecated: true
                          description: Downtime type on asset custom statuses will always return null. Use downtime type on asset status instead.
                      description: Custom status assigned to asset.
                      nullable: true
                    customStatusId:
                      type: number
                      description: Id of the custom status assigned to asset.
                      nullable: true
                      example: 53
                    status:
                      type: string
                      example: OFFLINE
                      description: Asset status value.
                      enum:
                      - IGNORE
                      - OFFLINE
                      - ONLINE
                    downtimeType:
                      type: string
                      nullable: true
                      example: PLANNED
                      enum:
                      - PLANNED
                      - UNPLANNED
                    startedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      description: Asset status effective start date.
                    endedAt:
                      type: string
                      format: date-time
[...]
