openapi: 3.2.0
info:
  description: 'Welcome to the MaintainX API documentation!


    You can use the MaintainX API to programmatically interact with all the entities in MaintainX. Use it to retrieve and manage data of Work Orders, Work Requests, Assets, and more!


    To get started, in your MaintainX account go to "Settings > Integrations" and click "+ New Key" button to generate a new Rest API key.


    Missing something?

    Don''t hesitate to reach out support@getmaintainx.com'
  version: '1'
  title: MaintainX OpenAPI Documentation API
  contact:
    url: https://www.getmaintainx.com/
    name: Support
    email: support@getmaintainx.com
  x-logo:
    url: https://maintainx-static.s3-us-west-2.amazonaws.com/img/default-org-logo.png
    backgroundColor: '#FFFFFF'
    altText: MaintainX logo
servers:
- url: https://api.getmaintainx.com/v1
  description: Endpoint
security:
- Bearer: []
tags:
- name: OpenAPI Documentation
  description: OpenAPI Specification Documentation
  x-traitTag: false
paths:
  /versions:
    get:
      summary: Get list of available API versions
      responses:
        '200':
          description: Successfully retrieved list of available versions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - version
                  properties:
                    version:
                      type: string
                      example: '1'
      security: []
      tags:
      - OpenAPI Documentation
      servers:
      - url: https://api.getmaintainx.com
        description: Endpoint
      operationId: getVersions
      x-operation-id-source: derived
components:
  securitySchemes:
    Bearer:
      description: "\n  <p>Authenticate by adding the following HTTP header to your requests:</p>\n<pre>Authorization: bearer {{token}}</pre>\n<p>The <code>token</code> can be generated in your MaintainX account. Go to <a href=\"https://app.getmaintainx.com/settings/integrations/apiKeys\">\"Settings &gt; Integrations &gt; API Keys\"</a> to generate a key for your user.</p>\n"
      type: http
      scheme: bearer
      bearerFormat: JWT
