openapi: 3.2.0
info:
  description: 'Welcome to the MaintainX API documentation!


    You can use the MaintainX API to programmatically interact with all the entities in MaintainX. Use it to retrieve and manage data of Work Orders, Work Requests, Assets, and more!


    To get started, in your MaintainX account go to "Settings > Integrations" and click "+ New Key" button to generate a new Rest API key.


    Missing something?

    Don''t hesitate to reach out support@getmaintainx.com'
  version: '1'
  title: MaintainX Work Orders API
  contact:
    url: https://www.getmaintainx.com/
    name: Support
    email: support@getmaintainx.com
  x-logo:
    url: https://maintainx-static.s3-us-west-2.amazonaws.com/img/default-org-logo.png
    backgroundColor: '#FFFFFF'
    altText: MaintainX logo
servers:
- url: https://api.getmaintainx.com/v1
  description: Endpoint
security:
- Bearer: []
tags:
- name: Work Orders
  description: Operations on Work Orders
  x-traitTag: false
paths:
  /workorders:
    post:
      summary: Create new work order
      requestBody:
        description: Work order to create
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - title
              properties:
                assetId:
                  type:
                  - integer
                  - 'null'
                assignees:
                  type: array
                  description: Either the teamId, the userId or the user email address
                  items:
                    type: object
                    title: assignees
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        example: USER
                        enum:
                        - USER
                        - TEAM
                      id:
                        oneOf:
                        - type: integer
                        - type: string
                estimatedTime:
                  type:
                  - integer
                  - 'null'
                  description: The estimated time taken in seconds to complete the work order
                  example: 3600
                requesterId:
                  oneOf:
                  - type:
                    - integer
                    - 'null'
                  - type: string
                  description: ID or email of the user who requested the work order
                workRequestId:
                  type:
                  - integer
                  - 'null'
                  description: ID of the Work Request that will be approved by the creation of this work order
                workOrderTemplateId:
                  type:
                  - integer
                  - 'null'
                  description: 'ID of the Work Order Template that will be used to create this work order. Note that data from the payload will overwrite the Template data. Also, restrictions defined by the Template (EG: Required/Hidden/Read-Only fields) will apply.'
                categories:
                  type: array
                  description: List of categories that identify the work order
                  items:
                    type: string
                    example: Cleaning
                    uniqueItems: true
                description:
                  type:
                  - string
                  - 'null'
                  example: A work order sample description
                dueDate:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: Date & time at which the work order is due
                  example: '2022-01-01T00:00:00.000Z'
                externalData:
                  description: Extra data that can be attached to the work order, for example to help reference to a matching record in an external system.
                  oneOf:
                  - type: object
                    example:
                      popularErpSolutionId: asd732da
                  - type: number
                    example: 732
                  - type: string
                    example: asd732da
                isParent:
                  type:
                  - boolean
                  - 'null'
                  description: Whether the work order is a parent work order. A parent work order has only a subset of the standard work order fields. It also has fields that aren't included in a standard work order. <a href='https://help.getmaintainx.com/multi-asset-work-orders?utm_source=mx-api-docs&utm_medium=web&utm_campaign=multi-asset-work-orders&utm_id=maintainx' target='_blank'>Learn more</a></br>Mutually exclusive with **parentId**
                startDate:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: Date & time at which the work order will show up in the inbox</br>Only valid when <b>dueDate</b> is set
                  example: '2022-01-01T00:00:00.000Z'
                locationId:
                  type:
                  - integer
                  - 'null'
                  description: Global ID of the location assigned to the work order
                priority:
                  type: string
                  example: MEDIUM
                  enum:
                  - NONE
                  - LOW
                  - MEDIUM
                  - HIGH
                procedure:
                  type:
                  - object
                  - 'null'
                  required:
                  - title
                  - fields
                  properties:
                    id:
                      type: number
                      example: 1234
                      deprecated: true
                      description: You should favor 'procedureTemplateId' to attach a procedure template.
                    title:
                      type: string
                      description: Title of the procedure
                      example: Control dashboard audit
                    fields:
                      type: array
                      items:
                        type: object
                        required:
                        - type
                        - label
                        properties:
                          label:
                            type: string
                            example: 'Metal Parts: broken, loose, dented, rusty, missing'
                          type:
                            type: string
                            example: INSPECTION_CHECK
                            enum:
                            - NUMBER
                            - AMOUNT
                            - TEXT
                            - UNSUPPORTED
                            - HEADING
                            - FILE
                            - SIGNATURE
                            - MULTIPLE_CHOICE
                            - INSPECTION_CHECK
                            - YES_NO_NA
                            - CHECKBOX
                            - CHECKLIST
                            - METER
                            - DATE
                            - CYCLE_COUNT
                          description:
                            type:
                            - string
                            - 'null'
                          choices:
                            type: array
                            items:
                              example: Partially
                              type: string
                          urls:
                            type: array
                            items:
                              type: object
                              required:
                              - link
                              properties:
                                label:
                                  type: string
                                  description: Label of the url
                                  example: MaintainX Website
                                link:
                                  type: string
                                  description: Link
                                  example: www.getmaintainx.com
                          meterId:
                            type:
                            - number
                            - 'null'
                            example: 1
                            description: Id of the meter
                          isDateAndTime:
                            type: boolean
                            default: false
                            description: Indicate if a DATE field also contains the time
                            example: false
                          index:
                            type: number
                            example: 1
                            description: Order which the row is displayed
                      description: Steps of a procedure
                procedureTemplateId:
                  type:
                  - number
                  - 'null'
                  description: ID of the procedure template to attach
                repeatability:
                  type:
                  - object
                  - 'null'
                  example:
                    type: WEEKLY
                    interval: 3
                    days:
                    - MONDAY
                    - WEDNESDAY
                    - FRIDAY
                  oneOf:
                  - type:
                    - object
                    - 'null'
                    title: Daily
                    required:
                    - type
                    properties:
                      type:
                        type: string
                        pattern: DAILY
                        enum:
                        - DAILY
                      automationMeterTrigger:
                        type:
                        - object
                        - 'null'
                        description: Automation meter trigger configuration
                        properties:
                          automationTriggerInput:
                            type: object
                            properties:
                              conditions:
                                type: array
                                description: Conditions to trigger automation
                                items:
                                  type: object
                                  properties:
                                    operator:
                                      type: string
                                      enum:
                                      - increasedBy
                                      - decreasedBy
                                      description: Operator for the condition
                                    value:
                                      type: number
                                      description: Value for the condition
                                  required:
                                  - operator
                                  - value
                              meterId:
                                type: integer
                                description: ID of the meter to trigger the automation
                            required:
                            - meterId
                            - conditions
                          lastTriggerValue:
                            type: number
                            description: Last trigger value for the meter
                          newDueDateOffsetSeconds:
                            type: integer
                            description: Offset in seconds for new due date. If you want to set the due date to 2 days from now set this to 172800 - (24 * 60 * 60 * 2)
                            example: 86400
                  - type:
                    - object
                    - 'null'
                    title: Weekly
                    required:
                    - type
                    - days
                    properties:
                      type:
                        type: string
                        pattern: WEEKLY
                        enum:
                        - WEEKLY
                      interval:
                        type: integer
                        description: Number of weeks between events
                        minimum: 1
                        maximum: 52
                        default: 1
                      days:
                        type: array
                        description: Days of the week the event will occur
                        items:
                          type: string
                          enum:
                          - SUNDAY
                          - MONDAY
                          - TUESDAY
                          - WEDNESDAY
                          - THURSDAY
                          - FRIDAY
                          - SATURDAY
                      automationMeterTrigger:
                        type:
                        - object
                        - 'null'
                        description: Automation meter trigger configuration
                        properties:
                          automationTriggerInput:
                            type: object
                            properties:
                              conditions:
                                type: array
                                description: Conditions to trigger automation
                                items:
                                  type: object
                                  properties:
                                    operator:
                                      type: string
                                      enum:
                                      - increasedBy
                                      - decreasedBy
                                      description: Operator for the condition
                                    value:
                                      type: number
                                      description: Value for the condition
                                  required:
                                  - operator
                                  - value
                              meterId:
                                type: integer
                                description: ID of the meter to trigger the automation
                            required:
                            - meterId
                            - conditions
                          lastTriggerValue:
                            type: number
                            description: Last trigger value for the meter
                          newDueDateOffsetSeconds:
                            type: integer
                            description: Offset in seconds for new due date. If you want to set the due date to 2 days from now set this to 172800 - (24 * 60 * 60 * 2)
                            example: 86400
                  - type:
                    - object
                    - 'null'
                    title: Monthly
                    required:
                    - type
                    - day
                    properties:
                      type:
                        type: string
                        pattern: MONTHLY
                        enum:
                        - MONTHLY
                      interval:
                        type: integer
                        description: Number of months between events
                        minimum: 1
                        maximum: 24
                        default: 1
                      day:
                        type: integer
                        minimum: 1
                        maximum: 31
                        description: Day of the month the event will occur
                      automationMeterTrigger:
                        type:
                        - object
                        - 'null'
                        description: Automation meter trigger configuration
                        properties:
                          automationTriggerInput:
                            type: object
                            properties:
                              conditions:
                                type: array
                                description: Conditions to trigger automation
                                items:
                                  type: object
                                  properties:
                                    operator:
                                      type: string
                                      enum:
                                      - increasedBy
                                      - decreasedBy
                                      description: Operator for the condition
                                    value:
                                      type: number
                                      description: Value for the condition
                                  required:
                                  - operator
                                  - value
                              meterId:
                                type: integer
                                description: ID of the meter to trigger the automation
                            required:
                            - meterId
                            - conditions
                          lastTriggerValue:
                            type: number
                            description: Last trigger value for the meter
                          newDueDateOffsetSeconds:
                            type: integer
                            description: Offset in seconds for new due date. If you want to set the due date to 2 days from now set this to 172800 - (24 * 60 * 60 * 2)
                            example: 86400
                  - type:
                    - object
                    - 'null'
                    title: Yearly
                    required:
                    - type
                    properties:
                      type:
                        type: string
                        pattern: YEARLY
                        enum:
                        - YEARLY
                      interval:
                        type: integer
                        description: Number of years between events
                        minimum: 1
                        maximum: 1000
                        default: 1
                      automationMeterTrigger:
                        type:
                        - object
                        - 'null'
                        description: Automation meter trigger configuration
                        properties:
                          automationTriggerInput:
                            type: object
                            properties:
                              conditions:
                                type: array
                                description: Conditions to trigger automation
                                items:
                                  type: object
                                  properties:
                                    operator:
                                      type: string
                                      enum:
                                      - increasedBy
                                      - decreasedBy
                                      description: Operator for the condition
                                    value:
                                      type: number
                                      description: Value for the condition
                                  required:
                                  - operator
                                  - value
                              meterId:
                                type: integer
                                description: ID of the meter to trigger the automation
                            required:
                            - meterId
                            - conditions
                          lastTriggerValue:
                            type: number
                            description: Last trigger value for the meter
                          newDueDateOffsetSeconds:
                            type: integer
                            description: Offset in seconds for new due date. If you want to set the due date to 2 days from now set this to 172800 - (24 * 60 * 60 * 2)
                            example: 86400
                  - type:
                    - object
                    - 'null'
                    title: Periodically
                    required:
                    - type
                    properties:
                      type:
                        type: string
                        pattern: PERIODICALLY
                        enum:
                        - PERIODICALLY
                      interval:
                        type: integer
                        description: Number of seconds between events
                        minimum: 0
                      automationMeterTrigger:
                        type:
                        - object
                        - 'null'
                        description: Automation meter trigger configuration
                        properties:
                          automationTriggerInput:
                            type: object
                            properties:
                              conditions:
                                type: array
                                description: Conditions to trigger automation
                                items:
                                  type: object
                                  properties:
                                    operator:
                                      type: string
                                      enum:
                                      - increasedBy
                                      - decreasedBy
                                      description: Operator for the condition
                                    value:
                                      type: number
                                      description: Value for the condition
                                  required:
                                  - operator
                                  - value
                              meterId:
                                type: integer
                                description: ID of the meter to trigger the automation
                            required:
                            - meterId
                            - conditions
                          lastTriggerValue:
                            type: number
                            description: Last trigger value for the meter
                          newDueDateOffsetSeconds:
                            type: integer
                            description: Offset in seconds for new due date. If you want to set the due date to 2 days from now set this to 172800 - (24 * 60 * 60 * 2)
                            example: 86400
                skipRestHook:
                  type: boolean
                  deprecated: true
                  description: When work order is created, will not trigger any rest hook that is subscribed
                title:
                  type: string
                type:
                  type: string
                  enum:
                  - OTHER
                  - REACTIVE
                  - PREVENTIVE
                  description: Valid types of Work Orders.
                extraFields:
                  type: object
                  description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Estimated Time Allotted")'
                  additionalProperties:
                    type: string
                  example:
                    Estimated Time Allotted: 24 Hours
                vendorIds:
                  type: array
                  description: Vendor IDs
                  items:
                    type: number
                    example: 1
                partsUsed:
                  type: array
                  description: Parts IDs and quantities used in this work order
                  items:
                    type: object
                    required:
                    - partId
                    - quantityUsed
                    properties:
                      partId:
                        type: integer
                        example: 963
                        description: Global ID of the part
                      quantityUsed:
                        type: integer
                        description: Quantity used in the work order.
                        example: 120
                      locationId:
                        type:
                        - integer
                        - 'null'
                        description: Global ID of the location of the part
                        example: 852
                      copyOnRecurring:
                        type: string
                        description: Indicates if the parts will be copied to the next work order in the chain (if applicable).
                        default: Default
                        enum:
                        - NoCopy
                        - Copy
                        - Default
                parentId:
                  type:
                  - number
                  - 'null'
                  description: ID of the parent work order. If provided, the work order will be created as a sub-work order under this parent work order. Sub-work orders inherit most of their fields from the parent work order. <a href='https://help.getmaintainx.com/create-and-manage-sub-work-orders?utm_source=mx-api-docs&utm_medium=web&utm_campaign=create-and-manage-sub-work-orders&utm_id=maintainx' target='_blank'>Learn more</a></br>Mutually exclusive with **isParent**
      parameters:
      - name: skipWebhook
        in: query
        schema:
          type: boolean
          description: Set skipWebhook=true to skip all webhooks upon successful work order creation.
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      - schema:
          type: integer
        description: Required if using a multi organizations token
        name: x-organization-id
        in: header
        required: false
        example: '1'
      responses:
        '200':
          description: Successfully created work order
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                properties:
                  id:
                    type: number
                    example: 159
        '400':
          description: OrganizationId was not provided
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: Missing x-organization-id header.
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      tags:
      - Work Orders
      operationId: postWorkorders
      x-operation-id-source: derived
    get:
      summary: List work orders
      description: Endpoint used to list work order resources
      parameters:
      - name: cursor
        in: query
        schema:
          description: Last pagination reference
          type: string
      - name: limit
        in: query
        schema:
          description: max number of Work Orders returned
          type: integer
          minimum: 1
          maximum: 200
          default: 100
      - name: title
        schema:
          type: string
          description: To filter work orders by title
        in: query
      - name: assets
        schema:
          type: array
          title: asset ID filters
          description: 'To filter by multiple asset IDs: `assets=630&assets=634`'
          items:
            type: integer
        in: query
      - name: notAssets
        schema:
          type: array
          title: asset ID filters
          description: 'Filter work orders that have none of the provided assets.

            To filter by multiple asset IDs: `notAssets=630&notAssets=634`'
          items:
            type: integer
        in: query
      - name: locations
        schema:
          type: array
          title: location ID filters
          description: 'To filter by multiple location IDs: `locations=193&locations=194&locations=195`'
          items:
            type: integer
        in: query
      - name: notLocations
        schema:
          type: array
          title: location ID filters
          description: 'Filter work orders that have none of the provided locations.

            To filter by multiple location IDs: `notLocations=193&notLocations=194&notLocations=195`'
          items:
            type: integer
        in: query
      - name: parts
        schema:
          type: array
          title: part ID filters
          description: 'To filter by multiple part IDs: `parts=14677&parts=14687`'
          items:
            type: integer
        in: query
      - name: notParts
        schema:
          type: array
          title: part ID filters
          description: 'Filter work orders that have none of the provided parts.

            To filter by multiple part IDs: `notParts=14677&notParts=14687`'
          items:
            type: integer
        in: query
      - name: vendors
        schema:
          type: array
          title: vendor ID filters
          description: 'To filter by multiple vendor IDs: `vendors=7123&vendors=2234`'
          items:
            type: integer
        in: query
      - name: notVendors
        schema:
          type: array
          title: vendor ID filters
          description: 'Filter work orders that have none of the provided vendors.

            To filter by multiple vendor IDs: `notVendors=7123&notVendors=2234`'
          items:
            type: integer
        in: query
      - name: assignees
        schema:
          type: array
          title: assignee ID filters
          description: 'To filter by multiple assignee IDs: `assignees=23494&assignees=79808`'
          items:
            type: integer
        in: query
      - name: teams
        schema:
          type: array
          title: team ID filters
          description: 'To filter by multiple team IDs: `teams=112&teams=243`'
          items:
            type: integer
        in: query
      - name: categories
        schema:
          type: array
          title: categories filters
          description: 'To filter by multiple categories: `categories=123456&categories=Damage`'
          items:
            oneOf:
            - type: string
              description: Label of the category
              example: Damage
            - type: integer
              description: Global ID of the category
              example: 123
        in: query
      - name: notCategories
        schema:
          type: array
          title: categories filters
          description: 'Filter work orders that have none of the provided categories.

            To filter by multiple categories: `notCategories=123456&notCategories=Damage`'
          items:
            oneOf:
            - type: string
              description: Label of the category
              example: Damage
            - type: integer
              description: Global ID of the category
              example: 123
        in: query
      - name: priorities
        schema:
          type: array
          title: priorities filters
          description: 'To filter by multiple priorities: `priorities=LOW&priorities=MEDIUM`'
          items:
            type: string
            example: MEDIUM
            enum:
            - NONE
            - LOW
            - MEDIUM
            - HIGH
        in: query
      - name: statuses
        schema:
          type: array
          title: statuses filters
          description: 'To filter by multiple statuses: `statuses=IN_PROGRESS&statuses=DONE`'
          items:
            type: string
            enum:
            - OPEN
            - IN_PROGRESS
            - ON_HOLD
            - DONE
            - CANCELED
            - SKIPPED
            description: <br /><em>Note:</em> It is also possible to register a webhook to get notified when the status of any work order changes. Please see the <a href="#tag/Subscriptions">Subscriptions</a> section for more information.
        in: query
      - name: partStatuses
        schema:
          type: array
          title: partStatuses filters
          description: 'To filter by multiple partStatuses: `partStatuses=ASSIGNED&partStatuses=ISSUED`'
          items:
            type: string
            enum:
            - NO_PARTS
            - ASSIGNED
            - RESERVED
            - KITTED
            - STAGED
            - ISSUED
            description: Part stage indicates the current readiness state of parts for this work order.
        in: query
      - name: parentSubWorkOrderTypes
        schema:
          type: array
          title: parentSubWorkOrderTypes filters
          description: 'To filter by multiple parentSubWorkOrderTypes: `parentSubWorkOrderTypes=PARENT&parentSubWorkOrderTypes=SUB_WORK_ORDER`'
          items:
            type: string
            enum:
            - PARENT
            - SUB_WORK_ORDER
            - STANDALONE
            description: 'Hierarchical role of the work order: PARENT (has sub-work orders), SUB_WORK_ORDER (child of a parent), or STANDALONE (neither parent nor sub-work order).'
        in: query
      - name: show_upcoming
        schema:
          type: boolean
          title: show upcoming work orders
          description: Include work orders with a future start date
        in: query
      - name: updatedAt[gte]
        schema:
          type: string
          format: date-time
          description: Return records whose updatedAt is at or after this ISO 8601 date-time (UTC).
          example: '2024-01-01T00:00:00.000Z'
        in: query
      - name: updatedAt[lte]
        schema:
          type: string
          format: date-time
          description: Return records whose updatedAt is at or before this ISO 8601 date-time (UTC).
          example: '2024-12-31T23:59:59.999Z'
        in: query
      - name: createdAt[gte]
        schema:
          type: string
          format: date-time
          description: Return records whose createdAt is at or after this ISO 8601 date-time (UTC).
          example: '2024-01-01T00:00:00.000Z'
        in: query
      - name: createdAt[lte]
        schema:
          type: string
          format: date-time
          description: Return records whose createdAt is at or before this ISO 8601 date-time (UTC).
          example: '2024-12-31T23:59:59.999Z'
        in: query
      - in: query
        name: sort
        schema:
          description: 'Attribute on which to sort the list. (for descending order, prefix attribute with ''-''). '
          type: string
          enum:
          - updatedAt
          - createdAt
          - dueDate
          - startedAt
          - completedAt
          - -updatedAt
          - -createdAt
          - -dueDate
          - -startedAt
          - -completedAt
      - in: query
        name: expand
        schema:
          title: Expand specific fields in the request
          description: 'To expand multiple fields: `expand=thumbnail&expand=assignees`'
          type: array
          items:
            type: string
            enum:
            - thumbnail
            - assignees
            - categories
            - parts
            - asset
            - location
            - procedure
            - vendor_ids
            - times
            - time_items
            - expenditures
            - extra_fields
            - part_extra_fields
            - asset_extra_fields
            - location_extra_fields
            - estimated_time
      - schema:
          type: integer
        description: Required if using a multi organizations token
        name: x-organization-id
        in: header
        required: false
        example: '1'
      responses:
        '200':
          description: Successfully fetched Work Orders list
          content:
            application/json:
              schema:
                type: object
                required:
                - workOrders
                properties:
                  workOrders:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - sequentialId
                      - title
                      - updatedAt
                      - status
                      properties:
                        id:
                          type: integer
                          description: Global ID of the work order
                        sequentialId:
                          type: integer
                          description: Organization specific ID of the work order
                        title:
                          type: string
                        updatedAt:
                          type: string
                          format: date-time
                          description: Date & time at which the work order was last updated. This doesn't include comments
                          example: '2022-01-01T00:00:00.000Z'
                        status:
                          type: string
                          enum:
                          - OPEN
                          - IN_PROGRESS
                          - ON_HOLD
                          - DONE
                          - CANCELED
                          - SKIPPED
                          description: <br /><em>Note:</em> It is also possible to register a webhook to get notified when the status of any work order changes. Please see the <a href="#tag/Subscriptions">Subscriptions</a> section for more information.
                        completedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          description: Date & time at which the work order was last marked as DONE
                          example: '2022-01-01T00:00:00.000Z'
                        completerId:
                          type:
                          - integer
                          - 'null'
                          description: ID of the user who completed the work order
                        createdAt:
                          type: string
                          format: date-time
                          description: Date & time at which the work order was created
                          example: '2022-01-01T00:00:00.000Z'
                        creatorId:
                          type:
                          - integer
                          - 'null'
                          description: ID of the user who created the work order
                        deletedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          description: Date & time at which the work order was deleted
                          example: '2022-01-01T00:00:00.000Z'
                        description:
                          type:
                          - string
                          - 'null'
                          example: A work order sample description
                        dueDate:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          description: Date & time at which the work order is due
                          example: '2022-01-01T00:00:00.000Z'
                        dueDateIsFullDay:
                          type:
                          - boolean
                          - 'null'
                        lastMessageSentAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          description: Date & time at which the last comment was added to the work order
                          example: '2022-01-01T00:00:00.000Z'
                        startDate:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          description: Date & time at which the work order will show up in the inbox</br>Only valid when <b>dueDate</b> is set
                          example: '2022-01-01T00:00:00.000Z'
                        locationId:
                          type:
                          - integer
                          - 'null'
                          description: Global ID of the location assigned to the work order
                          example: 611
                        nextId:
                          type:
                          - integer
                          - 'null'
                        organizationId:
                          type: number
                        partsAvailability:
                          type: string
                          enum:
                          - PARTS_AVAILABLE
                          - PARTS_UNAVAILABLE
                          - PARTIAL_PARTS
                          - PARTS_AVAILABLE_BUT_OVERCOMMITTED
                          description: Computed parts availability for this work order based on current inventory levels.
                        partStatus:
                          type: string
                          enum:
                          - NO_PARTS
                          - ASSIGNED
                          - RESERVED
                          - KITTED
                          - STAGED
                          - ISSUED
                          description: Part stage indicates the current readiness state of parts for this work order.
                        previousId:
                          type:
                          - integer
                          - 'null'
                        priority:
                          type: string
                          example: MEDIUM
                          enum:
                          - NONE
                          - LOW
                          - MEDIUM
                          - HIGH
                        recurrenceInfo:
                          type:
                          - object
                          - 'null'
                          example:
                            type: WEEKLY
                            interval: 3
                            days:
                            - MONDAY
                            - WEDNESDAY
                            - FRIDAY
                          oneOf:
                          - type:
                            - object
                            - 'null'
                            title: Daily
                            required:
                            - type
                            properties:
                              type:
                                type: string
                                pattern: DAILY
                                enum:
                                - DAILY
                              automationMeterTrigger:
                                type:
                                - object
                                - 'null'
                                description: Automation meter trigger configuration
                                properties:
                                  automationTriggerInput:
                                    type: object
                                    properties:
                                      conditions:
                                        type: array
                                        description: Conditions to trigger automation
                                        items:
                                          type: object
                                          properties:
                                            operator:
                                              type: string
                                              enum:
                                              - increasedBy
                                              - decreasedBy
                                              description: Operator for the condition
                                            value:
                                              type: number
                                              description: Value for the condition
                                          required:
                                          - operator
                                          - value
                                      meterId:
                                        type: integer
                                        description: ID of the meter to trigger the automation
                                    required:
                                    - meterId
                                    - conditions
                                  lastTriggerValue:
                                    type: number
                                    description: Last trigger value for the meter
                                  newDueDateOffsetSeconds:
                                    type: integer
                                    description: Offset in seconds for new due date. If you want to set the due date to 2 days from now set this to 172800 - (24 * 60 * 60 * 2)
                                    example: 86400
                          - type:
                            - object
                            - 'null'
                            title: Weekly
                            required:
                            - type
                            - days
                            properties:
                              type:
                                type: string
                                pattern: WEEKLY
                                enum:
                                - WEEKLY
                              interval:
                                type: integer
                                description: Number of weeks between events
                                minimum: 1
                                maximum: 52
                                default: 1
                              days:
                                type: array
                                description: Days of the week the event will occur
                                items:
                                  type: string
                                  enum:
                                  - SUNDAY
                                  - MONDAY
                                  - TUESDAY
                                  - WEDNESDAY
                                  - THURSDAY
                                  - FRIDAY
                                  - SATURDAY
                              automationMeterTrigger:
                                type:
                                - object
                                - 'null'
                                description: Automation meter trigger configuration
                                properties:
                                  automationTriggerInput:
                                    type: object
                                    properties:
                                      conditions:
                                        type: array
                                        description: Conditions to trigger automation
                                        items:
                                          type: object
                                          properties:
                                            operator:
                                              type: string
                                              enum:
                                              - increasedBy
                                              - decreasedBy
                                              description: Operator for the condition
                                            value:
                                              type: number
                                              description: Value for the condition
                                          required:
                                          - operator
                                          - value
                                      meterId:
                                        type: integer
                                        description: ID of the meter to trigger the automation
                                    required:
                                    - meterId
                                    - conditions
                                  lastTriggerValue:
                                    type: number
                                    description: Last trigger value for the meter
                                  newDueDateOffsetSeconds:
                                    type: integer
                                    description: Offset in seconds for new due date. If you want to set the due date to 2 days from now set this to 172800 - (24 * 60 * 60 * 2)
                                    example: 86400
                          - type:
                            - object
                            - 'null'
                            title: Monthly
                            required:
                            - type
                            - day
                            properties:
                              type:
                                type: string
                                pattern: MONTHLY
                                enum:
                                - MONTHLY
                              interval:
                                type: integer
                                description: Number of months between events
                                minimum: 1
                                maximum: 24
                                default: 1
                              day:
                                type: integer
                                minimum: 1
                                maximum: 31
                                description: Day of the month the event will occur
                              automationMeterTrigger:
                                type:
                                - object
                                - 'null'
                                description: Automation meter trigger configuration
                                properties:
                                  automationTriggerInput:
                                    type: object
                                    properties:
                                      conditions:
                                        type: array
                                        description: Conditions to trigger automation
                                        items:
                                          type: object
                                          properties:
                                            operator:
                                              type: string
                                              enum:
                                              - increasedBy
                                              - decreasedBy
                                              description: Operator for the condition
                                            value:
                                              type: number
                                              description: Value for the condition
                                          required:
                                          - operator
                                          - value
                                      meterId:
                                        type: integer
                                        description: ID of the meter to trigger the automation
                                    required:
                                    - meterId
                                    - conditions
                                  lastTriggerValue:
                                    type: number
                                    description: Last trigger value for the meter
                                  newDueDateOffsetSeconds:
                                    type: integer
                                    description: Offset in seconds for new due date. If you want to set the due date to 2 days from now set this to 172800 - (24 * 60 * 60 * 2)
                                    example: 86400
                          - type:
                            - object
                            - 'null'
                            title: Yearly
                            required:
                            - type
                            properties:
                              type:
                                type: string
                                pattern: YEARLY
                                enum:
                                - YEARLY
                              interval:
                                type: integer
                                description: Number of years between events
                                minimum: 1
                                maximum: 1000
                                default: 1
                              automationMeterTrigger:
                                type:
                                - object
                                - 'null'
                                description: Automation meter trigger configuration
                                properties:
                                  automationTriggerInput:
                                    type: object
                                    properties:
                                      conditions:
                                        type: array
                                        description: Conditions to trigger automation
                                        items:
                                          type: object
                                          properties:
                                            operator:
                                              type: string
                                              enum:
                                              - increasedBy
                                              - decreasedBy
                                              description: Operator for the condition
                                            value:
                                              type: number
                                              description: Value for the condition
                                          required:
                                          - operator
                                          - value
                                      meterId:
                                        type: integer
                                        description: ID of the meter to trigger the automation
                                    required:
                                    - meterId
                                    - conditions
                                  lastTriggerValue:
                                    type: number
                                    description: Last trigger value for the meter
                                  newDueDateOffsetSeconds:
                                    type: integer
                                    description: Offset in seconds for new due date. If you want to set the due date to 2 days from now set this to 172800 - (24 * 60 * 60 * 2)
                                    example: 86400
                          - type:
                            - object
                            - 'null'
                            title: Periodically
                            required:
                            - type
                            properties:
                              type:
                                type: string
                                pattern: PERIODICALLY
                                enum:
                                - PERIODICALLY
                              interval:
                                type: integer
                                description: Number of seconds between events
                                minimum: 0
                              automationMeterTrigger:
                                type:
                                - object
                                - 'null'
                                description: Automation meter trigger configuration
                                properties:
                                  automationTriggerInput:
                                    type: object
                                    properties:
                                      conditions:
                                        type: array
                                        description: Conditions to trigger automation
                                        items:
                                          type: object
                                          properties:
                                            operator:
                                              type: string
                                              enum:
                                              - increasedBy
                                              - decreasedBy
                                              description: Operator for the condition
                                            value:
                                              type: number
                                              description: Value for the condition
                                          required:
                                          - operator
                                          - value
                                      meterId:
                                        type: integer
                                        description: ID of the meter to trigger the automation
                                    required:
                                    - meterId
                                    - conditions
                                  lastTriggerValue:
                                    type: number
                                    description: Last trigger value for the meter
                                  newDueDateOffsetSeconds:
                                    type: integer
                                    description: Offset in seconds for new due date. If you want to set the due date to 2 days from now set this to 172800 - (24 * 60 * 60 * 2)
                                    example: 86400
                        requesterId:
                          type:
                          - integer
                          - 'null'
                          description: ID of the user who requested the work order through the Work Request feature
                        type:
                          type:
                          - string
                          - 'null'
                          enum:
                          - CYCLE_COUNT
                          - OTHER
                          - PREVENTIVE
                          - REACTIVE
                          description: Valid types of Work Orders, including options that are not available for creation/update. Historical Work Orders may have a null type.
                          default: null
                        extraFields:
                          type: object
                          description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Estimated Budget") (expand with query parameter)'
                          additionalProperties:
                            type: string
                          example:
                            Estimated Budget: $250
                        vendorIds:
                          type: array
                          description: Vendor IDs
                          items:
                            type: number
                            example: 1
                        workOrderSummary:
                          type:
                          - object
                          - 'null'
                          description: Work Order Summary. Null when no summary is available.
                          properties:
                            content:
                              type: string
                              description: The original completion note content
                              example: Replaced the motor bearings and aligned the shaft.
                            summary:
                              type:
                              - string
                              - 'null'
                              description: AI-generated summary of the content
                              example: Motor bearing replacement and shaft alignment completed.
                            authorId:
                              type:
                              - integer
                              - 'null'
                              description: ID of the user who authored the completion note
                              example: 963
                        assignees:
                          type: array
                          description: Either the teamId, the userId or the user email address (expand with query parameter)
                          items:
                            type: object
                            title: assignees
                            required:
                            - type
                            - id
                            properties:
                              type:
                                type: string
                                example: USER
                                enum:
                                - USER
                                - TEAM
                              id:
                                oneOf:
                                - type: integer
                                - type: string
                        categories:
                          type: array
                          description: List of categories that identify the work order (expand with query parameter)
                          items:
                            type: string
                            example: Cleaning
                            uniqueItems: true
                        thumbnail:
                          type: object
                          title: attachment
                          required:
                          - id
                          - mimeType
                          - fileName
                          - url
                          - createdAt
                          properties:
                            id:
                              type: number
                              description: Global ID of the attachment
                              example: 12345
                            mimeType:
                              type: string
                              description: MIME type of the file
                              example: image/png
                            fileName:
                              type: string
                              description: Attachment's file name
                              example: image.png
                            url:
                              type: string
                              description: Url of the file. Valid for 60 minutes.
                              example: http://example.com/image.png
                            createdAt:
                              type: string
                              format: date-time
                              description: Date & time at which the attachment was uploaded
                              example: '2022-01-01T00:00:00.000Z'
                            width:
                              type:
                              - number
                              - 'null'
                              description: Width if the file is an image
                              example: 220
                            height:
                              type:
                              - number
                              - 'null'
                              description: Height if the file is an image
                              example: 100
                          description: (expand with query parameter)
                        asset:
                          type:
                          - object
                          - 'null'
                          required:
                          - id
                          - name
                          - description
                          - parentId
                          - criticalityId
                          - locationId
                          - serialNumber
                          - createdAt
                          - updatedAt
                          - creatorId
                          description: Asset linked to the element (expand with query parameter)
                          properties:
                            id:
                              type: integer
                              example: 963
                              description: Global ID of the asset
                            name:
                              type: string
                              example: Forklift
                            description:
                              type:
                              - string
                              - 'null'
                              example: Forklift that is used to to move heavy equipments around the warehouse
                            parentId:
                              type:
                              - integer
                              - 'null'
                              example: 852
                              description: ID of the parent asset
                            criticalityId:
                              type:
                              - integer
                              - 'null'
                              example: 150
                              description: ID of the criticality of the asset
                            locationId:
                              type:
                              - integer
                              - 'null'
                              example: 852
                              description: ID of the location where the asset is located
                            serialNumber:
                              type:
                              - string
                              - 'null'
                              description: Serial number of the asset
                              example: 000123ABC
                            createdAt:
                              type: string
                              format: date-time
                              description: Date & time at which the asset was created
                              example: '2022-01-01T00:00:00.000Z'
                            updatedAt:
                              type: string
                              format: date-time
                              description: Date & time at which the asset was last updated. This doesn't include comments
                              example: '2022-01-01T00:00:00.000Z'
                            creatorId:
                              type:
                              - integer
                              - 'null'
                              example: 851
                              description: ID of the asset creator
                            assetExtraFields:
                              type: object
                              description: Asset-level custom field values. Present (possibly an empty object) when `asset_extra_fields` is requested and the parent Asset is present. Requesting this implicitly enables `asset` if not already requested.
                              additionalProperties:
                                type: string
                        location:
                          type:
                          - object
                          - 'null'
                          required:
                          - id
                          - name
                          description: Location linked to the element (expand with query parameter)
                          properties:
                            id:
                              type: integer
                              example: 963
                              description: Global ID of the location
                            name:
                              type: string
                              example: Warehouses
                            description:
                              type:
                              - string
                              - 'null'
                              example: The warehouse where we store the forklifts
                            address:
                              type:
                              - string
                              - 'null'
                              example: 1090 main street, Franklin
                              description: Postal address of the location
                            parentId:
                              type:
                              - integer
                              - 'null'
                              example: 852
                              description: ID of the parent location
                            createdAt:
                              type: string
                              format: date-time
                              description: Date & time at which the location was created
                              example: '2022-01-01T00:00:00.000Z'
                            updatedAt:
                              type: string
                              format: date-time
                              description: Date & time at which the location was last updated. This doesn't include comments
                              example: '2022-01-01T00:00:00.000Z'
                            locationExtraFields:
                              type: object
                              description: Location-level custom field values. Present (possibly an empty object) when `location_extra_fields` is requested and the parent Location is present. Requesting this implicitly enables `location` if not already requested.
                              additionalProperties:
                                type: string
                        parts:
                          type: array
                          description: Parts attached to the Work Order (expand with query parameter)
                          items:
                            type: object
                            required:
                            - id
                            - name
                            - description
                            - area
                            - unitCost
                            - availableQuantity
                            - minimumQuantity
                            - barcode
                            - quantityUsed
                            - copyOnRecurring
                            properties:
                              id:
                                type: integer
                                example: 963
                                description: Global ID of the part
                              name:
                                type: string
                                example: Locknut - 1/8
                              description:
                                type:
                                - string
                                - 'null'
                                example: ''
                              area:
                                type:
                                - string
                                - 'null'
                                example: tool room
                              unitCost:
                                type:
                                - integer
                                - 'null'
                                description: Cost in cents. For example, for $1.20, put 120.
                                example: 120
                              availableQuantity:
                                type: integer
                                description: Quantity currently in stock
                                example: 10
                              minimumQuantity:
                                type: integer
                                description: Minimum quantity before you should restock
                                example: 5
                              barcode:
                                type:
                                - string
                                - 'null'
                                example: bWFpbnRhaW54Cg==
                                description: String encoded barcode
                              quantityUsed:
                                type: integer
                                description: Quantity used in the work order.
                                example: 120
                              copyOnRecurring:
                                type: string
                                description: Indicates if the parts will be copied to the next work order in the chain (if applicable).
                                default: Default
                                enum:
                                - NoCopy
                                - Copy
                                - Default
                              locationId:
                                type:
                                - number
                                - 'null'
                                description: Global ID of the location of the part
                                example: 852
                              extraFields:
                                type: object
                                description: Work Order-scoped custom fields for this Part on this specific Work Order. These are distinct from Part-level custom fields (see `partExtraFields`).
                                additionalProperties:
                                  type: string
                              partExtraFields:
                                type: object
                                description: Part-level custom fields defined on the Part itself (not specific to this Work Order). Present (possibly an empty object) when `part_extra_fields` is requested and Parts are present. Requesting this implicitly enables `parts` if not already requested.
                                additionalProperties:
                                  type: string
                        procedure:
                          type: object
                          description: Procedure attached to the work order (expand with query parameter)
                          required:
                          - title
                          - fields
                          properties:
                            id:
                              type: number
                              example: 1234
                              description: ID representing a procedure
                            templateIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: number
                              example:
                              - 1234
                              - 1235
                              description: IDs of the procedure template of the procedure
                            title:
                              type: string
                              description: Title of the procedure
                              example: Control dashboard audit
                            maxScore:
                              type: number
                              example: 2
                              description: Maximum score of a procedure
                            score:
                              type: number
                              example: 1
                              description: Score of a procedure
                            fields:
                              type: array
                              items:
                                type: object
                                required:
                                - id
                                - label
                                - required
                                - type
                                - value
                                properties:
                                  id:
                                    type: number
                                    example: 1234
                                    description: ID of the procedure field
                                  parentId:
                                    type:
                                    - number
                                    - 'null'
                                    example: 1233
                                    description: ID of the parent of the current procedure field
                                  procedureTemplateId:
                                    type:
                                    - number
                                    - 'null'
                                    example: 1234
                                    description: ID of the procedure template this field originated from.
                                  procedureTemplateFieldId:
                                    type:
                                    - number
                                    - 'null'
                                    example: 5678
                                    description: ID of the procedure template field this field originated from.
                                  required:
                                    type: boolean
                                    description: Indicate if field is required to be filled.
                                  description:
                                    example: Number of green lights
                                    type:
                                    - string
                                    - 'null'
                                    description: Description of the procedure field
                                  type:
                                    type: string
                                    example: NUMBER
                                    enum:
                                    - NUMBER
                                    - AMOUNT
                                    - TEXT
                                    - UNSUPPORTED
                                    - HEADING
                                    - FILE
                                    - SIGNATURE
                                    - MULTIPLE_CHOICE
                                    - INSPECTION_CHECK
                                    - YES_NO_NA
                                    - CHECKBOX
                                    - CHECKLIST
                                    - METER
                                    - DATE
                                    - CYCLE_COUNT
                                    description: Type of procedure field
                                  label:
                                    type: string
                                    example: Number of green lights
                                    description: Label of a procedure field
                                  maxScore:
                                    type: number
                                    example: 2
                                    description: Maximum score of a procedure field
                                  score:
                                    type: number
                                    example: 1
                                    description: Score of a procedure field
                                  value:
                                    type: object
                                    description: Current value of a procedure field
                                    properties:
                                      text:
                                        type:
                                        - string
                                        - 'null'
                                        example: '12'
                                      attachment:
                                        type: object
                                        title: attachment
                                        required:
                                        - id
                                        - mimeType
                                        - fileName
                                        - url
                                        - createdAt
                                        properties:
                                          id:
                                            type: number
                                            description: Global ID of the attachment
                                            example: 12345
                                          mimeType:
                                            type: string
                                            description: MIME type of the file
                                            example: image/png
                                          fileName:
                                            type: string
                                            description: Attachment's file name
                                            example: image.png
                                          url:
                                            type: string
                                            description: Url of the file. Valid for 60 minutes.
                                            example: http://example.com/image.png
                                          createdAt:
                                            type: string
                                            format: date-time
                                            description: Date & time at which the attachment was uploaded
                                            example: '2022-01-01T00:00:00.000Z'
                                          width:
                                            type:
                                            - number
                                            - 'null'
                                            description: Width if the file is an image
                                            example: 220
                                          height:
                                            type:
                                            - number
                                            - 'null'
                                            description: Height if the file is an image
                                            example: 100
                                        deprecated: true
                                      attachments:
                                        type: array
                                        items:
                                          type: object
                                          title: attachment
                                          required:
                                          - id
                                          - mimeType
                                          - fileName
                                          - url
                                          - createdAt
                                          properties:
                                            id:
                                              type: number
                                              description: Global ID of the attachment
                                              example: 12345
                                            mimeType:
                                              type: string
                                              description: MIME type of the file
                                              example: image/png
                                            fileName:
                                              type: string
                                              description: Attachment's file name
                                              example: image.png
                                            url:
                                              type: string
                                              description: Url of the file. Valid for 60 minutes.
                                              example: http://example.com/image.png
                                            createdAt:
                                              type: string
                                              format: date-time
                                              description: Date & time at which the attachment was uploaded
                                              example: '2022-01-01T00:00:00.000Z'
                                            width:
                                              type:
                                              - number
                                              - 'null'
                                              description: Width if the file is an image
                                              example: 220
                                            height:
                                              type:
                                              - number
                                              - 'null'
                                              description: Height if the file is an image
                                              example: 100
                                      notes:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          text:
                                            type: string
                                            example: 1 light bulb is burned out.
                                        description: Note added to a procedure field
                                      hasAttachments:
                                        type:
                                        - boolean
                                        - 'null'
                                        example: 'true'
                                  meter:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: number
                                        description: Global ID of the meter.
                                        example: 123
                                      name:
                                        type: string
                                        description: Name of the meters
                                    description: Meter of a procedure field. Will be filled if the type of the field is meter
                                  assignees:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      userIds:
                                        type: array
                                        items:
                                          type: number
                                      teamIds:
                                        type: array
                                        items:
                                          type: number
                                  isDateAndTime:
                                    type:
                                    - boolean
                                    - 'null'
                                    description: Indicate if a DATE field also contains the time
                                    example: false
                        times:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                description: Type of the entry
                                enum:
                                - EXPENSE
                                - PART
                                - TIME
                              costPerUnit:
                                type:
                                - number
                                - 'null'
                                description: Cost per part in cents or cents per hour
                              description:
                                type:
                                - string
                                - 'null'
                                description: 'Description of the expense or part description '
                              quantity:
                                type: number
                                description: Number of parts or number of hours
                              rowTotal:
                                type: number
                                description: Total cost in cents
                              durationTotal:
                                type: number
                                description: Total duration in seconds
                              userId:
                                type:
                                - integer
                                - 'null'
                                description: ID of the user who logged the time entry
                              partId:
                                type:
                                - integer
                                - 'null'
                                description: ID of the part used in this cost entry
                        timeItems:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                description: Type of the entry
                                enum:
                                - EXPENSE
                                - PART
                                - TIME
                              costPerUnit:
                                type:
                                - number
                                - 'null'
                                description: Cost per part in cents or cents per hour
                              description:
                                type:
                                - string
                                - 'null'
                                description: 'Description of the expense or part description '
                              quantity:
                                type: number
                                description: Number of parts or number of hours
                              rowTotal:
                                type: number
                                description: Total cost in cents
                              durationTotal:
                                type: number
                                description: Total duration in seconds
                              userId:
                                type:
                                - integer
                                - 'null'
                                description: ID of the user who logged the time entry
                              partId:
                                type:
                                - integer
                                - 'null'
                                description: ID of the part used in this cost entry
                        expenditures:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                description: Type of the entry
                                enum:
                                - EXPENSE
                                - PART
                                - TIME
                              costPerUnit:
                                type:
                                - number
                                - 'null'
                                description: Cost per part in cents or cents per hour
                              description:
                                type:
                                - string
                                - 'null'
                                description: 'Description of the expense or part description '
                              quantity:
                                type: number
                                description: Number of parts or number of hours
                              rowTotal:
                                type: number
                                description: Total cost in cents
                              durationTotal:
                                type: number
                                description: Total duration in seconds
                              userId:
                                type:
                                - integer
                                - 'null'
                                description: ID of the user who logged the time entry
                              partId:
                                type:
                                - integer
                                - 'null'
                                description: ID of the part used in this cost entry
                  nextCursor:
                    description: The cursor to retrieve the next page of Work Orders.
                    type:
                    - string
                    - 'null'
                  nextPageUrl:
                    description: Path with query parameters that can be used to retrieve the next page of Work Orders.
                    type:
                    - string
                    - 'null'
        '400':
          description: Error with query
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    description: Description of error
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      tags:
      - Work Orders
      operationId: getWorkorders
      x-operation-id-source: derived
  /workorders/{id}:
    get:
      summary: Get work order
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the workOrder
        example: '1'
      - in: query
        name: expand
        schema:
          title: Expand specific fields in the request
          description: 'To expand multiple fields: `expand=assignees&expand=asset`'
          type: array
          items:
            type: string
            enum:
            - assignees
            - asset
            - estimated_time
            - location
            - parts
            - times
            - time_items
            - expenditures
            - extra_fields
            - part_extra_fields
            - asset_extra_fields
            - location_extra_fields
      - name: useSequentialId
        schema:
          type: boolean
          description: Whether to use the sequential ID instead of the global ID
        in: query
      responses:
        '200':
          description: Successfully retrieved workOrder's information
          content:
            application/json:
              schema:
                type: object
                required:
                - workOrder
                properties:
                  workOrder:
                    type: object
                    required:
                    - updatedAt
                    - status
                    - title
                    - createdAt
                    - creatorId
                    - id
                    - sequentialId
                    - organizationId
                    properties:
                      id:
                        type: integer
                        description: Global ID of the work order
                      sequentialId:
                        type: integer
                        description: Organization specific ID of the work order
                      assetId:
                        type:
                        - integer
[...]
