openapi: 3.2.0
info:
  title: Maintainx Subscriptions & Webhooks API
  version: '1'
  contact:
    url: https://www.getmaintainx.com/
    name: Support
    email: support@getmaintainx.com
  x-logo:
    url: https://maintainx-static.s3-us-west-2.amazonaws.com/img/default-org-logo.png
    backgroundColor: '#FFFFFF'
    altText: MaintainX logo
  description: 'Operations tagged Subscriptions & Webhooks across 2 of this provider''s published API definitions: maintainx-openapi-original.json, maintainx-subscriptions-webhooks-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.getmaintainx.com/v1
  description: Endpoint
security:
- Bearer: []
tags:
- name: Subscriptions & Webhooks
  description: 'Webhooks in MaintainX


    What are Webhooks?'
  x-traitTag: false
paths:
  /subscriptions:
    post:
      summary: Create new subscription
      requestBody:
        description: Subscription to create
        required: true
        content:
          application/json:
            schema:
              type: object
              oneOf:
              - title: API Token Created
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - API_TOKEN_CREATED
                    example: API_TOKEN_CREATED
                  url:
                    type: string
                    example: https://example.com
              - title: API Token Revoked
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - API_TOKEN_REVOKED
                    example: API_TOKEN_REVOKED
                  url:
                    type: string
                    example: https://example.com
              - title: Asset Status Change
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - ASSET_STATUS_CHANGE
                    example: ASSET_STATUS_CHANGE
                  url:
                    type: string
                    example: https://example.com
                  filters:
                    type: object
                    description: Possible filters.
                    properties:
                      oneOfAssetStatusTypes:
                        type: array
                        description: Asset status types that will trigger the webhook
                        items:
                          title: Status
                          type: string
                          enum:
                          - IGNORE
                          - OFFLINE
                          - ONLINE
                      oneOfCustomAssetStatusesIds:
                        type: array
                        description: Custom status ids that will trigger the webhook
                        items:
                          type: number
              - title: Connector Token Revoked
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - CONNECTOR_TOKEN_REVOKED
                    example: CONNECTOR_TOKEN_REVOKED
                  url:
                    type: string
                    example: https://example.com
              - title: Data Export Initiated
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - DATA_EXPORT_INITIATED
                    example: DATA_EXPORT_INITIATED
                  url:
                    type: string
                    example: https://example.com
              - title: Invite Link Archived
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - INVITE_LINK_ARCHIVED
                    example: INVITE_LINK_ARCHIVED
                  url:
                    type: string
                    example: https://example.com
              - title: Invite Link Created
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - INVITE_LINK_CREATED
                    example: INVITE_LINK_CREATED
                  url:
                    type: string
                    example: https://example.com
              - title: Invite Link Updated
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - INVITE_LINK_UPDATED
                    example: INVITE_LINK_UPDATED
                  url:
                    type: string
                    example: https://example.com
              - title: Meter Trigger Status Change
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - METER_TRIGGER_STATE_CHANGE
                    example: METER_TRIGGER_STATE_CHANGE
                  url:
                    type: string
                    example: https://example.com
                  filters:
                    type: object
                    description: Possible filters.
                    properties:
                      oneOfStates:
                        type: array
                        description: States that will trigger the webhook.
                        items:
                          title: State
                          type: string
                          enum:
                          - INACTIVE
                          - INSUFFICIENT_DATA
                          - PENDING
                          - STABLE
                          - TRIGGERED
              - title: New Asset
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - NEW_ASSET
                    example: NEW_ASSET
                  url:
                    type: string
                    example: https://example.com
                  options:
                    type: object
                    description: Possible options
                    properties:
                      serializeEntity:
                        type: boolean
                        description: If true, the webhook will receive the Asset data
              - title: New Category on Work Order
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - NEW_CATEGORY_ON_WORK_ORDER
                    example: NEW_CATEGORY_ON_WORK_ORDER
                  url:
                    type: string
                    example: https://example.com
                  filters:
                    type: object
                    description: Possible filters.
                    properties:
                      oneOfCategories:
                        type: array
                        description: At least one of those categories should be on the work order to trigger the webhook.
                        items:
                          oneOf:
                          - title: Name
                            type: string
                            description: Category name
                          - title: ID
                            type: integer
                            description: Global ID of a category
              - title: New Comment on Work Order
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - NEW_COMMENT_ON_WORK_ORDER
                    example: NEW_COMMENT_ON_WORK_ORDER
                  url:
                    type: string
                    example: https://example.com
              - title: New Location
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - NEW_LOCATION
                    example: NEW_LOCATION
                  url:
                    type: string
                    example: https://example.com
              - title: New Part
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - NEW_PART
                    example: NEW_PART
                  url:
                    type: string
                    example: https://example.com
                  options:
                    type: object
                    description: Possible options
                    properties:
                      serializeEntity:
                        type: boolean
                        description: If true, the webhook will receive the Part data
              - title: New Purchase Order
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - NEW_PURCHASE_ORDER
                    example: NEW_PURCHASE_ORDER
                  url:
                    type: string
                    example: https://example.com
                  options:
                    type: object
                    description: Possible options
                    properties:
                      serializeEntity:
                        type: boolean
                        description: If true, the webhook will receive the Purchase Order data
                      includeOAuthTokensInPayload:
                        type: boolean
                        description: 'If true, the webhook payload will include the OAuth tokens of the user whose action triggered the webhook. Warning: these tokens are sensitive and should only be included when the webhook is sent to a trusted source. Only available when OIDC login is enabled for the organization.'
              - title: New Request
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - NEW_WORK_REQUEST
                    example: NEW_WORK_REQUEST
                  url:
                    type: string
                    example: https://example.com
              - title: New Slash Command
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - NEW_SLASH_COMMAND
                    example: NEW_SLASH_COMMAND
                  url:
                    type: string
                    example: https://example.com
                  filters:
                    type: object
                    description: Possible filters.
                    properties:
                      command:
                        type: string
                        description: Specify the required keyword to trigger the Webhook.
                        example: jira
              - title: New Vendor
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - NEW_VENDOR
                    example: NEW_VENDOR
                  url:
                    type: string
                    example: https://example.com
              - title: New Work Order
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - NEW_WORK_ORDER
                    example: NEW_WORK_ORDER
                  url:
                    type: string
                    example: https://example.com
                  options:
                    type: object
                    description: Possible options
                    properties:
                      serializeEntity:
                        type: boolean
                        description: If true, the webhook will receive the Work Order data
              - title: Part Change
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - PART_CHANGE
                    example: PART_CHANGE
                  url:
                    type: string
                    example: https://example.com
                  options:
                    type: object
                    description: Possible options
                    properties:
                      serializeEntity:
                        type: boolean
                        description: If true, the webhook will receive the part data
                      onlySerializeFilteredProperties:
                        type: boolean
                        description: If true and serializeEntity is also set to true, only the filtered properties will be returned on update.
                  filters:
                    type: object
                    description: Possible filters.
                    properties:
                      oneOfPartProperties:
                        type: array
                        description: Properties that will trigger the webhook. <br>*If no properties are selected, the webhook will be triggered on every change
                        items:
                          title: Properties
                          type: string
                          enum:
                          - AREA
                          - ASSETS
                          - AVAILABLE_QUANTITY
                          - BARCODE
                          - DESCRIPTION
                          - EXTRA_FIELDS
                          - LOCATION
                          - LOCATIONS
                          - MAXIMUM_QUANTITY
                          - MINIMUM_QUANTITY
                          - NAME
                          - PART_TYPES
                          - TEAMS
                          - UNIT_COST
                          - VENDORS
              - title: Part Delete
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - PART_DELETE
                    example: PART_DELETE
                  url:
                    type: string
                    example: https://example.com
                  options:
                    type: object
                    description: Possible options
                    properties:
                      serializeEntity:
                        type: boolean
                        description: If true, the webhook will receive the part data
              - title: Part Quantity Changed
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - PART_QUANTITY_CHANGE
                    example: PART_QUANTITY_CHANGE
                  url:
                    type: string
                    example: https://example.com
              - title: Part Transfer
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - PART_TRANSFER
                    example: PART_TRANSFER
                  url:
                    type: string
                    example: https://example.com
              - title: Purchase Order Change
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - PURCHASE_ORDER_CHANGE
                    example: PURCHASE_ORDER_CHANGE
                  url:
                    type: string
                    example: https://example.com
                  options:
                    type: object
                    description: Possible options
                    properties:
                      serializeEntity:
                        type: boolean
                        description: If true, the webhook will receive the purchase order data
                      onlySerializeFilteredProperties:
                        type: boolean
                        description: If true and serializeEntity is also set to true, only the filtered properties will be returned on update.
                  filters:
                    type: object
                    description: Possible filters.
                    properties:
                      oneOfPurchaseOrderProperties:
                        type: array
                        description: Properties that will trigger the webhook. <br>*If no properties are selected, the webhook will be triggered on every changes
                        items:
                          title: Properties
                          type: string
                          enum:
                          - ATTACHMENTS
                          - BILLING_ADDRESS
                          - COSTS
                          - DUE_DATE
                          - EXTRA_FIELDS
                          - ITEMS
                          - NOTE
                          - OVERRIDE_NUMBER
                          - SHIPPING_ADDRESS
                          - STATUS
                          - TITLE
                          - VENDOR
                          - VENDOR_CONTACTS
              - title: Purchase Order Status Change
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - PURCHASE_ORDER_STATUS_CHANGE
                    example: PURCHASE_ORDER_STATUS_CHANGE
                  url:
                    type: string
                    example: https://example.com
                  options:
                    type: object
                    description: Possible options
                    properties:
                      serializePurchaseOrder:
                        type: boolean
                        description: If true, the webhook will receive the purchase order data
                      omitSendToVendorPopup:
                        type: boolean
                        description: If true, if the state change was done from the UI, the UI will not prompt the user to send the purchase order to the vendor. It will be assumed that the webhook took care of it.
                  filters:
                    type: object
                    description: Possible filters.
                    properties:
                      oneOfStatuses:
                        type: array
                        description: Statuses that will trigger the webhook
                        items:
                          title: Status
                          type: string
                          enum:
                          - APPROVED
                          - CANCELED
                          - COMPLETED
                          - DECLINED
                          - PARTIALLY_FULFILLED
                          - PENDING
                          - REQUESTED
                      vendors:
                        type: array
                        description: Vendors id that will trigger the webhook
                        items:
                          type: number
              - title: Role Archived
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - ROLE_ARCHIVED
                    example: ROLE_ARCHIVED
                  url:
                    type: string
                    example: https://example.com
              - title: Role Created
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - ROLE_CREATED
                    example: ROLE_CREATED
                  url:
                    type: string
                    example: https://example.com
              - title: Role Updated
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - ROLE_UPDATED
                    example: ROLE_UPDATED
                  url:
                    type: string
                    example: https://example.com
              - title: SSO Configuration Changed
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - SSO_CONFIG_CHANGED
                    example: SSO_CONFIG_CHANGED
                  url:
                    type: string
                    example: https://example.com
              - title: User Activated
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - USER_ACTIVATED
                    example: USER_ACTIVATED
                  url:
                    type: string
                    example: https://example.com
              - title: User Invited
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - USER_INVITED
                    example: USER_INVITED
                  url:
                    type: string
                    example: https://example.com
              - title: User Login Failure
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - USER_LOGIN_FAILURE
                    example: USER_LOGIN_FAILURE
                  url:
                    type: string
                    example: https://example.com
              - title: User Login Success
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - USER_LOGIN_SUCCESS
                    example: USER_LOGIN_SUCCESS
                  url:
                    type: string
                    example: https://example.com
              - title: User Logout
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - USER_LOGOUT
                    example: USER_LOGOUT
                  url:
                    type: string
                    example: https://example.com
              - title: User Permissions Changed
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - USER_PERMISSIONS_CHANGED
                    example: USER_PERMISSIONS_CHANGED
                  url:
                    type: string
                    example: https://example.com
              - title: User Removed
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - USER_REMOVED
                    example: USER_REMOVED
                  url:
                    type: string
                    example: https://example.com
              - title: User Role Changed
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - USER_ROLE_CHANGED
                    example: USER_ROLE_CHANGED
                  url:
                    type: string
                    example: https://example.com
              - title: User Session Revoked
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - USER_SESSION_REVOKED
                    example: USER_SESSION_REVOKED
                  url:
                    type: string
                    example: https://example.com
              - title: Webhook Archived
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - WEBHOOK_ARCHIVED
                    example: WEBHOOK_ARCHIVED
                  url:
                    type: string
                    example: https://example.com
              - title: Webhook Created
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - WEBHOOK_CREATED
                    example: WEBHOOK_CREATED
                  url:
                    type: string
                    example: https://example.com
              - title: Work Order Change
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - WORK_ORDER_CHANGE
                    example: WORK_ORDER_CHANGE
                  url:
                    type: string
                    example: https://example.com
                  options:
                    type: object
                    description: Possible options
                    properties:
                      serializeEntity:
                        type: boolean
                        description: If true, the webhook will receive the work order data
                      onlySerializeFilteredProperties:
                        type: boolean
                        description: If true and serializeEntity is also set to true, only the filtered properties will be returned on update.
                  filters:
                    type: object
                    description: Possible filters.
                    properties:
                      oneOfProperties:
                        type: array
                        description: Properties that will trigger the webhook. <br>*If no properties are selected, the webhook will be triggered on every changes
                        items:
                          title: Properties
                          type: string
                          enum:
                          - ASSET
                          - ASSIGNEES
                          - CATEGORIES
                          - COSTS
                          - DESCRIPTION
                          - DUE_DATE
                          - ESTIMATED_TIME
                          - EXTRA_FIELDS
                          - LOCATION
                          - PARTS
                          - PRIORITY
                          - START_DATE
                          - TEAMS
                          - TITLE
                          - VENDORS
              - title: Work Order Delete
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - WORK_ORDER_DELETE
                    example: WORK_ORDER_DELETE
                  url:
                    type: string
                    example: https://example.com
                  options:
                    type: object
                    description: Possible options
                    properties:
                      serializeEntity:
                        type: boolean
                        description: If true, the webhook will receive the work order data
              - title: Work Order Overdue
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - WORK_ORDER_OVERDUE
                    example: WORK_ORDER_OVERDUE
                  url:
                    type: string
                    example: https://example.com
              - title: Work Order Part Status Change
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - WORK_ORDER_PART_STATUS_CHANGE
                    example: WORK_ORDER_PART_STATUS_CHANGE
                  url:
                    type: string
                    example: https://example.com
                  options:
                    type: object
                    description: Possible options
                    properties:
                      serializeEntity:
                        type: boolean
                        description: If true, the webhook will receive the work order data
                  filters:
                    type: object
                    description: Possible filters.
                    properties:
                      oneOfPartStatuses:
                        type: array
                        description: Part status that will trigger the webhook. If empty or omitted, triggers for all part status changes.
                        items:
                          title: Part Status
                          type: string
                          enum:
                          - no_parts
                          - assigned
                          - reserved
                          - kitted
                          - staged
                          - issued
              - title: Work Order Status Change
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - WORK_ORDER_STATUS_CHANGE
                    example: WORK_ORDER_STATUS_CHANGE
                  url:
                    type: string
                    example: https://example.com
                  options:
                    type: object
                    description: Possible options
                    properties:
                      serializeEntity:
                        type: boolean
                        description: If true, the webhook will receive the work order data
                      includeOAuthTokensInPayload:
                        type: boolean
                        description: 'If true, the webhook payload will include the OAuth tokens of the user whose action triggered the webhook. Warning: these tokens are sensitive and should only be included when the webhook is sent to a trusted source. Only available when OIDC login is enabled for the organization.'
                  filters:
                    type: object
                    description: Possible filters.
                    properties:
                      oneOfStatuses:
                        type: array
                        description: Statuses that will trigger the webhook.<br> Note, that `"CANCELED"` and `"SKIPPED"` statuses are only available if this feature is enabled in your organization.
                        items:
                          title: Status
                          type: string
                          enum:
                          - OPEN
                          - IN_PROGRESS
                          - ON_HOLD
                          - DONE
                          - CANCELED
                          - SKIPPED
              - title: Work Request Status Change
                type: object
                required:
                - type
                - url
                properties:
                  type:
                    type: string
                    description: Type of event subscribed to
                    enum:
                    - WORK_REQUEST_STATUS_CHANGE
                    example: WORK_REQUEST_STATUS_CHANGE
                  url:
                    type: string
                    example: https://example.com
                  filters:
                    type: object
                    description: Possible filters.
                    properties:
                      oneOfStatuses:
                        type: array
                        description: Statuses that will trigger the webhook.
                        items:
                          title: Status
                          type: string
                          enum:
                          - APPROVED
                          - DONE
                          - REJECTED
      responses:
        '201':
          description: Successfully created subscription
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - status
                properties:
                  id:
                    type: integer
                    example: 963
                    description: Global ID of the subscription
                  status:
                    type: string
                    description: Validation status of the subscription. Contact support if your subscription returns PENDING_APPROVAL before using the subscription.
                    enum:
                    - VALID
                    - PENDING_APPROVAL
                  secret:
                    type: string
                    description: Secret to hash the Hmac signature
        '400':
          description: OrganizationId was not provided
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: Missing x-organization-id header.
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Failed to create the subscription
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: User don't have the right permissions
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
      tags:
      - Subscriptions & Webhooks
      parameters:
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      - schema:
          type: integer
        description: Required if using a multi organizations token
        name: x-organization-id
        in: header
        required: false
        example: '1'
      operationId: postSubscriptions
      x-operation-id-source: derived
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  /subscriptions/{id}:
    get:
      summary: Get subscription
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the subscription
        example: '1'
      responses:
        '200':
          description: Successfully retrieved subscription's information
          content:
            application/json:
              schema:
                type: object
                required:
                - subscription
                properties:
                  subscription:
                    type: object
                    required:
                    - id
                    - type
                    - url
                    - status
                    properties:
                      id:
                        type: integer
                        example: 963
                        description: Global ID of the subscription
                      type:
                        type: string
                        description: Type of event subscribed to
                        enum:
                        - API_TOKEN_CREATED
                        - API_TOKEN_REVOKED
                        - ASSET_STATUS_CHANGE
                        - CONNECTOR_TOKEN_REVOKED
                        - DATA_EXPORT_INITIATED
                        - INVITE_LINK_ARCHIVED
                        - INVITE_LINK_CREATED
                        - INVITE_LINK_UPDATED
                        - METER_TRIGGER_STATE_CHANGE
                        - NEW_ASSET
                        - NEW_CATEGORY_ON_WORK_ORDER
                        - NEW_COMMENT_ON_WORK_ORDER
                        - NEW_LOCATION
                        - NEW_PART
                        - NEW_PURCHASE_ORDER
                        - NEW_SLASH_COMMAND
                        - NEW_VENDOR
                        - NEW_WORK_ORDER
                        - NEW_WORK_REQUEST
                        - PART_CHANGE
                        - PART_DELETE
                        - PART_QUANTITY_CHANGE
                        - PART_TRANSFER
                        - PURCHASE_ORDER_CHANGE
                        - PURCHASE_ORDER_STATUS_CHANGE
                        - ROLE_ARCHIVED
                        - ROLE_CREATED
                        - ROLE_UPDATED
                        - SSO_CONFIG_CHANGED
                        - USER_ACTIVATED
                        - USER_INVITED
                        - USER_LOGIN_FAILURE
                        - USER_LOGIN_SUCCESS
                        - USER_LOGOUT
                        - USER_PERMISSIONS_CHANGED
                        - USER_REMOVED
                        - USER_ROLE_CHANGED
                        - USER_SESSION_REVOKED
                        - WEBHOOK_ARCHIVED
                        - WEBHOOK_CREATED
                        - WORK_ORDER_CHANGE
                        - WORK_ORDER_DELETE
                        - WORK_ORDER_OVERDUE
                        - WORK_ORDER_PART_STATUS_CHANGE
                        - WORK_ORDER_STATUS_CHANGE
                        - WORK_REQUEST_STATUS_CHANGE
                        example: API_TOKEN_CREATED
                      url:
                        type: string
                        example: https://example.com
                      status:
                        type: string
                        description: Validation status of the subscription. Contact support if your subscription returns PENDING_APPROVAL before using the subscription.
                        enum:
                        - VALID
                        - PENDING_APPROVAL
        '400':
          description: Error with query
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    description: Description of error
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified subscription or the user cannot access it.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Not Found.
      tags:
      - Subscriptions & Webhooks
      operationId: getSubscriptionsById
      x-operation-id-source: derived
    patch:
      summary: Update subscription
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the subscription
        example: '1'
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      - schema:
          type: integer
        description: Required if using a multi organizations token
        name: x-organization-id
        in: header
        required: false
        example: '1'
      requestBody:
        description: Subscription to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: Type of event subscribed to
                  enum:
                  - API_TOKEN_CREATED
                  - API_TOKEN_REVOKED
                  - ASSET_STATUS_CHANGE
                  - CONNECTOR_TOKEN_REVOKED
                  - DATA_EXPORT_INITIATED
                  - INVITE_LINK_ARCHIVED
                  - INVITE_LINK_CREATED
                  - INVITE_LINK_UPDATED
                  - METER_TRIGGER_STATE_CHANGE
                  - NEW_ASSET
                  - NEW_CATEGORY_ON_WORK_ORDER
                  - NEW_COMMENT_ON_WORK_ORDER
                  - NEW_LOCATION
                  - NEW_PART
                  - NEW_PURCHASE_ORDER
                  - NEW_SLASH_COMMAND
                  - NEW_VENDOR
                  - NEW_WORK_ORDER
                  - NEW_WORK_REQUEST
                  - PART_CHANGE
                  - PART_DELETE
                  - PART_QUANTITY_CHANGE
                  - PART_TRANSFER
                  - PURCHASE_ORDER_CHANGE
                  - PURCHASE_ORDER_STATUS_CHANGE
                  - ROLE_ARCHIVED
                  - ROLE_CREATED
                  - ROLE_UPDATED
                  - SSO_CONFIG_CHANGED
                  - USER_ACTIVATED
                  - USER_INVITED
                  - USER_LOGIN_FAILURE
                  - USER_LOGIN_SUCCESS
                  - USER_LOGOUT
                  - USER_PERMISSIONS_CHANGED
                  - USER_REMOVED
                  - USER_ROLE_CHANGED
                  - USER_SESSION_REVOKED
                  - WEBHOOK_ARCHIVED
                  - WEBHOOK_CREATED
                  - WORK_ORDER_CHANGE
                  - WORK_ORDER_DELETE
                  - WORK_ORDER_OVERDUE
                  - WORK_ORDER_PART_STATUS_CHANGE
                  - WORK_ORDER_STATUS_CHANGE
                  - WORK_REQUEST_STATUS_CHANGE
                  example: API_TOKEN_CREATED
                url:
                  type: string
                  example: https://example.com
      responses:
        '200':
          description: Successfully edited subscription
          content:
            application/json:
              schema:
                type: object
                required:
                - subscription
                properties:
                  subscription:
                    type: object
                    required:
                    - id
                    - type
                    - url
                    - status
                    properties:
                      id:
                        type: integer
                        example: 963
                        description: Global ID of the subscription
                      type:
                        type: string
                        description: Type of event subscribed to
                        enum:
                        - API_TOKEN_CREATED
                        - API_TOKEN_REVOKED
                        - ASSET_STATUS_CHANGE
                        - CONNECTOR_TOKEN_REVOKED
                        - DATA_EXPORT_INITIATED
                        - INVITE_LINK_ARCHIVED
                        - INVITE_LINK_CREATED
                        - INVITE_LINK_UPDATED
                        - METER_TRIGGER_STATE_CHANGE
                        - NEW_ASSET
                        - NEW_CATEGORY_ON_WORK_ORDER
                        - NEW_COMMENT_ON_WORK_ORDER
                        - NEW_LOCATION
                        - NEW_PART
                        - NEW_PURCHASE_ORDER
                        - NEW_SLASH_COMMAND
                        - NEW_VENDOR
                        - NEW_WORK_ORDER
                        - NEW_WORK_REQUEST
                        - PART_CHANGE
                        - PART_DELETE
                        - PART_QUANTITY_CHANGE
                        - PART_TRANSFER
                        - PURCHASE_ORDER_CHANGE
                        - PURCHASE_ORDER_STATUS_CHANGE
                        - ROLE_ARCHIVED
                        - ROLE_CREATED
                        - ROLE_UPDATED
                        - SSO_CONFIG_CHANGED
                        - USER_ACTIVATED
                        - USER_INVITED
                        - USER_LOGIN_FAILURE
                        - USER_LOGIN_SUCCESS
                        - USER_LOGOUT
                        - USER_PERMISSIONS_CHANGED
                        - USER_REMOVED
                        - USER_ROLE_CHANGED
                        - USER_SESSION_REVOKED
                        - WEBHOOK_ARCHIVED
                        - WEBHOOK_CREATED
                        - WORK_ORDER_CHANGE
                        - WORK_ORDER_DELETE
                        - WORK_ORDER_OVERDUE
                        - WORK_ORDER_PART_STATUS_CHANGE
                        - WORK_ORDER_STATUS_CHANGE
                        - WORK_REQUEST_STATUS_CHANGE
                        example: API_TOKEN_CREATED
                      url:
                        type: string
                        example: https://example.com
                      status:
                        type: string
                        description: Validation status of the subscription. Contact support if your subscription returns PENDING_APPROVAL before using the subscription.
                        enum:
                        - VALID
                        - PENDING_APPROVAL
        '400':
          description: OrganizationId was not provided
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: Missing x-organization-id header.
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified subscription.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: subscription Not Found
      tags:
      - Subscriptions & Webhooks
      operationId: patchSubscriptionsById
      x-operation-id-source: derived
    delete:
      summary: Remove subscription
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the subscription
        example: '1'
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      - schema:
          type: integer
        description: Required if using a multi organizations token
        name: x-organization-id
        in: header
        required: false
        example: '1'
      responses:
        '204':
          description: Successfully removed subscription
        '400':
          description: OrganizationId was not provided
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: Missing x-organization-id header.
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Failed to remove the subscription
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: User don't have the right permissions
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '404':
          description: Could not find the specified subscription.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: subscription Not Found
      tags:
      - Subscriptions & Webhooks
      operationId: deleteSubscriptionsById
      x-operation-id-source: derived
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  /subscriptions/{id}/secret:
    get:
      summary: Get secret information
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the subscription
        example: '1'
      responses:
        '200':
          description: Successfully fetched secret
          content:
            application/json:
              schema:
                type: object
                required:
                - secret
                properties:
                  secret:
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified subscription.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: subscription Not Found
      tags:
      - Subscriptions & Webhooks
      operationId: getSubscriptionsByIdSecret
      x-operation-id-source: derived
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
webhooks:
  API_TOKEN_CREATED:
    post:
      summary: API Token Created
      security: []
      description: Fires when a REST API token is generated.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: API_TOKEN_CREATED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  API_TOKEN_REVOKED:
    post:
      summary: API Token Revoked
      security: []
      description: Fires when a REST API token is revoked.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: API_TOKEN_REVOKED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  ASSET_STATUS_CHANGE:
    post:
      summary: Asset Status Change
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - assetId
              - orgId
              - oldStatus
              - newStatus
              - occurredAt
              properties:
                assetId:
                  type: number
                  description: Global ID of the asset
                  example: 42
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 21
                oldStatus:
                  description: Previous status of the asset
                  type: object
                  properties:
                    id:
                      type: number
                      example: 42
                      description: Global ID of the asset status.
                    customStatus:
                      type:
                      - object
                      - 'null'
                      required:
                      - label
                      properties:
                        id:
                          type: number
                          example: Global ID of the custom asset status.
                        label:
                          type: string
                          example: Decommissioned
                        createdAt:
                          type: string
                          format: date-time
                          description: Date & time at which the asset custom status was created.
                          example: '2022-01-01T12:34:56.123Z'
                        updatedAt:
                          type: string
                          format: date-time
                          description: Date & time at which the asset custom status was last updated.
                          example: '2022-01-01T12:34:56.123Z'
                        deletedAt:
                          type:
                          - string
                          - 'null'
                          description: Date at which the asset custom status was deleted.
                          format: date-time
                          example: '2022-01-01T12:34:56.123Z'
                        downtimeType:
                          type:
                          - string
                          - 'null'
                          example: null
                          enum:
                          - PLANNED
                          - UNPLANNED
                          deprecated: true
                          description: Downtime type on asset custom statuses will always return null. Use downtime type on asset status instead.
                      description: Custom status assigned to asset.
                    customStatusId:
                      type:
                      - number
                      - 'null'
                      description: Id of the custom status assigned to asset.
                      example: 53
                    status:
                      type: string
                      example: OFFLINE
                      description: Asset status value.
                      enum:
                      - IGNORE
                      - OFFLINE
                      - ONLINE
                    downtimeType:
                      type:
                      - string
                      - 'null'
                      example: PLANNED
                      enum:
                      - PLANNED
                      - UNPLANNED
                    startedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      description: Asset status effective start date.
                    endedAt:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      description: Asset status effective end date.
                    description:
                      type:
                      - string
                      - 'null'
                      example: Overheated - needs servicing.
                    createdAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      readOnly: true
                      description: Date & time at which the asset status was created.
                    updatedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      readOnly: true
                      description: Date & time at which the asset status was last updated.
                    deletedAt:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      readOnly: true
                      description: Date & time at which the asset status was deleted.
                  example:
                    status: ONLINE
                    startedAt: '2022-01-01T12:34:56.123Z'
                    endedAt: '2022-01-01T12:34:56.123Z'
                    description: Back online after scheduled maintenance
                    createdAt: '2022-01-01T12:34:56.123Z'
                    updatedAt: '2022-01-01T12:34:56.123Z'
                    deletedAt: '2022-01-01T12:34:56.123Z'
                newStatus:
                  description: New status of the asset
                  type: object
                  properties:
                    id:
                      type: number
                      example: 42
                      description: Global ID of the asset status.
                    customStatus:
                      type:
                      - object
                      - 'null'
                      required:
                      - label
                      properties:
                        id:
                          type: number
                          example: Global ID of the custom asset status.
                        label:
                          type: string
                          example: Decommissioned
                        createdAt:
                          type: string
                          format: date-time
                          description: Date & time at which the asset custom status was created.
                          example: '2022-01-01T12:34:56.123Z'
                        updatedAt:
                          type: string
                          format: date-time
                          description: Date & time at which the asset custom status was last updated.
                          example: '2022-01-01T12:34:56.123Z'
                        deletedAt:
                          type:
                          - string
                          - 'null'
                          description: Date at which the asset custom status was deleted.
                          format: date-time
                          example: '2022-01-01T12:34:56.123Z'
                        downtimeType:
                          type:
                          - string
                          - 'null'
                          example: null
                          enum:
                          - PLANNED
                          - UNPLANNED
                          deprecated: true
                          description: Downtime type on asset custom statuses will always return null. Use downtime type on asset status instead.
                      description: Custom status assigned to asset.
                    customStatusId:
                      type:
                      - number
                      - 'null'
                      description: Id of the custom status assigned to asset.
                      example: 53
                    status:
                      type: string
                      example: OFFLINE
                      description: Asset status value.
                      enum:
                      - IGNORE
                      - OFFLINE
                      - ONLINE
                    downtimeType:
                      type:
                      - string
                      - 'null'
                      example: PLANNED
                      enum:
                      - PLANNED
                      - UNPLANNED
                    startedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      description: Asset status effective start date.
                    endedAt:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      description: Asset status effective end date.
                    description:
                      type:
                      - string
                      - 'null'
                      example: Overheated - needs servicing.
                    createdAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      readOnly: true
                      description: Date & time at which the asset status was created.
                    updatedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      readOnly: true
                      description: Date & time at which the asset status was last updated.
                    deletedAt:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      readOnly: true
                      description: Date & time at which the asset status was deleted.
                  example:
                    status: OFFLINE
                    customStatus:
                      id: 13
                      label: Technical issues
                      downtimeType: UNPLANNED
                      createdAt: '2022-01-01T12:34:56.123Z'
                      updatedAt: '2022-01-01T12:34:56.123Z'
                    startedAt: '2022-01-01T12:34:56.123Z'
                    description: Overheated - needs servicing.
                    createdAt: '2022-01-01T12:34:56.123Z'
                    updatedAt: '2022-01-01T12:34:56.123Z'
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the asset status was changed
                  example: '2022-01-01T00:00:00.000Z'
      operationId: ASSET_STATUS_CHANGE
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  CONNECTOR_TOKEN_REVOKED:
    post:
      summary: Connector Token Revoked
      security: []
      description: Fires when a connector integration token is revoked.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: CONNECTOR_TOKEN_REVOKED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  DATA_EXPORT_INITIATED:
    post:
      summary: Data Export Initiated
      security: []
      description: Fires when a data export is initiated.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - exportType
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                exportType:
                  type: string
                  description: Type of data exported
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: DATA_EXPORT_INITIATED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  INVITE_LINK_ARCHIVED:
    post:
      summary: Invite Link Archived
      security: []
      description: Fires when an invite link is archived.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - inviteLinkId
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                inviteLinkId:
                  type: number
                  description: ID of the invite link
                  example: 50
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: INVITE_LINK_ARCHIVED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  INVITE_LINK_CREATED:
    post:
      summary: Invite Link Created
      security: []
      description: Fires when an invite link is created.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - inviteLinkId
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                inviteLinkId:
                  type: number
                  description: ID of the invite link
                  example: 50
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: INVITE_LINK_CREATED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  INVITE_LINK_UPDATED:
    post:
      summary: Invite Link Updated
      security: []
      description: Fires when an invite link is updated.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - inviteLinkId
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                inviteLinkId:
                  type: number
                  description: ID of the invite link
                  example: 50
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: INVITE_LINK_UPDATED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  METER_TRIGGER_STATE_CHANGE:
    post:
      summary: Meter Trigger Status Change
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - meterTriggerId
              - meterId
              - orgId
              - oldState
              - newState
              - occurredAt
              properties:
                meterTriggerId:
                  type: number
                  description: Global ID of the meter trigger
                  example: 123
                meterId:
                  type: number
                  description: Global ID of the meter
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                oldState:
                  title: State
                  type: string
                  enum:
                  - INACTIVE
                  - INSUFFICIENT_DATA
                  - PENDING
                  - STABLE
                  - TRIGGERED
                  description: Previous state of the trigger
                  example: PENDING
                newState:
                  title: State
                  type: string
                  enum:
                  - INACTIVE
                  - INSUFFICIENT_DATA
                  - PENDING
                  - STABLE
                  - TRIGGERED
                  description: New state of the trigger
                  example: TRIGGERED
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occured
                  example: '2022-01-01T00:00:00.000Z'
      operationId: METER_TRIGGER_STATE_CHANGE
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  NEW_ASSET:
    post:
      summary: New Asset
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - assetId
              - orgId
              - occurredAt
              properties:
                assetId:
                  type: number
                  description: Global ID of the Asset
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
                newAsset:
                  type: object
                  description: Properties of the created Asset
                  properties:
                    name:
                      type: string
                      example: Forklift
                    description:
                      type:
                      - string
                      - 'null'
                      example: Forklift that is used to to move heavy equipments around the warehouse
                    locationId:
                      type:
                      - integer
                      - 'null'
                      example: 852
                      description: ID of the location where the asset is located
                    barcode:
                      type:
                      - string
                      - 'null'
                      example: BWFPBNRHAW54CG
                      description: String encoded barcode
                    parentId:
                      type:
                      - integer
                      - 'null'
                      example: 852
                      description: ID of the parent asset
                    vendorIds:
                      type: array
                      description: Vendor IDs
                      items:
                        type: number
                        example: 1
                    teamIds:
                      type: array
                      items:
                        type: integer
                      description: List of teams responsible for the asset
                      example:
                      - 123
                      - 456
                    assetTypes:
                      type: array
                      items:
                        type: string
                      example:
                      - manual
                      - tool
                      description: List of asset types
                    extraFields:
                      type: object
                      description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "My Custom Field")'
                      additionalProperties:
                        type: string
                      example:
                        My Custom Field: '000000000'
      operationId: NEW_ASSET
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  NEW_CATEGORY_ON_WORK_ORDER:
    post:
      summary: New Category on Work Order
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - workOrderId
              - orgId
              - newCategories
              - occurredAt
              properties:
                workOrderId:
                  type: number
                  description: Global ID of the work order
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                newCategories:
                  type: array
                  description: Newly added categories on the work order
                  items:
                    type: object
                    required:
                    - id
                    - name
                    properties:
                      id:
                        type: number
                        description: Global ID of the category
                        example: 123
                      name:
                        type: string
                        description: Label of the category
                        example: Safety
                      description:
                        type: string
                        example: Used for everything related to Safety
                        description: Description field for additional information.
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: NEW_CATEGORY_ON_WORK_ORDER
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  NEW_COMMENT_ON_WORK_ORDER:
    post:
      summary: New Comment on Work Order
      security: []
      description: Triggered when a new comment is created on a work order
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - workOrderId
              - type
              - comment
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                workOrderId:
                  type: number
                  description: Global ID of the work order
                  example: 123456
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
                type:
                  type: string
                  description: Type of the comment (TEXT, IMG, FILE, AUDIO)
                comment:
                  type: string
                  description: Newly created comment on the work order
                url:
                  type: string
                  description: URL of the file attached to the work order comment. Valid for 60 minutes.
      operationId: NEW_COMMENT_ON_WORK_ORDER
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  NEW_LOCATION:
    post:
      summary: New Location
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - locationId
              - orgId
              - occurredAt
              properties:
                locationId:
                  type: number
                  description: Global ID of the Location
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: NEW_LOCATION
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  NEW_PART:
    post:
      summary: New Part
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - partId
              - orgId
              - occurredAt
              properties:
                partId:
                  type: number
                  description: Global ID of the Part
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
                newPart:
                  type: object
                  description: Properties of the created Part
                  properties:
                    name:
                      type: string
                      example: Locknut - 1/8
                    area:
                      type:
                      - string
                      - 'null'
                      example: tool room
                      description: Area of the part.
                    assetIds:
                      type: array
                      items:
                        type: integer
                      example:
                      - 12
                      - 4561
                      description: List of asset IDs
                    availableQuantity:
                      type: integer
                      description: Total quantity currently in stock.
                      example: 10
                      deprecated: true
                    inStockQuantity:
                      type: integer
                      description: Total quantity currently in stock.
                      example: 10
                    barcode:
                      type:
                      - string
                      - 'null'
                      example: bWFpbnRhaW54Cg==
                      description: String encoded barcode
                    description:
                      type:
                      - string
                      - 'null'
                      example: ''
                    extraFields:
                      type: object
                      description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Part Number")'
                      additionalProperties:
                        type: string
                      example:
                        Part Number: '000000000'
                    locationId:
                      type:
                      - integer
                      - 'null'
                      example: 852
                      description: ID of the location where the part is located.
                    minimumQuantity:
                      type: integer
                      description: Total minimum quantity before you should restock.
                      example: 5
                    maximumQuantity:
                      type:
                      - integer
                      - 'null'
                      example: 100
                      description: Total maximum quantity to keep in stock. Null when no part location has a max set.
                    partTypes:
                      type: array
                      items:
                        type: string
                      description: List of part types
                    teamIds:
                      type: array
                      items:
                        type: integer
                      example:
                      - 1
                      - 4
                      description: List of team IDs in charge of the part
                    unitCost:
                      type:
                      - integer
                      - 'null'
                      description: Cost in cents. For example, for $1.20, put 120.
                      example: 120
                    vendors:
                      type: array
                      description: List of vendors of the part
                      items:
                        type: object
                        properties:
                          vendorId:
                            type: integer
                            example: '1'
                            description: Id of the vendor
                          partNumber:
                            type: string
                            example: XC230
                            description: Part number given to the part by this vendor
                    locations:
                      type: array
                      items:
                        type: object
                        required:
                        - locationId
                        properties:
                          locationId:
                            type: integer
                            example: 852
                            description: ID of the location where the part is located
                          availableQuantity:
                            type: integer
                            description: Quantity currently in stock
                            example: 10
                          minimumQuantity:
                            type:
                            - integer
                            - 'null'
                            description: Minimum quantity before you should restock
                            example: 5
                          maximumQuantity:
                            type:
                            - integer
                            - 'null'
                            example: 100
                            description: Maximum quantity you want to stock. Must be greater than or equal to minimumQuantity.
                          area:
                            type:
                            - string
                            - 'null'
                            example: tool room
                      description: Detailed list of locations where the part is stored, including properties such as available quantity, minimum quantity, reserved quantity, and area within each location.
      operationId: NEW_PART
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
    servers:
    - url: https://api.getmaintainx.com/v1
      description: Endpoint
  NEW_PURCHASE_ORDER:
    post:
      summary: New Purchase Order
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - purchaseOrderId
              - orgId
              - occurredAt
              properties:
                purchaseOrderId:
                  type: number
                  description: Global ID of the Purchase Order
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
                userId:
                  type: number
                  description: Integer ID of the user whose action triggered this webhook. Present whenever a real user triggered the event. Absent for system-initiated events such as automations, scheduled runs, or other actions performed by the system — treat the absence of `userId` as a system-initiated signal.
                  example: 789
                newPurchaseOrder:
                  type: object
                  description: Properties of the created Purchase Order
                  properties:
                    approverId:
                      type:
                      - number
                      - 'null'
                      example: 135
                      description: ID of the user who approved the Purchase Order
                    approvalDate:
                      type:
                      - string
                      - 'null'
                      example: '2022-01-01T00:00:00.000Z'
                      description: Date the Purchase Order was approved
                    note:
                      type:
                      - string
                      - 'null'
                      description: Notes left for Purchase Orders
                      example: Please deliver during business hours
                    status:
                      type:
                      - string
                      - 'null'
                      example: APPROVED
                      description: Status of the Purchase Order. Supported values are APPROVED, CANCELED, COMPLETED, DECLINED, PARTIALLY_FULFILLED, PENDING, REQUESTED
                    vendorId:
                      type:
                      - number
                      - 'null'
                      example: 432
                      description: ID of vendor that this Purchase Order is associated with
                    vendorContactIds:
[...]
