openapi: 3.2.0
info:
  description: 'Welcome to the MaintainX API documentation!


    You can use the MaintainX API to programmatically interact with all the entities in MaintainX. Use it to retrieve and manage data of Work Orders, Work Requests, Assets, and more!


    To get started, in your MaintainX account go to "Settings > Integrations" and click "+ New Key" button to generate a new Rest API key.


    Missing something?

    Don''t hesitate to reach out support@getmaintainx.com'
  version: '1'
  title: MaintainX Purchase Orders API
  contact:
    url: https://www.getmaintainx.com/
    name: Support
    email: support@getmaintainx.com
  x-logo:
    url: https://maintainx-static.s3-us-west-2.amazonaws.com/img/default-org-logo.png
    backgroundColor: '#FFFFFF'
    altText: MaintainX logo
servers:
- url: https://api.getmaintainx.com/v1
  description: Endpoint
security:
- Bearer: []
tags:
- name: Purchase Orders
  description: Operations on Purchase Orders
  x-traitTag: false
paths:
  /purchaseorders:
    post:
      summary: Create new purchase order
      requestBody:
        description: Purchase Order to create
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - vendorId
              - items
              properties:
                note:
                  type:
                  - string
                  - 'null'
                  description: Notes left for Purchase Orders
                  example: Please deliver during business hours
                dueDate:
                  type:
                  - string
                  - 'null'
                  example: '2022-01-01T00:00:00.000Z'
                  description: Due date of Purchase Order
                vendorId:
                  type:
                  - number
                  - 'null'
                  example: 432
                  description: ID of vendor that this Purchase Order is associated with
                overrideNumber:
                  type:
                  - string
                  - 'null'
                  example: A123
                  description: Custom number/identifier for Purchase Order
                deletedAt:
                  type:
                  - string
                  - 'null'
                  example: '2022-01-01T00:00:00.000Z'
                  format: date-time
                  description: Date at which the Purchase Order was deleted
                vendorContactIds:
                  type: array
                  description: List of vendor contact IDs in the Purchase Order
                  example:
                  - 12
                  - 34
                  - 56
                  items:
                    type: number
                    example: 12
                shippingAddress:
                  type:
                  - object
                  - 'null'
                  description: Shipping address in the Purchase Order
                  required:
                  - city
                  - country
                  - postalCode
                  - state
                  - street
                  properties:
                    city:
                      type: string
                      example: Montreal
                    country:
                      type: string
                      example: Canada
                    postalCode:
                      type: string
                      example: H4B 5G0
                    state:
                      type: string
                      example: Quebec
                    street:
                      type: string
                      example: 1909 Avenue des Canadiens-de-Montréal
                    label:
                      type:
                      - string
                      - 'null'
                      description: A string to specify how the address will be displayed - Defaults to Street, City, Province/State, Postal Code, Country
                      example: '1909 Avenue des Canadiens-de-Montréal, Montreal, H4B 5G0, QC, CA '
                shippingAddressId:
                  type:
                  - number
                  - 'null'
                  description: Shipping address Id in the Purchase Order
                billingAddress:
                  type:
                  - object
                  - 'null'
                  description: Billing address in the Purchase Order
                  required:
                  - city
                  - country
                  - postalCode
                  - state
                  - street
                  properties:
                    city:
                      type: string
                      example: Montreal
                    country:
                      type: string
                      example: Canada
                    postalCode:
                      type: string
                      example: H4B 5G0
                    state:
                      type: string
                      example: Quebec
                    street:
                      type: string
                      example: 1909 Avenue des Canadiens-de-Montréal
                    label:
                      type:
                      - string
                      - 'null'
                      description: A string to specify how the address will be displayed - Defaults to Street, City, Province/State, Postal Code, Country
                      example: '1909 Avenue des Canadiens-de-Montréal, Montreal, H4B 5G0, QC, CA '
                billingAddressId:
                  type:
                  - number
                  - 'null'
                  description: Billing address Id in the Purchase Order
                extraFields:
                  type: object
                  description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Ordered Date")'
                  additionalProperties:
                    type: string
                  example:
                    Ordered Date: '2023-01-01'
                items:
                  type: array
                  description: List of items in the Purchase Order
                  items:
                    type: object
                    required:
                    - quantityOrdered
                    properties:
                      partId:
                        type:
                        - number
                        - 'null'
                        example: 43
                        description: ID of the part this item is related to
                      name:
                        type:
                        - string
                        - 'null'
                      partNumber:
                        type:
                        - string
                        - 'null'
                      price:
                        type:
                        - number
                        - 'null'
                        example: 25000
                        description: Total price of items in cents
                      quantityOrdered:
                        type: number
                        example: 4
                        description: Represent the amount of units for this item that were ordered in the purchase order.
                      quantityReceived:
                        type:
                        - number
                        - 'null'
                        example: 3
                        description: Represents the total amount of this specific item that has been received to date.
                      unitCost:
                        type:
                        - number
                        - 'null'
                        example: 125000
                        description: Price of a single item in cents
                      extraFields:
                        type: object
                        additionalProperties:
                          type: string
                        description: 'Custom Fields on the entity. Deprecated: Use `lineExtraFields` instead.'
                        deprecated: true
                      lineExtraFields:
                        type: object
                        description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Ordered Date")'
                        additionalProperties:
                          type: string
                        example:
                          Ordered Date: '2023-01-01'
                costs:
                  type: array
                  description: List of costs in the Purchase Order
                  items:
                    type: object
                    required:
                    - name
                    - type
                    - amount
                    properties:
                      name:
                        type: string
                        example: Sales Tax
                        description: Description of the cost
                      type:
                        type: string
                        enum:
                        - AMOUNT_NON_TAXABLE
                        - AMOUNT_TAXABLE
                        - PERCENT_TAXABLE
                        example: AMOUNT_TAXABLE
                        description: Type of cost in either cents or percent. Accepted types in cents are AMOUNT_TAXABLE and AMOUNT_NON_TAXABLE. For percentage use PERCENT_TAXABLE
                      amount:
                        type: number
                        example: 125000
                title:
                  type:
                  - string
                  - 'null'
                  description: Title of the Purchase Order. Will be ignored if organization setting for custom purchase order titles is disabled.
                  example: Office Supplies Order
      responses:
        '201':
          description: Successfully created Purchase Order
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - status
                - items
                properties:
                  id:
                    type: number
                    example: 135
                    description: Global ID of the Purchase Order
                  note:
                    type:
                    - string
                    - 'null'
                    description: Notes left for Purchase Orders
                    example: Please deliver during business hours
                  title:
                    type:
                    - string
                    - 'null'
                    description: Title of the Purchase Order.
                    example: Office Supplies Order
                  reviewNote:
                    type:
                    - string
                    - 'null'
                    description: Notes to be left for changes to be made when sending a Purchase Order for revision
                    example: Please adjust quantities and resubmit
                  status:
                    type:
                    - string
                    - 'null'
                    example: APPROVED
                    description: Status of the Purchase Order. Supported values are APPROVED, CANCELED, COMPLETED, DECLINED, PARTIALLY_FULFILLED, PENDING, REQUESTED
                  dueDate:
                    type:
                    - string
                    - 'null'
                    example: '2022-01-01T00:00:00.000Z'
                    description: Due date of Purchase Order
                  creatorId:
                    type: number
                    example: 432
                    description: ID of the user that created this Purchase Order
                  vendorId:
                    type:
                    - number
                    - 'null'
                    example: 432
                    description: ID of vendor that this Purchase Order is associated with
                  autoGeneratedNumber:
                    type:
                    - number
                    - 'null'
                    example: 987
                    description: Autogenerated Purchase Order number
                  overrideNumber:
                    type:
                    - string
                    - 'null'
                    example: A123
                    description: Custom number/identifier for Purchase Order
                  approverId:
                    type:
                    - number
                    - 'null'
                    example: 135
                    description: ID of the user who approved the Purchase Order
                  approvalDate:
                    type:
                    - string
                    - 'null'
                    example: '2022-01-01T00:00:00.000Z'
                    description: Date the Purchase Order was approved
                  createdAt:
                    type:
                    - string
                    - 'null'
                    example: '2022-01-01T00:00:00.000Z'
                    format: date-time
                    description: Date the Purchase Order was created
                  updatedAt:
                    type:
                    - string
                    - 'null'
                    example: '2022-01-01T00:00:00.000Z'
                    description: Date the Purchase Order was last updated
                  deletedAt:
                    type:
                    - string
                    - 'null'
                    example: '2022-01-01T00:00:00.000Z'
                    format: date-time
                    description: Date at which the Purchase Order was deleted
                  items:
                    type: array
                    description: List of items in the Purchase Order
                    items:
                      type: object
                      required:
                      - id
                      - quantityOrdered
                      properties:
                        id:
                          type: number
                          example: 23
                          description: ID of the item
                        partId:
                          type:
                          - number
                          - 'null'
                          example: 43
                          description: ID of the part this item is related to
                        name:
                          type:
                          - string
                          - 'null'
                        partNumber:
                          type:
                          - string
                          - 'null'
                        price:
                          type:
                          - number
                          - 'null'
                          example: 25000
                          description: Total price of items in cents
                        priceDecimal:
                          type:
                          - string
                          - 'null'
                          example: '250.000000'
                          description: Total price of items as a decimal value
                        quantityOrdered:
                          type: number
                          example: 4
                          description: Represent the amount of units for this item that were ordered in the purchase order.
                        quantityReceived:
                          type:
                          - number
                          - 'null'
                          example: 3
                          description: Represents the total amount of this specific item that has been received to date.
                        unitCost:
                          type:
                          - number
                          - 'null'
                          example: 125000
                          description: Price of a single item in cents
                        unitCostDecimal:
                          type:
                          - string
                          - 'null'
                          example: '1250.000000'
                          description: Price of a single item as a decimal value
                        fulfillments:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                                example: 23
                                description: ID of the item fulfillment
                              locationId:
                                type:
                                - number
                                - 'null'
                                example: 852
                                description: ID of the location where the item was fulfilled
                              quantityReceived:
                                type: string
                                example: '3.000000'
                                description: Quantity of the item fulfilled to this location
                              isLegacy:
                                type: boolean
                                description: Indicates the location is a legacy location. This is used to determine if this fulfillment was done before enablement of the multi-location parts feature.
                                example: true
                          description: Fulfillment information for the item's fulfillment locations.
                        extraFields:
                          type: object
                          additionalProperties:
                            type: string
                          description: 'Custom Fields on the entity. Deprecated: Use `lineExtraFields` instead.'
                          deprecated: true
                        lineExtraFields:
                          type: object
                          description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Ordered Date")'
                          additionalProperties:
                            type: string
                          example:
                            Ordered Date: '2023-01-01'
                        partExtraFields:
                          type: object
                          description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Part Number")'
                          additionalProperties:
                            type: string
                          example:
                            Part Number: '321'
                  costs:
                    type: array
                    description: List of costs in the Purchase Order
                    items:
                      type: object
                      required:
                      - name
                      - type
                      - amount
                      properties:
                        id:
                          type: number
                          example: 123
                          description: ID of the cost
                        name:
                          type: string
                          example: Sales Tax
                          description: Description of the cost
                        type:
                          type: string
                          enum:
                          - AMOUNT_NON_TAXABLE
                          - AMOUNT_TAXABLE
                          - PERCENT_TAXABLE
                          example: AMOUNT_TAXABLE
                          description: Type of cost in either cents or percent. Accepted types in cents are AMOUNT_TAXABLE and AMOUNT_NON_TAXABLE. For percentage use PERCENT_TAXABLE
                        amount:
                          type: number
                          example: 125000
                  thumbnail:
                    type:
                    - object
                    - 'null'
                    title: attachment
                    required:
                    - id
                    - mimeType
                    - fileName
                    - url
                    - createdAt
                    properties:
                      id:
                        type: number
                        description: Global ID of the attachment
                        example: 12345
                      mimeType:
                        type: string
                        description: MIME type of the file
                        example: image/png
                      fileName:
                        type: string
                        description: Attachment's file name
                        example: image.png
                      url:
                        type: string
                        description: Url of the file. Valid for 60 minutes.
                        example: http://example.com/image.png
                      createdAt:
                        type: string
                        format: date-time
                        description: Date & time at which the attachment was uploaded
                        example: '2022-01-01T00:00:00.000Z'
                      width:
                        type:
                        - number
                        - 'null'
                        description: Width if the file is an image
                        example: 220
                      height:
                        type:
                        - number
                        - 'null'
                        description: Height if the file is an image
                        example: 100
                  attachments:
                    type: array
                    title: attachment
                    description: List of attachments linked to the Purchase Order
                    items:
                      type: object
                      title: attachment
                      required:
                      - id
                      - mimeType
                      - fileName
                      - url
                      - createdAt
                      properties:
                        id:
                          type: number
                          description: Global ID of the attachment
                          example: 12345
                        mimeType:
                          type: string
                          description: MIME type of the file
                          example: image/png
                        fileName:
                          type: string
                          description: Attachment's file name
                          example: image.png
                        url:
                          type: string
                          description: Url of the file. Valid for 60 minutes.
                          example: http://example.com/image.png
                        createdAt:
                          type: string
                          format: date-time
                          description: Date & time at which the attachment was uploaded
                          example: '2022-01-01T00:00:00.000Z'
                        width:
                          type:
                          - number
                          - 'null'
                          description: Width if the file is an image
                          example: 220
                        height:
                          type:
                          - number
                          - 'null'
                          description: Height if the file is an image
                          example: 100
                  vendorContactIds:
                    type: array
                    description: List of vendor contact IDs in the Purchase Order
                    example:
                    - 12
                    - 34
                    - 56
                    items:
                      type: number
                      example: 12
                  shippingAddress:
                    type:
                    - object
                    - 'null'
                    description: Shipping address in the Purchase Order
                    required:
                    - city
                    - country
                    - postalCode
                    - state
                    - street
                    properties:
                      city:
                        type: string
                        example: Montreal
                      country:
                        type: string
                        example: Canada
                      postalCode:
                        type: string
                        example: H4B 5G0
                      state:
                        type: string
                        example: Quebec
                      street:
                        type: string
                        example: 1909 Avenue des Canadiens-de-Montréal
                      label:
                        type:
                        - string
                        - 'null'
                        description: A string to specify how the address will be displayed - Defaults to Street, City, Province/State, Postal Code, Country
                        example: '1909 Avenue des Canadiens-de-Montréal, Montreal, H4B 5G0, QC, CA '
                  billingAddress:
                    type:
                    - object
                    - 'null'
                    description: Billing address in the Purchase Order
                    required:
                    - city
                    - country
                    - postalCode
                    - state
                    - street
                    properties:
                      city:
                        type: string
                        example: Montreal
                      country:
                        type: string
                        example: Canada
                      postalCode:
                        type: string
                        example: H4B 5G0
                      state:
                        type: string
                        example: Quebec
                      street:
                        type: string
                        example: 1909 Avenue des Canadiens-de-Montréal
                      label:
                        type:
                        - string
                        - 'null'
                        description: A string to specify how the address will be displayed - Defaults to Street, City, Province/State, Postal Code, Country
                        example: '1909 Avenue des Canadiens-de-Montréal, Montreal, H4B 5G0, QC, CA '
                  extraFields:
                    type: object
                    description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Ordered Date")'
                    additionalProperties:
                      type: string
                    example:
                      Ordered Date: '2023-01-01'
        '400':
          description: Failed to create the Purchase Order
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: errors with request
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Failed to create the Purchase Order
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: User doesn't have the right permissions
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '404':
          description: Could not find the specified Purchase Order.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Purchase Order Not Found
        '429':
          description: Too many requests. Please retry in 10 seconds
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Too many requests. Please retry in 10 seconds
      tags:
      - Purchase Orders
      parameters:
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      - schema:
          type: integer
        description: Required if using a multi organizations token
        name: x-organization-id
        in: header
        required: false
        example: '1'
      operationId: postPurchaseorders
      x-operation-id-source: derived
    get:
      summary: List purchase orders
      description: Endpoint used to list purchase order resources
      parameters:
      - name: cursor
        in: query
        schema:
          description: Last pagination reference
          type: string
      - name: limit
        in: query
        schema:
          description: max number of Purchase Orders returned
          type: integer
          minimum: 1
          maximum: 200
          default: 100
      - name: updatedAt[gte]
        schema:
          type: string
          format: date-time
          description: Return records whose updatedAt is at or after this ISO 8601 date-time (UTC).
          example: '2024-01-01T00:00:00.000Z'
        in: query
      - name: updatedAt[lte]
        schema:
          type: string
          format: date-time
          description: Return records whose updatedAt is at or before this ISO 8601 date-time (UTC).
          example: '2024-12-31T23:59:59.999Z'
        in: query
      - name: createdAt[gte]
        schema:
          type: string
          format: date-time
          description: Return records whose createdAt is at or after this ISO 8601 date-time (UTC).
          example: '2024-01-01T00:00:00.000Z'
        in: query
      - name: createdAt[lte]
        schema:
          type: string
          format: date-time
          description: Return records whose createdAt is at or before this ISO 8601 date-time (UTC).
          example: '2024-12-31T23:59:59.999Z'
        in: query
      - name: customFieldName
        schema:
          type: array
          items:
            type: string
          description: "Filter purchase orders by custom field value. Your query parameter should be your custom field name. (ie: To filter by a custom field named \"Industry\" with the value \"Construction\", you would do this \"/purchaseorders?Industry=Construction\").\n                    <br><br>Adding multiple instance of the same custom field act as an <code>OR</code> and adding a different custom field act as an <code>AND</code>. (ie: To filter by a custom field named <code>Industry</code> with the value <code>Construction</code> OR <code>Transportation</code> AND the custom field <code>Manufacturer</code> with the value <code>ACME</code>, you would do this <code>/purchaseorders?Industry=Construction&Industry=Transportation&Manufacturer=ACME</code>).\n                    <br><br>If your custom field label is the same as a reserved query parameter such as <code>limit</code>, <code>sort</code>, <code>expand</code>, etc, you can add <code>__c</code> to your custom field filtering (ie: To filter by a custom field named <code>limit</code> with the value <code>ten</code>, you would do this <code>/purchaseorders?limit__c=ten</code>).\n                    <br><br>Note that your custom field needs to be created beforehand. Only number and single line text custom field types are supported."
        in: query
      - in: query
        name: sort
        schema:
          description: 'Attribute on which to sort the list. (for descending order, prefix attribute with ''-''). '
          type: string
          enum:
          - id
          - createdAt
          - updatedAt
          - -id
          - -createdAt
          - -updatedAt
      - schema:
          type: integer
        description: Required if using a multi organizations token
        name: x-organization-id
        in: header
        required: false
        example: '1'
      responses:
        '200':
          description: Successfully fetched Purchase Orders list
          content:
            application/json:
              schema:
                type: object
                required:
                - purchaseOrders
                properties:
                  purchaseOrders:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - status
                      properties:
                        id:
                          type: number
                          example: 135
                          description: Global ID of the Purchase Order
                        status:
                          type:
                          - string
                          - 'null'
                          example: APPROVED
                          description: Status of the Purchase Order. Supported values are APPROVED, CANCELED, COMPLETED, DECLINED, PARTIALLY_FULFILLED, PENDING, REQUESTED
                        updatedAt:
                          type:
                          - string
                          - 'null'
                          example: '2022-01-01T00:00:00.000Z'
                          description: Date the Purchase Order was last updated
                        createdAt:
                          type:
                          - string
                          - 'null'
                          example: '2022-01-01T00:00:00.000Z'
                          format: date-time
                          description: Date the Purchase Order was created
                  nextCursor:
                    description: The cursor to retrieve the next page of Purchase Orders.
                    type:
                    - string
                    - 'null'
                  nextPageUrl:
                    description: Path with query parameters that can be used to retrieve the next page of Purchase Orders.
                    type:
                    - string
                    - 'null'
        '400':
          description: Error with query
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    description: Description of error
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      tags:
      - Purchase Orders
      operationId: getPurchaseorders
      x-operation-id-source: derived
  /purchaseorders/{id}:
    get:
      summary: Get purchase order
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the purchaseOrder
        example: '1'
      responses:
        '200':
          description: Successfully retrieved purchaseOrder's information
          content:
            application/json:
              schema:
                type: object
                required:
                - purchaseOrder
                properties:
                  purchaseOrder:
                    type: object
                    required:
                    - id
                    - note
                    - title
                    - reviewNote
                    - status
                    - dueDate
                    - creatorId
                    - vendorId
                    - autoGeneratedNumber
                    - overrideNumber
                    - approverId
                    - approvalDate
                    - createdAt
                    - updatedAt
                    - deletedAt
                    - items
                    - costs
                    - thumbnail
                    - attachments
                    - vendorContactIds
                    - shippingAddress
                    - billingAddress
                    - extraFields
                    properties:
                      id:
                        type: number
                        example: 135
                        description: Global ID of the Purchase Order
                      note:
                        type:
                        - string
                        - 'null'
                        description: Notes left for Purchase Orders
                        example: Please deliver during business hours
                      title:
                        type:
                        - string
                        - 'null'
                        description: Title of the Purchase Order.
                        example: Office Supplies Order
                      reviewNote:
                        type:
                        - string
                        - 'null'
                        description: Notes to be left for changes to be made when sending a Purchase Order for revision
                        example: Please adjust quantities and resubmit
                      status:
                        type:
                        - string
                        - 'null'
                        example: APPROVED
                        description: Status of the Purchase Order. Supported values are APPROVED, CANCELED, COMPLETED, DECLINED, PARTIALLY_FULFILLED, PENDING, REQUESTED
                      dueDate:
                        type:
                        - string
                        - 'null'
                        example: '2022-01-01T00:00:00.000Z'
                        description: Due date of Purchase Order
                      creatorId:
                        type: number
                        example: 432
                        description: ID of the user that created this Purchase Order
                      vendorId:
                        type:
                        - number
                        - 'null'
                        example: 432
                        description: ID of vendor that this Purchase Order is associated with
                      autoGeneratedNumber:
                        type:
                        - number
                        - 'null'
                        example: 987
                        description: Autogenerated Purchase Order number
                      overrideNumber:
                        type:
                        - string
                        - 'null'
                        example: A123
                        description: Custom number/identifier for Purchase Order
                      approverId:
                        type:
                        - number
                        - 'null'
                        example: 135
                        description: ID of the user who approved the Purchase Order
                      approvalDate:
                        type:
                        - string
                        - 'null'
                        example: '2022-01-01T00:00:00.000Z'
                        description: Date the Purchase Order was approved
                      createdAt:
                        type:
                        - string
                        - 'null'
                        example: '2022-01-01T00:00:00.000Z'
                        format: date-time
                        description: Date the Purchase Order was created
                      updatedAt:
                        type:
                        - string
                        - 'null'
                        example: '2022-01-01T00:00:00.000Z'
                        description: Date the Purchase Order was last updated
                      deletedAt:
                        type:
                        - string
                        - 'null'
                        example: '2022-01-01T00:00:00.000Z'
                        format: date-time
                        description: Date at which the Purchase Order was deleted
                      items:
                        type: array
                        description: List of items in the Purchase Order
                        items:
                          type: object
                          required:
                          - id
                          - quantityOrdered
                          properties:
                            id:
                              type: number
                              example: 23
                              description: ID of the item
                            partId:
                              type:
                              - number
                              - 'null'
                              example: 43
                              description: ID of the part this item is related to
                            name:
                              type:
                              - string
                              - 'null'
                            partNumber:
                              type:
                              - string
                              - 'null'
                            price:
                              type:
                              - number
                              - 'null'
                              example: 25000
                              description: Total price of items in cents
                            priceDecimal:
                              type:
                              - string
                              - 'null'
                              example: '250.000000'
                              description: Total price of items as a decimal value
                            quantityOrdered:
                              type: number
                              example: 4
                              description: Represent the amount of units for this item that were ordered in the purchase order.
                            quantityReceived:
                              type:
                              - number
                              - 'null'
                              example: 3
                              description: Represents the total amount of this specific item that has been received to date.
                            unitCost:
                              type:
                              - number
                              - 'null'
                              example: 125000
                              description: Price of a single item in cents
                            unitCostDecimal:
                              type:
                              - string
                              - 'null'
                              example: '1250.000000'
                              description: Price of a single item as a decimal value
                            fulfillments:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                    example: 23
                                    description: ID of the item fulfillment
                                  locationId:
                                    type:
                                    - number
                                    - 'null'
                                    example: 852
                                    description: ID of the location where the item was fulfilled
                                  quantityReceived:
                                    type: string
                                    example: '3.000000'
                                    description: Quantity of the item fulfilled to this location
                                  isLegacy:
                                    type: boolean
                                    description: Indicates the location is a legacy location. This is used to determine if this fulfillment was done before enablement of the multi-location parts feature.
                                    example: true
                              description: Fulfillment information for the item's fulfillment locations.
                            extraFields:
                              type: object
                              additionalProperties:
                                type: string
                              description: 'Custom Fields on the entity. Deprecated: Use `lineExtraFields` instead.'
                              deprecated: true
                            lineExtraFields:
                              type: object
                              description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Ordered Date")'
                              additionalProperties:
                                type: string
                              example:
                                Ordered Date: '2023-01-01'
                            partExtraFields:
                              type: object
                              description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Part Number")'
                              additionalProperties:
                                type: string
                              example:
                                Part Number: '321'
                      costs:
                        type: array
                        description: List of costs in the Purchase Order
                        items:
                          type: object
                          required:
                          - name
                          - type
                          - amount
                          properties:
                            id:
                              type: number
                              example: 123
                              description: ID of the cost
                            name:
                              type: string
                              example: Sales Tax
                              description: Description of the cost
                            type:
                              type: string
                              enum:
                              - AMOUNT_NON_TAXABLE
                              - AMOUNT_TAXABLE
                              - PERCENT_TAXABLE
                              example: AMOUNT_TAXABLE
                              description: Type of cost in either cents or percent. Accepted types in cents are AMOUNT_TAXABLE and AMOUNT_NON_TAXABLE. For percentage use PERCENT_TAXABLE
                            amount:
                              type: number
                              example: 125000
                      thumbnail:
                        type:
                        - object
                        - 'null'
                        title: attachment
                        required:
                        - id
                        - mimeType
                        - fileName
                        - url
                        - createdAt
                        properties:
                          id:
                            type: number
                            description: Global ID of the attachment
                            example: 12345
                          mimeType:
                            type: string
                            description: MIME type of the file
                            example: image/png
                          fileName:
                            type: string
                            description: Attachment's file name
                            example: image.png
                          url:
                            type: string
                            description: Url of the file. Valid for 60 minutes.
                            example: http://example.com/image.png
                          createdAt:
                            type: string
                            format: date-time
                            description: Date & time at which the attachment was uploaded
                            example: '2022-01-01T00:00:00.000Z'
                          width:
                            type:
                            - number
                            - 'null'
                            description: Width if the file is an image
                            example: 220
                          height:
                            type:
                            - number
                            - 'null'
                            description: Height if the file is an image
                            example: 100
                      attachments:
                        type: array
                        title: attachment
                        description: List of attachments linked to the Purchase Order
                        items:
                          type: object
                          title: attachment
                          required:
                          - id
                          - mimeType
                          - fileName
                          - url
                          - createdAt
                          properties:
                            id:
                              type: number
                              description: Global ID of the attachment
                              example: 12345
                            mimeType:
                              type: string
                              description: MIME type of the file
                              example: image/png
                            fileName:
                              type: string
                              description: Attachment's file name
                              example: image.png
                            url:
                              type: string
                              description: Url of the file. Valid for 60 minutes.
                              example: http://example.com/image.png
                            createdAt:
                              type: string
                              format: date-time
                              description: Date & time at which the attachment was uploaded
                              example: '2022-01-01T00:00:00.000Z'
                            width:
                              type:
                              - number
                              - 'null'
                              description: Width if the file is an image
                              example: 220
                            height:
                              type:
                              - number
                              - 'null'
                              description: Height if the file is an image
                              example: 100
                      vendorContactIds:
                        type: array
                        description: List of vendor contact IDs in the Purchase Order
                        example:
                        - 12
                        - 34
                        - 56
                        items:
                          type: number
                          example: 12
                      shippingAddress:
                        type:
                        - object
                        - 'null'
                        description: Shipping address in the Purchase Order
                        required:
                        - city
                        - country
                        - postalCode
                        - state
                        - street
                        properties:
                          city:
                            type: string
                            example: Montreal
                          country:
                            type: string
                            example: Canada
                          postalCode:
                            type: string
                            example: H4B 5G0
                          state:
                            type: string
                            example: Quebec
                          street:
                            type: string
                            example: 1909 Avenue des Canadiens-de-Montréal
                          label:
                            type:
                            - string
                            - 'null'
                            description: A string to specify how the address will be displayed - Defaults to Street, City, Province/State, Postal Code, Country
                            example: '1909 Avenue des Canadiens-de-Montréal, Montreal, H4B 5G0, QC, CA '
                      billingAddress:
                        type:
                        - object
                        - 'null'
                        description: Billing address in the Purchase Order
                        required:
                        - city
                        - country
                        - postalCode
                        - state
                        - street
                        properties:
                          city:
                            type: string
                            example: Montreal
                          country:
                            type: string
                            example: Canada
                          postalCode:
                            type: string
                            example: H4B 5G0
                          state:
                            type: string
                            example: Quebec
                          street:
                            type: string
                            example: 1909 Avenue des Canadiens-de-Montréal
                          label:
                            type:
                            - string
                            - 'null'
                            description: A string to specify how the address will be displayed - Defaults to Street, City, Province/State, Postal Code, Country
                            example: '1909 Avenue des Canadiens-de-Montréal, Montreal, H4B 5G0, QC, CA '
                      extraFields:
                        type: object
                        description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Ordered Date")'
                        additionalProperties:
                          type: string
                        example:
                          Ordered Date: '2023-01-01'
        '400':
          description: Error with query
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    description: Description of error
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified purchaseOrder or the user cannot access it.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Not Found.
      tags:
      - Purchase Orders
      operationId: getPurchaseordersById
      x-operation-id-source: derived
    patch:
      summary: Update purchase order
      parameters:
      - schema:
          type: number
        name: id
        required: true
        in: path
        example: '1'
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      responses:
        '200':
          description: Successfully updated Purchase Order
          content:
            application/json:
              schema:
                type: object
                required:
                - purchaseOrder
                properties:
                  purchaseOrder:
                    type: object
                    properties:
                      id:
                        type: number
                        example: 135
                        description: Global ID of the Purchase Order
                      note:
                        type:
                        - string
                        - 'null'
                        description: Notes left for Purchase Orders
                        example: Please deliver during business hours
                      title:
                        type:
                        - string
                        - 'null'
                        description: Title of the Purchase Order.
                        example: Office Supplies Order
                      reviewNote:
                        type:
                        - string
                        - 'null'
                        description: Notes to be left for changes to be made when sending a Purchase Order for revision
                        example: Please adjust quantities and resubmit
                      status:
                        type:
                        - string
                        - 'null'
                        example: APPROVED
                        description: Status of the Purchase Order. Supported values are APPROVED, CANCELED, COMPLETED, DECLINED, PARTIALLY_FULFILLED, PENDING, REQUESTED
                      dueDate:
                        type:
                        - string
                        - 'null'
                        example: '2022-01-01T00:00:00.000Z'
                        description: Due date of Purchase Order
                      creatorId:
                        type: number
                        example: 432
                        description: ID of the user that created this Purchase Order
                      vendorId:
                        type:
                        - number
                        - 'null'
                        example: 432
                        description: ID of vendor that this Purchase Order is associated with
                      autoGeneratedNumber:
                        type:
                        - number
                        - 'null'
                        example: 987
                        description: Autogenerated Purchase Order number
                      overrideNumber:
                        type:
                        - string
                        - 'null'
                        example: A123
                        description: Custom number/identifier for Purchase Order
                      approverId:
                        type:
                        - number
                        - 'null'
                        example: 135
                        description: ID of the user who approved the Purchase Order
                      approvalDate:
                        type:
                        - string
                        - 'null'
                        example: '2022-01-01T00:00:00.000Z'
                        description: Date the Purchase Order was approved
                      createdAt:
                        type:
                        - string
                        - 'null'
                        example: '2022-01-01T00:00:00.000Z'
                        format: date-time
                        description: Date the Purchase Order was created
                      updatedAt:
                        type:
                        - string
                        - 'null'
                        example: '2022-01-01T00:00:00.000Z'
                        description: Date the Purchase Order was last updated
                      deletedAt:
                        type:
                        - string
                        - 'null'
                        example: '2022-01-01T00:00:00.000Z'
                        format: date-time
                        description: Date at which the Purchase Order was deleted
                      items:
                        type: array
                        description: List of items in the Purchase Order
                        items:
                          type: object
                          required:
                          - id
                          - quantityOrdered
                          properties:
                            id:
                              type: number
                              example: 23
                              description: ID of the item
                            partId:
                              type:
                              - number
                              - 'null'
                              example: 43
                              description: ID of the part this item is related to
                            name:
                              type:
                              - string
                              - 'null'
                            partNumber:
                              type:
                              - string
                              - 'null'
                            price:
                              type:
                              - number
                              - 'null'
                              example: 25000
                              description: Total price of items in cents
                            priceDecimal:
                              type:
                              - string
                              - 'null'
                              example: '250.000000'
                              description: Total price of items as a decimal value
                            quantityOrdered:
                              type: number
                              example: 4
                              description: Represent the amount of units for this item that were ordered in the purchase order.
                            quantityReceived:
                              type:
                              - number
                              - 'null'
                              example: 3
                              description: Represents the total amount of this specific item that has been received to date.
                            unitCost:
                              type:
                              - number
                              - 'null'
                              example: 125000
                              description: Price of a single item in cents
                            unitCostDecimal:
                              type:
                              - string
                              - 'null'
                              example: '1250.000000'
                              description: Price of a single item as a decimal value
                            fulfillments:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                    example: 23
                                    description: ID of the item fulfillment
                                  locationId:
                                    type:
                                    - number
                                    - 'null'
                                    example: 852
                                    description: ID of the location where the item was fulfilled
                                  quantityReceived:
                                    type: string
                                    example: '3.000000'
                                    description: Quantity of the item fulfilled to this location
                                  isLegacy:
                                    type: boolean
                                    description: Indicates the location is a legacy location. This is used to determine if this fulfillment was done before enablement of the multi-location parts feature.
                                    example: true
                              description: Fulfillment information for the item's fulfillment locations.
                            extraFields:
                              type: object
                              additionalProperties:
                                type: string
                              description: 'Custom Fields on the entity. Deprecated: Use `lineExtraFields` instead.'
                              deprecated: true
                            lineExtraFields:
                              type: object
                              description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Ordered Date")'
                              additionalProperties:
                                type: string
                              example:
                                Ordered Date: '2023-01-01'
                            partExtraFields:
                              type: object
                              description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Part Number")'
                              additionalProperties:
                                type: string
                              example:
                                Part Number: '321'
                      costs:
                        type: array
                        description: List of costs in the Purchase Order
                        items:
                          type: object
                          required:
                          - name
                          - type
                          - amount
                          properties:
                            id:
                              type: number
                              example: 123
                              description: ID of the cost
                            name:
                              type: string
                              example: Sales Tax
                              description: Description of the cost
                            type:
                              type: string
                              enum:
                              - AMOUNT_NON_TAXABLE
                              - AMOUNT_TAXABLE
                              - PERCENT_TAXABLE
                              example: AMOUNT_TAXABLE
                              description: Type of cost in either cents or percent. Accepted types in cents are AMOUNT_TAXABLE and AMOUNT_NON_TAXABLE. For percentage use PERCENT_TAXABLE
                            amount:
                              type: number
                              example: 125000
                      thumbnail:
                        type:
                        - object
                        - 'null'
                        title: attachment
                        required:
                        - id
                        - mimeType
                        - fileName
                        - url
                        - createdAt
                        properties:
                          id:
                            type: number
                            description: Global ID of the attachment
                            example: 12345
                          mimeType:
                            type: string
                            description: MIME type of the file
                            example: image/png
                          fileName:
                            type: string
                            description: Attachment's file name
                            example: image.png
                          url:
                            type: string
                            description: Url of the file. Valid for 60 minutes.
                            example: http://example.com/image.png
                          createdAt:
                            type: string
                            format: date-time
                            description: Date & time at which the attachment was uploaded
                            example: '2022-01-01T00:00:00.000Z'
                          width:
                            type:
                            - number
                            - 'null'
                            description: Width if the file is an image
                            example: 220
                          height:
                            type:
                            - number
                            - 'null'
                            description: Height if the file is an image
                            example: 100
                      attachments:
                        type: array
                        title: attachment
                        description: List of attachments linked to the Purchase Order
                        items:
                          type: object
                          title: attachment
                          required:
                          - id
                          - mimeType
                          - fileName
                          - url
                          - createdAt
                          properties:
                            id:
                              type: number
                              description: Global ID of the attachment
                              example: 12345
                            mimeType:
                              type: string
                              description: MIME type of the file
                              example: image/png
                            fileName:
                              type: string
                              description: Attachment's file name
                              example: image.png
                            url:
                              type: string
                              description: Url of the file. Valid for 60 minutes.
                              example: http://example.com/image.png
                            createdAt:
                              type: string
                              format: date-time
                              description: Date & time at which the attachment was uploaded
                              example: '2022-01-01T00:00:00.000Z'
                            width:
                              type:
                              - number
                              - 'null'
                              description: Width if the file is an image
                              example: 220
                            height:
                              type:
                              - number
                              - 'null'
                              description: Height if the file is an image
                              example: 100
                      vendorContactIds:
                        type: array
                        description: List of vendor contact IDs in the Purchase Order
                        example:
                        - 12
                        - 34
                        - 56
                        items:
                          type: number
                          example: 12
                      shippingAddress:
                        type:
                        - object
                        - 'null'
                        description: Shipping address in the Purchase Order
                        required:
                        - city
                        - country
                        - postalCode
                        - state
                        - street
                        properties:
                          city:
                            type: string
                            example: Montreal
                          country:
                            type: string
                            example: Canada
                          postalCode:
                            type: string
                            example: H4B 5G0
                          state:
                            type: string
                            example: Quebec
                          street:
                            type: string
                            example: 1909 Avenue des Canadiens-de-Montréal
                          label:
                            type:
                            - string
                            - 'null'
                            description: A string to specify how the address will be displayed - Defaults to Street, City, Province/State, Postal Code, Country
                            example: '1909 Avenue des Canadiens-de-Montréal, Montreal, H4B 5G0, QC, CA '
                      billingAddress:
                        type:
                        - object
                        - 'null'
                        description: Billing address in the Purchase Order
                        required:
                        - city
                        - country
                        - postalCode
                        - state
                        - street
                        properties:
                          city:
                            type: string
                            example: Montreal
                          country:
                            type: string
                            example: Canada
                          postalCode:
                            type: string
                            example: H4B 5G0
                          state:
                            type: string
                            example: Quebec
                          street:
                            type: string
                            example: 1909 Avenue des Canadiens-de-Montréal
                          label:
                            type:
                            - string
                            - 'null'
                            description: A string to specify how the address will be displayed - Defaults to Street, City, Province/State, Postal Code, Country
                            example: '1909 Avenue des Canadiens-de-Montréal, Montreal, H4B 5G0, QC, CA '
                      extraFields:
                        type: object
                        description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Ordered Date")'
                        additionalProperties:
                          type: string
                        example:
                          Ordered Date: '2023-01-01'
                    required:
                    - id
                    - status
                    - items
        '400':
          description: Failed to update the Purchase Order
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: error with the request
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Failed to update the Purchase Order
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: User doesn't have the right permissions
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          type:
                          - string
                          - 'null'
                        fieldValue:
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '404':
          description: Could not find the specified Purchase Order.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Purchase Order Not Found
      requestBody:
        description: Purchase Order to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type:
                  - string
                  - 'null'
                  description: Notes left for Purchase Orders
                  example: Please deliver during business hours
                reviewNote:
                  type:
                  - string
                  - 'null'
                  description: Notes to be left for changes to be made when sending a Purchase Order for revision
                  example: Please adjust quantities and resubmit
                status:
                  type:
                  - string
                  - 'null'
                  example: APPROVED
                  description: Please use the [PATCH /purchaseorders/{id}/status](#tag/Purchase-Orders/paths/~1purchaseorders~1{id}~1status/patch) endpoint instead.
                  deprecated: true
                dueDate:
                  type:
                  - string
                  - 'null'
                  example: '2022-01-01T00:00:00.000Z'
                  description: Due date of Purchase Order
                vendorId:
                  type:
                  - number
                  - 'null'
                  example: 432
                  description: ID of vendor that this Purchase Order is associated with
                overrideNumber:
                  type:
                  - string
                  - 'null'
                  example: A123
                  description: Custom number/identifier for Purchase Order
                deletedAt:
                  type:
                  - string
                  - 'null'
                  example: '2022-01-01T00:00:00.000Z'
                  format: date-time
                  description: Date at which the Purchase Order was deleted
                costs:
                  type: array
                  description: List of costs in the Purchase Order
                  items:
                    type: object
                    required:
                    - name
                    - type
                    - amount
                    properties:
                      id:
                        type: number
                        example: 123
                        description: ID of the cost
                      name:
                        type: string
                        example: Sales Tax
                        description: Description of the cost
                      type:
                        type: string
                        enum:
                        - AMOUNT_NON_TAXABLE
                        - AMOUNT_TAXABLE
                        - PERCENT_TAXABLE
                        example: AMOUNT_TAXABLE
                        description: Type of cost in either cents or percent. Accepted types in cents are AMOUNT_TAXABLE and AMOUNT_NON_TAXABLE. For percentage use PERCENT_TAXABLE
                      amount:
                        type: number
                        example: 125000
                vendorContactIds:
                  type: array
                  description: List of vendor contact IDs in the Purchase Order
                  example:
                  - 12
                  - 34
                  - 56
                  items:
                    type: number
                    example: 12
                shippingAddress:
                  type:
                  - object
                  - 'null'
                  description: Shipping address in the Purchase Order
                  required:
                  - city
                  - country
                  - postalCode
                  - state
                  - street
                  properties:
                    city:
                      type: string
                      example: Montreal
                    country:
                      type: string
                      example: Canada
                    postalCode:
                      type: string
                      example: H4B 5G0
                    state:
                      type: string
                      example: Quebec
                    street:
                      type: string
                      example: 1909 Avenue des Canadiens-de-Montréal
                    label:
                      type:
                      - string
                      - 'null'
                      description: A string to specify how the address will be displayed - Defaults to Street, City, Province/State, Postal Code, Country
                      example: '1909 Avenue des Canadiens-de-Montréal, Montreal, H4B 5G0, QC, CA '
                shippingAddressId:
                  type:
                  - number
                  - 'null'
                  description: Shipping address Id in the Purchase Order
                billingAddress:
                  type:
                  - object
                  - 'null'
                  description: Billing address in the Purchase Order
                  required:
                  - city
                  - country
                  - postalCode
                  - state
                  - street
                  properties:
                    city:
                      type: string
                      example: Montreal
                    country:
                      type: string
                      example: Canada
                    postalCode:
                      type: string
                      example: H4B 5G0
                    state:
                      type: string
                      example: Quebec
                    street:
                      type: string
                      example: 1909 Avenue des Canadiens-de-Montréal
                    label:
                      type:
                      - string
                      - 'null'
                      description: A string to specify how the address will be displayed - Defaults to Street, City, Province/State, Postal Code, Country
                      example: '1909 Avenue des Canadiens-de-Montréal, Montreal, H4B 5G0, QC, CA '
                billingAddressId:
                  type:
                  - number
                  - 'null'
                  description: Billing address Id in the Purchase Order
                extraFields:
                  type: object
                  description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Ordered Date")'
                  additionalProperties:
                    type: string
                  example:
                    Ordered Date: '2023-01-01'
                items:
                  type: array
                  description: List of items in the Purchase Order
                  items:
                    type: object
                    required:
                    - quantityOrdered
                    properties:
                      id:
                        type: number
                        example: 23
                        description: ID of the item
                      partId:
                        type:
                        - number
                        - 'null'
                        example: 43
                        description: ID of the part this item is related to
                      name:
                        type:
                        - string
                        - 'null'
                      partNumber:
                        type:
                        - string
                        - 'null'
                      price:
                        type:
                        - number
                        - 'null'
                        example: 25000
                        description: Total price of items in cents
                      quantityOrdered:
                        type: number
                        example: 4
                        description: Represent the amount of units for this item that were ordered in the purchase order.
                      unitCost:
                        type:
                        - number
                        - 'null'
                        example: 125000
                        description: Price of a single item in cents
                      extraFields:
                        type: object
                        additionalProperties:
                          type: string
                        description: 'Custom Fields on the entity. Deprecated: Use `lineExtraFields` instead.'
                        deprecated: true
                      lineExtraFields:
                        type: object
                        description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Ordered Date")'
                        additionalProperties:
                          type: string
                        example:
                          Ordered Date: '2023-01-01'
                      quantityReceived:
                        type:
                        - number
                        - 'null'
                        example: 3
                        description: Represents the total amount of this specific item that has been received to date.
                        deprecated: true
                title:
                  type:
                  - string
                  - 'null'
                  description: Title of the Purchase Order. Will be ignored if organization setting for custom purchase order titles is disabled.
                  example: Office Supplies Order
      tags:
      - Purchase Orders
      operationId: patchPurchaseordersById
      x-operation-id-source: derived
    delete:
      summary: Delete purchaseOrder
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the purchaseOrder
        example: '1'
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      responses:
        '204':
          description: Successfully deleted the purchaseOrder
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified purchaseOrder.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: purchaseOrder Not Found
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Internal server error.
      tags:
      - Purchase Orders
      operationId: deletePurchaseordersById
      x-operation-id-source: derived
  /purchaseorders/{id}/attachments/{filename}:
    put:
      summary: Update purchase order attachment
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the purchase order.
        example: '1'
      - schema:
          type: string
        name: filename
        in: path
        required: true
        description: Name of the attachment, including the extension.
        example: datasheet.pdf
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      requestBody:
        description: Content type should be `application/octet-stream` and payload should use binary format for the attachment.
        required: true
        content:
          application/octet-stream:
            schema:
              type: object
              format: binary
          image/jpeg:
            schema:
              type: object
              format: binary
          image/png:
            schema:
              type: object
              format: binary
          image/gif:
            schema:
              type: object
              format: binary
          image/webp:
            schema:
              type: object
              format: binary
          image/flif:
            schema:
              type: object
              format: binary
          image/x-xcf:
            schema:
              type: object
              format: binary
          image/x-canon-cr2:
            schema:
              type: object
              format: binary
          image/x-canon-cr3:
            schema:
              type: object
              format: binary
          image/tiff:
            schema:
              type: object
              format: binary
          image/bmp:
            schema:
              type: object
              format: binary
          image/vnd.ms-photo:
            schema:
              type: object
              format: binary
          image/vnd.adobe.photoshop:
            schema:
              type: object
              format: binary
          application/x-indesign:
            schema:
              type: object
              format: binary
          application/epub+zip:
            schema:
              type: object
              format: binary
          application/x-xpinstall:
            schema:
              type: object
              format: binary
          application/vnd.ms-powerpoint.slideshow.macroenabled.12:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.text:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.spreadsheet:
            schema:
              type: object
              format: binary
          application/vnd.oasis.opendocument.presentation:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.wordprocessingml.document:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.presentationml.presentation:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
            schema:
              type: object
              format: binary
          application/vnd.openxmlformats-officedocument.presentationml.slideshow:
            schema:
              type: object
              format: binary
          application/zip:
            schema:
              type: object
              format: binary
          application/x-tar:
            schema:
              type: object
              format: binary
          application/x-rar-compressed:
            schema:
              type: object
              format: binary
          application/gzip:
            schema:
              type: object
              format: binary
          application/x-bzip2:
            schema:
              type: object
              format: binary
          application/x-7z-compressed:
            schema:
              type: object
              format: binary
          application/x-apple-diskimage:
            schema:
              type: object
              format: binary
          application/vnd.apache.arrow.file:
            schema:
              type: object
              format: binary
          video/mp4:
            schema:
              type: object
              format: binary
          audio/midi:
            schema:
              type: object
              format: binary
          video/matroska:
            schema:
              type: object
              format: binary
          video/webm:
            schema:
              type: object
              format: binary
          video/quicktime:
            schema:
              type: object
              format: binary
          video/vnd.avi:
            schema:
              type: object
              format: binary
          audio/wav:
            schema:
              type: object
              format: binary
          audio/qcelp:
            schema:
              type: object
              format: binary
          audio/x-ms-asf:
            schema:
              type: object
              format: binary
          video/x-ms-asf:
            schema:
              type: object
              format: binary
          application/vnd.ms-asf:
            schema:
              type: object
              format: binary
          video/mpeg:
            schema:
              type: object
              format: binary
          video/3gpp:
            schema:
              type: object
              format: binary
          audio/mpeg:
            schema:
              type: object
              format: binary
          audio/mp4:
            schema:
              type: object
              format: binary
          video/ogg:
            schema:
              type: object
              format: binary
          audio/ogg:
            schema:
              type: object
              format: binary
          audio/ogg; codecs=opus:
            schema:
              type: object
              format: binary
          application/ogg:
            schema:
              type: object
              format: binary
          audio/flac:
            schema:
              type: object
              format: binary
          audio/ape:
            schema:
              type: object
              format: binary
          audio/wavpack:
            schema:
              type: object
              format: binary
          audio/amr:
            schema:
              type: object
              format: binary
          application/pdf:
            schema:
              type: object
              format: binary
          application/x-elf:
            schema:
              type: object
              format: binary
          application/x-mach-binary:
            schema:
              type: object
              format: binary
          application/x-msdownload:
            schema:
              type: object
              format: binary
          application/x-shockwave-flash:
            schema:
              type: object
              format: binary
          application/rtf:
            schema:
              type: object
              format: binary
          application/wasm:
            schema:
              type: object
              format: binary
          font/woff:
            schema:
              type: object
              format: binary
          font/woff2:
            schema:
              type: object
              format: binary
          application/vnd.ms-fontobject:
            schema:
              type: object
              format: binary
          font/ttf:
            schema:
[...]
