openapi: 3.0.0
info:
  description: Welcome to the MaintainX API documentation!<br/><br/>You can use the MaintainX API to programmatically interact with all the entities in MaintainX. Use it to retrieve and manage data of Work Orders, Work Requests, Assets, and more!<br/><br/>To get started, in your MaintainX account go to <a href="https://app.getmaintainx.com/settings/integrations/apiKeys">"Settings &gt; Integrations"</a> and click "&plus; New Key" button to generate a new Rest API key.<br/><br/><b>Missing something?</b><br/>Don't hesitate to reach out <a href="mailto:support@getmaintainx.com">support@getmaintainx.com</a><br/><br/>
  version: '1'
  title: MaintainX Asset Criticalities Custom Fields API
  contact:
    url: https://www.getmaintainx.com/
    name: Support
    email: support@getmaintainx.com
  x-logo:
    url: https://maintainx-static.s3-us-west-2.amazonaws.com/img/default-org-logo.png
    backgroundColor: '#FFFFFF'
    altText: MaintainX logo
servers:
- url: https://api.getmaintainx.com/v1
  description: Endpoint
security:
- Bearer: []
tags:
- name: Custom Fields
  description: Operations on Custom Fields
  x-traitTag: false
paths:
  /customfields/{entity}:
    post:
      summary: Create custom field
      parameters:
      - schema:
          type: string
          enum:
          - assets
          - locations
          - parts
          - workOrders
          - vendors
          - purchaseOrders
          - lineItemPurchaseOrders
        name: entity
        in: path
        required: true
        description: Type of entity
        example: assets
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      - schema:
          type: integer
        description: Required if using a multi organizations token
        name: x-organization-id
        in: header
        required: false
        example: '1'
      requestBody:
        description: Custom fields to create
        required: true
        content:
          application/json:
            schema:
              type: object
              description: The custom field data
              required:
              - fields
              properties:
                fields:
                  type: array
                  items:
                    type: object
                    required:
                    - label
                    - type
                    properties:
                      label:
                        type: string
                        example: Date Purchased
                      type:
                        type: string
                        enum:
                        - oneline
                        - multiline
                        - number
                        - singleSelect
                        - date
                        - datetime
                        - link
                      options:
                        nullable: true
                        type: array
                        items:
                          type: string
                      includeInRecurrence:
                        nullable: true
                        type: boolean
                        description: Only relevent in the context of Work Orders
                      required:
                        nullable: true
                        type: boolean
                        description: Mark this field as required. This only affect the frontend.
                      unlisted:
                        nullable: true
                        type: boolean
                        description: Mark this custom field as unlisted. Once unlisted it will only be editable through the Rest API. When the custom field contains data, it will be displayed in the frontend; otherwise, it will remain hidden.
      responses:
        '200':
          description: Successfully created the custom fields
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - id
                  - label
                  - type
                  - sortOrder
                  properties:
                    id:
                      type: number
                      description: ID of the custom field
                      example: 1
                    label:
                      type: string
                      description: The label of the custom field
                      example: Date Purchased
                    sortOrder:
                      type: integer
                      description: The order which the field will be displayed in the UI
                      example: 25
                    type:
                      type: string
                      enum:
                      - oneline
                      - multiline
                      - number
                      - singleSelect
                      - date
                      - datetime
                      - link
                    options:
                      type: array
                      description: The possible choices to the field (if applicable).
                      items:
                        type: string
        '400':
          description: OrganizationId was not provided
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: Missing x-organization-id header.
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          nullable: true
                          type: string
                        fieldValue:
                          nullable: true
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Failed to create the custom field
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: User don't have the right permissions
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          nullable: true
                          type: string
                        fieldValue:
                          nullable: true
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '404':
          description: Could not find the specified custom field.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: custom field Not Found
      tags:
      - Custom Fields
    get:
      summary: List custom fields
      parameters:
      - schema:
          type: string
          enum:
          - assets
          - locations
          - parts
          - workOrders
          - vendors
          - purchaseOrders
          - lineItemPurchaseOrders
        name: entity
        in: path
        required: true
        description: Type of entity
        example: assets
      - schema:
          type: integer
        description: Required if using a multi organizations token
        name: x-organization-id
        in: header
        required: false
        example: '1'
      responses:
        '200':
          description: Successfully fetched the custom fields
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - id
                  - label
                  - type
                  - sortOrder
                  properties:
                    id:
                      type: number
                      description: ID of the custom field
                      example: 1
                    label:
                      type: string
                      description: The label of the custom field
                      example: Date Purchased
                    sortOrder:
                      type: integer
                      description: A weighted value used to sort the custom fields. Fields are sorted lowest to highest. This is different from sortIndex.
                      example: 25
                    type:
                      type: string
                      enum:
                      - oneline
                      - multiline
                      - number
                      - singleSelect
                      - date
                      - datetime
                      - link
                    required:
                      nullable: true
                      type: boolean
                      description: This field is marked as required. This only affect the frontend.
                    unlisted:
                      nullable: true
                      type: boolean
                      description: This field is marked as unlisted. Once unlisted it will only be editable through the Rest API. When the custom field contains data, it will be displayed in the frontend; otherwise, it will remain hidden.
                    options:
                      type: array
                      description: The possible choices to the field (if applicable).
                      items:
                        type: string
        '400':
          description: OrganizationId was not provided
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: Missing x-organization-id header.
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          nullable: true
                          type: string
                        fieldValue:
                          nullable: true
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified custom field.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: custom field Not Found
      tags:
      - Custom Fields
  /customfields/{entity}/{id}:
    patch:
      summary: Edit custom field
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the custom field
        example: '1'
      - schema:
          type: string
          enum:
          - assets
          - locations
          - parts
          - workOrders
          - vendors
          - purchaseOrders
          - lineItemPurchaseOrders
        name: entity
        in: path
        required: true
        description: Type of entity
        example: assets
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      requestBody:
        description: Custom field to create
        required: true
        content:
          application/json:
            schema:
              type: object
              description: The custom field data
              required:
              - field
              properties:
                field:
                  type: object
                  properties:
                    label:
                      type: string
                      example: Date Purchased
                    type:
                      type: string
                      enum:
                      - oneline
                      - multiline
                      - number
                      - singleSelect
                      - date
                      - datetime
                      - link
                    options:
                      nullable: true
                      type: array
                      items:
                        type: string
                    includeInRecurrence:
                      nullable: true
                      type: boolean
                      description: Only relevent in the context of Work Orders
                    sortIndex:
                      type: integer
                      description: 'Represents the actual index (zero based) that you wish the element to be set at. For example, if you have 6 custom fields, and would like to set the field as the second element, you would pass sortIndex: 1. This would in turn affect the sortOrder weight.'
                    required:
                      nullable: true
                      type: boolean
                      description: Mark this custom field as required
                    unlisted:
                      nullable: true
                      type: boolean
                      description: Mark this custom field as unlisted
      responses:
        '204':
          description: Successfully edited the custom field
        '400':
          description: Failed to edit the custom field
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: Invalid Property
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          nullable: true
                          type: string
                        fieldValue:
                          nullable: true
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Failed to edit the custom field
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                example:
                  errors:
                  - error: User don't have the right permissions
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - error
                      properties:
                        error:
                          type: string
                        fieldPath:
                          nullable: true
                          type: string
                        fieldValue:
                          nullable: true
                          oneOf:
                          - type: string
                          - type: number
                          - type: boolean
        '404':
          description: Could not find the specified custom field.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: custom field Not Found
      tags:
      - Custom Fields
    delete:
      summary: Delete custom field
      parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID of the custom field
        example: '1'
      - schema:
          type: string
          enum:
          - assets
          - locations
          - parts
          - workOrders
          - vendors
          - purchaseOrders
          - lineItemPurchaseOrders
        name: entity
        in: path
        required: true
        description: Type of entity
        example: assets
      - schema:
          type: boolean
        description: Set `skipWebhook=true`, `skipWebhook=1` or `skipWebhook=yes` to skip all webhooks upon successful operation on the endpoint. [Learn more about webhooks](#tag/Subscriptions-and-Webhooks)
        name: skipWebhook
        in: query
        required: false
      responses:
        '204':
          description: Successfully deleted the Custom Fields
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Could not find the specified Custom Fields.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Custom Fields Not Found
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Internal server error.
      tags:
      - Custom Fields
components:
  responses:
    UnauthorizedError:
      description: Invalid token
  securitySchemes:
    Bearer:
      description: "\n  <p>Authenticate by adding the following HTTP header to your requests:</p>\n<pre>Authorization: bearer {{token}}</pre>\n<p>The <code>token</code> can be generated in your MaintainX account. Go to <a href=\"https://app.getmaintainx.com/settings/integrations/apiKeys\">\"Settings &gt; Integrations &gt; API Keys\"</a> to generate a key for your user.</p>\n"
      type: http
      scheme: bearer
      bearerFormat: JWT
x-webhooks:
  API_TOKEN_CREATED:
    post:
      summary: API Token Created
      security: []
      description: Fires when a REST API token is generated.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: API_TOKEN_CREATED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  API_TOKEN_REVOKED:
    post:
      summary: API Token Revoked
      security: []
      description: Fires when a REST API token is revoked.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: API_TOKEN_REVOKED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  ASSET_STATUS_CHANGE:
    post:
      summary: Asset Status Change
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - assetId
              - orgId
              - oldStatus
              - newStatus
              - occurredAt
              properties:
                assetId:
                  type: number
                  description: Global ID of the asset
                  example: 42
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 21
                oldStatus:
                  description: Previous status of the asset
                  type: object
                  properties:
                    id:
                      type: number
                      example: 42
                      description: Global ID of the asset status.
                    customStatus:
                      type: object
                      required:
                      - label
                      properties:
                        id:
                          type: number
                          example: Global ID of the custom asset status.
                        label:
                          type: string
                          example: Decommissioned
                        createdAt:
                          type: string
                          format: date-time
                          description: Date & time at which the asset custom status was created.
                          example: '2022-01-01T12:34:56.123Z'
                        updatedAt:
                          type: string
                          format: date-time
                          description: Date & time at which the asset custom status was last updated.
                          example: '2022-01-01T12:34:56.123Z'
                        deletedAt:
                          type: string
                          nullable: true
                          description: Date at which the asset custom status was deleted.
                          format: date-time
                          example: '2022-01-01T12:34:56.123Z'
                        downtimeType:
                          type: string
                          nullable: true
                          example: null
                          enum:
                          - PLANNED
                          - UNPLANNED
                          deprecated: true
                          description: Downtime type on asset custom statuses will always return null. Use downtime type on asset status instead.
                      description: Custom status assigned to asset.
                      nullable: true
                    customStatusId:
                      type: number
                      description: Id of the custom status assigned to asset.
                      nullable: true
                      example: 53
                    status:
                      type: string
                      example: OFFLINE
                      description: Asset status value.
                      enum:
                      - IGNORE
                      - OFFLINE
                      - ONLINE
                    downtimeType:
                      type: string
                      nullable: true
                      example: PLANNED
                      enum:
                      - PLANNED
                      - UNPLANNED
                    startedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      description: Asset status effective start date.
                    endedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      description: Asset status effective end date.
                      nullable: true
                    description:
                      type: string
                      example: Overheated - needs servicing.
                      nullable: true
                    createdAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      readOnly: true
                      description: Date & time at which the asset status was created.
                    updatedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      readOnly: true
                      description: Date & time at which the asset status was last updated.
                    deletedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      readOnly: true
                      description: Date & time at which the asset status was deleted.
                      nullable: true
                  example:
                    status: ONLINE
                    startedAt: '2022-01-01T12:34:56.123Z'
                    endedAt: '2022-01-01T12:34:56.123Z'
                    description: Back online after scheduled maintenance
                    createdAt: '2022-01-01T12:34:56.123Z'
                    updatedAt: '2022-01-01T12:34:56.123Z'
                    deletedAt: '2022-01-01T12:34:56.123Z'
                newStatus:
                  description: New status of the asset
                  type: object
                  properties:
                    id:
                      type: number
                      example: 42
                      description: Global ID of the asset status.
                    customStatus:
                      type: object
                      required:
                      - label
                      properties:
                        id:
                          type: number
                          example: Global ID of the custom asset status.
                        label:
                          type: string
                          example: Decommissioned
                        createdAt:
                          type: string
                          format: date-time
                          description: Date & time at which the asset custom status was created.
                          example: '2022-01-01T12:34:56.123Z'
                        updatedAt:
                          type: string
                          format: date-time
                          description: Date & time at which the asset custom status was last updated.
                          example: '2022-01-01T12:34:56.123Z'
                        deletedAt:
                          type: string
                          nullable: true
                          description: Date at which the asset custom status was deleted.
                          format: date-time
                          example: '2022-01-01T12:34:56.123Z'
                        downtimeType:
                          type: string
                          nullable: true
                          example: null
                          enum:
                          - PLANNED
                          - UNPLANNED
                          deprecated: true
                          description: Downtime type on asset custom statuses will always return null. Use downtime type on asset status instead.
                      description: Custom status assigned to asset.
                      nullable: true
                    customStatusId:
                      type: number
                      description: Id of the custom status assigned to asset.
                      nullable: true
                      example: 53
                    status:
                      type: string
                      example: OFFLINE
                      description: Asset status value.
                      enum:
                      - IGNORE
                      - OFFLINE
                      - ONLINE
                    downtimeType:
                      type: string
                      nullable: true
                      example: PLANNED
                      enum:
                      - PLANNED
                      - UNPLANNED
                    startedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      description: Asset status effective start date.
                    endedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      description: Asset status effective end date.
                      nullable: true
                    description:
                      type: string
                      example: Overheated - needs servicing.
                      nullable: true
                    createdAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      readOnly: true
                      description: Date & time at which the asset status was created.
                    updatedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      readOnly: true
                      description: Date & time at which the asset status was last updated.
                    deletedAt:
                      type: string
                      format: date-time
                      example: '2022-01-01T12:34:56.123Z'
                      readOnly: true
                      description: Date & time at which the asset status was deleted.
                      nullable: true
                  example:
                    status: OFFLINE
                    customStatus:
                      id: 13
                      label: Technical issues
                      downtimeType: UNPLANNED
                      createdAt: '2022-01-01T12:34:56.123Z'
                      updatedAt: '2022-01-01T12:34:56.123Z'
                    startedAt: '2022-01-01T12:34:56.123Z'
                    description: Overheated - needs servicing.
                    createdAt: '2022-01-01T12:34:56.123Z'
                    updatedAt: '2022-01-01T12:34:56.123Z'
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the asset status was changed
                  example: '2022-01-01T00:00:00.000Z'
      operationId: ASSET_STATUS_CHANGE
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  CONNECTOR_TOKEN_REVOKED:
    post:
      summary: Connector Token Revoked
      security: []
      description: Fires when a connector integration token is revoked.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: CONNECTOR_TOKEN_REVOKED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  DATA_EXPORT_INITIATED:
    post:
      summary: Data Export Initiated
      security: []
      description: Fires when a data export is initiated.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - exportType
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                exportType:
                  type: string
                  description: Type of data exported
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: DATA_EXPORT_INITIATED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  INVITE_LINK_ARCHIVED:
    post:
      summary: Invite Link Archived
      security: []
      description: Fires when an invite link is archived.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - inviteLinkId
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                inviteLinkId:
                  type: number
                  description: ID of the invite link
                  example: 50
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: INVITE_LINK_ARCHIVED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  INVITE_LINK_CREATED:
    post:
      summary: Invite Link Created
      security: []
      description: Fires when an invite link is created.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - inviteLinkId
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                inviteLinkId:
                  type: number
                  description: ID of the invite link
                  example: 50
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: INVITE_LINK_CREATED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  INVITE_LINK_UPDATED:
    post:
      summary: Invite Link Updated
      security: []
      description: Fires when an invite link is updated.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - actorId
              - inviteLinkId
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                actorId:
                  type: number
                  description: User ID of the actor who triggered the event
                  example: 100
                inviteLinkId:
                  type: number
                  description: ID of the invite link
                  example: 50
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the event occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: INVITE_LINK_UPDATED
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  METER_TRIGGER_STATE_CHANGE:
    post:
      summary: Meter Trigger Status Change
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - meterTriggerId
              - meterId
              - orgId
              - oldState
              - newState
              - occurredAt
              properties:
                meterTriggerId:
                  type: number
                  description: Global ID of the meter trigger
                  example: 123
                meterId:
                  type: number
                  description: Global ID of the meter
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                oldState:
                  title: State
                  type: string
                  enum:
                  - INACTIVE
                  - INSUFFICIENT_DATA
                  - PENDING
                  - STABLE
                  - TRIGGERED
                  description: Previous state of the trigger
                  example: PENDING
                newState:
                  title: State
                  type: string
                  enum:
                  - INACTIVE
                  - INSUFFICIENT_DATA
                  - PENDING
                  - STABLE
                  - TRIGGERED
                  description: New state of the trigger
                  example: TRIGGERED
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occured
                  example: '2022-01-01T00:00:00.000Z'
      operationId: METER_TRIGGER_STATE_CHANGE
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  NEW_ASSET:
    post:
      summary: New Asset
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - assetId
              - orgId
              - occurredAt
              properties:
                assetId:
                  type: number
                  description: Global ID of the Asset
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
                newAsset:
                  type: object
                  description: Properties of the created Asset
                  properties:
                    name:
                      type: string
                      example: Forklift
                    description:
                      type: string
                      nullable: true
                      example: Forklift that is used to to move heavy equipments around the warehouse
                    locationId:
                      type: integer
                      nullable: true
                      example: 852
                      description: ID of the location where the asset is located
                    barcode:
                      type: string
                      nullable: true
                      example: BWFPBNRHAW54CG
                      description: String encoded barcode
                    parentId:
                      type: integer
                      nullable: true
                      example: 852
                      description: ID of the parent asset
                    vendorIds:
                      type: array
                      description: Vendor IDs
                      items:
                        type: number
                        example: 1
                    teamIds:
                      type: array
                      items:
                        type: integer
                      description: List of teams responsible for the asset
                      example:
                      - 123
                      - 456
                    assetTypes:
                      type: array
                      items:
                        type: string
                      example:
                      - manual
                      - tool
                      description: List of asset types
                    extraFields:
                      type: object
                      description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "My Custom Field")'
                      additionalProperties:
                        type: string
                      example:
                        My Custom Field: '000000000'
      operationId: NEW_ASSET
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  NEW_CATEGORY_ON_WORK_ORDER:
    post:
      summary: New Category on Work Order
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - workOrderId
              - orgId
              - newCategories
              - occurredAt
              properties:
                workOrderId:
                  type: number
                  description: Global ID of the work order
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                newCategories:
                  type: array
                  description: Newly added categories on the work order
                  items:
                    type: object
                    required:
                    - id
                    - name
                    properties:
                      id:
                        type: number
                        description: Global ID of the category
                        example: 123
                      name:
                        type: string
                        description: Label of the category
                        example: Safety
                      description:
                        type: string
                        example: Used for everything related to Safety
                        description: Description field for additional information.
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: NEW_CATEGORY_ON_WORK_ORDER
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  NEW_COMMENT_ON_WORK_ORDER:
    post:
      summary: New Comment on Work Order
      security: []
      description: Triggered when a new comment is created on a work order
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - orgId
              - workOrderId
              - type
              - comment
              - occurredAt
              properties:
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                workOrderId:
                  type: number
                  description: Global ID of the work order
                  example: 123456
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
                type:
                  type: string
                  description: Type of the comment (TEXT, IMG, FILE, AUDIO)
                comment:
                  type: string
                  description: Newly created comment on the work order
                url:
                  type: string
                  description: URL of the file attached to the work order comment. Valid for 60 minutes.
      operationId: NEW_COMMENT_ON_WORK_ORDER
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  NEW_LOCATION:
    post:
      summary: New Location
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - locationId
              - orgId
              - occurredAt
              properties:
                locationId:
                  type: number
                  description: Global ID of the Location
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: NEW_LOCATION
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  NEW_PART:
    post:
      summary: New Part
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - partId
              - orgId
              - occurredAt
              properties:
                partId:
                  type: number
                  description: Global ID of the Part
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
                newPart:
                  type: object
                  description: Properties of the created Part
                  properties:
                    name:
                      type: string
                      example: Locknut - 1/8
                    area:
                      type: string
                      example: tool room
                      nullable: true
                      description: Area of the part.
                    assetIds:
                      type: array
                      items:
                        type: integer
                      example:
                      - 12
                      - 4561
                      description: List of asset IDs
                    availableQuantity:
                      type: integer
                      description: Total quantity currently in stock.
                      example: 10
                      deprecated: true
                    inStockQuantity:
                      type: integer
                      description: Total quantity currently in stock.
                      example: 10
                    barcode:
                      type: string
                      nullable: true
                      example: bWFpbnRhaW54Cg==
                      description: String encoded barcode
                    description:
                      type: string
                      nullable: true
                      example: ''
                    extraFields:
                      type: object
                      description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Part Number")'
                      additionalProperties:
                        type: string
                      example:
                        Part Number: '000000000'
                    locationId:
                      type: integer
                      nullable: true
                      example: 852
                      description: ID of the location where the part is located.
                    minimumQuantity:
                      type: integer
                      description: Total minimum quantity before you should restock.
                      example: 5
                    maximumQuantity:
                      type: integer
                      nullable: true
                      example: 100
                      description: Total maximum quantity to keep in stock. Null when no part location has a max set.
                    partTypes:
                      type: array
                      items:
                        type: string
                      description: List of part types
                    teamIds:
                      type: array
                      items:
                        type: integer
                      example:
                      - 1
                      - 4
                      description: List of team IDs in charge of the part
                    unitCost:
                      type: integer
                      description: Cost in cents. For example, for $1.20, put 120.
                      example: 120
                      nullable: true
                    vendors:
                      type: array
                      description: List of vendors of the part
                      items:
                        type: object
                        properties:
                          vendorId:
                            type: integer
                            example: '1'
                            description: Id of the vendor
                          partNumber:
                            type: string
                            example: XC230
                            description: Part number given to the part by this vendor
                    locations:
                      type: array
                      items:
                        type: object
                        required:
                        - locationId
                        properties:
                          locationId:
                            type: integer
                            example: 852
                            description: ID of the location where the part is located
                          availableQuantity:
                            type: integer
                            description: Quantity currently in stock
                            example: 10
                          minimumQuantity:
                            type: integer
                            description: Minimum quantity before you should restock
                            example: 5
                            nullable: true
                          maximumQuantity:
                            type: integer
                            nullable: true
                            example: 100
                            description: Maximum quantity you want to stock. Must be greater than or equal to minimumQuantity.
                          area:
                            type: string
                            example: tool room
                            nullable: true
                      description: Detailed list of locations where the part is stored, including properties such as available quantity, minimum quantity, reserved quantity, and area within each location.
      operationId: NEW_PART
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  NEW_PURCHASE_ORDER:
    post:
      summary: New Purchase Order
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - purchaseOrderId
              - orgId
              - occurredAt
              properties:
                purchaseOrderId:
                  type: number
                  description: Global ID of the Purchase Order
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
                userId:
                  type: number
                  description: Integer ID of the user whose action triggered this webhook. Present whenever a real user triggered the event. Absent for system-initiated events such as automations, scheduled runs, or other actions performed by the system — treat the absence of `userId` as a system-initiated signal.
                  example: 789
                newPurchaseOrder:
                  type: object
                  description: Properties of the created Purchase Order
                  properties:
                    approverId:
                      type: number
                      example: 135
                      description: ID of the user who approved the Purchase Order
                      nullable: true
                    approvalDate:
                      type: string
                      example: '2022-01-01T00:00:00.000Z'
                      description: Date the Purchase Order was approved
                      nullable: true
                    note:
                      type: string
                      nullable: true
                      description: Notes left for Purchase Orders
                      example: Please deliver during business hours
                    status:
                      type: string
                      example: APPROVED
                      description: Status of the Purchase Order. Supported values are APPROVED, CANCELED, COMPLETED, DECLINED, PARTIALLY_FULFILLED, PENDING, REQUESTED
                      nullable: true
                    vendorId:
                      type: number
                      example: 432
                      description: ID of vendor that this Purchase Order is associated with
                      nullable: true
                    vendorContactIds:
                      type: array
                      description: List of vendor contact IDs in the Purchase Order
                      example:
                      - 12
                      - 34
                      - 56
                      items:
                        type: number
                        example: 12
                    billingAddress:
                      type: object
                      description: Billing address in the Purchase Order
                      required:
                      - city
                      - country
                      - postalCode
                      - state
                      - street
                      properties:
                        city:
                          type: string
                          example: Montreal
                        country:
                          type: string
                          example: Canada
                        postalCode:
                          type: string
                          example: H4B 5G0
                        state:
                          type: string
                          example: Quebec
                        street:
                          type: string
                          example: 1909 Avenue des Canadiens-de-Montréal
                        label:
                          type: string
                          description: A string to specify how the address will be displayed - Defaults to Street, City, Province/State, Postal Code, Country
                          example: '1909 Avenue des Canadiens-de-Montréal, Montreal, H4B 5G0, QC, CA '
                          nullable: true
                      nullable: true
                    shippingAddress:
                      type: object
                      description: Shipping address in the Purchase Order
                      required:
                      - city
                      - country
                      - postalCode
                      - state
                      - street
                      properties:
                        city:
                          type: string
                          example: Montreal
                        country:
                          type: string
                          example: Canada
                        postalCode:
                          type: string
                          example: H4B 5G0
                        state:
                          type: string
                          example: Quebec
                        street:
                          type: string
                          example: 1909 Avenue des Canadiens-de-Montréal
                        label:
                          type: string
                          description: A string to specify how the address will be displayed - Defaults to Street, City, Province/State, Postal Code, Country
                          example: '1909 Avenue des Canadiens-de-Montréal, Montreal, H4B 5G0, QC, CA '
                          nullable: true
                      nullable: true
                    dueDate:
                      type: string
                      example: '2022-01-01T00:00:00.000Z'
                      description: Due date of Purchase Order
                      nullable: true
                    extraFields:
                      type: object
                      description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Ordered Date")'
                      additionalProperties:
                        type: string
                      example:
                        Ordered Date: '2023-01-01'
                    attachments:
                      type: array
                      title: attachment
                      description: List of attachments linked to the Purchase Order
                      items:
                        type: object
                        title: attachment
                        required:
                        - id
                        - mimeType
                        - fileName
                        - url
                        - createdAt
                        properties:
                          id:
                            type: number
                            description: Global ID of the attachment
                            example: 12345
                          mimeType:
                            type: string
                            description: MIME type of the file
                            example: image/png
                          fileName:
                            type: string
                            description: Attachment's file name
                            example: image.png
                          url:
                            type: string
                            description: Url of the file. Valid for 60 minutes.
                            example: http://example.com/image.png
                          createdAt:
                            type: string
                            format: date-time
                            description: Date & time at which the attachment was uploaded
                            example: '2022-01-01T00:00:00.000Z'
                          width:
                            type: number
                            description: Width if the file is an image
                            nullable: true
                            example: 220
                          height:
                            type: number
                            description: Height if the file is an image
                            nullable: true
                            example: 100
                    autoGeneratedNumber:
                      type: number
                      example: 987
                      nullable: true
                      description: Autogenerated Purchase Order number
                    overrideNumber:
                      type: string
                      example: A123
                      nullable: true
                      description: Custom number/identifier for Purchase Order
                    creatorId:
                      type: number
                      example: 432
                      description: ID of the user that created this Purchase Order
                    reviewNote:
                      type: string
                      nullable: true
                      description: Notes to be left for changes to be made when sending a Purchase Order for revision
                      example: Please adjust quantities and resubmit
                    thumbnail:
                      type: object
                      title: attachment
                      required:
                      - id
                      - mimeType
                      - fileName
                      - url
                      - createdAt
                      properties:
                        id:
                          type: number
                          description: Global ID of the attachment
                          example: 12345
                        mimeType:
                          type: string
                          description: MIME type of the file
                          example: image/png
                        fileName:
                          type: string
                          description: Attachment's file name
                          example: image.png
                        url:
                          type: string
                          description: Url of the file. Valid for 60 minutes.
                          example: http://example.com/image.png
                        createdAt:
                          type: string
                          format: date-time
                          description: Date & time at which the attachment was uploaded
                          example: '2022-01-01T00:00:00.000Z'
                        width:
                          type: number
                          description: Width if the file is an image
                          nullable: true
                          example: 220
                        height:
                          type: number
                          description: Height if the file is an image
                          nullable: true
                          example: 100
                      nullable: true
                    title:
                      type: string
                      nullable: true
                      description: Title of the Purchase Order.
                      example: Office Supplies Order
                    items:
                      type: array
                      description: List of items in the Purchase Order
                      items:
                        type: object
                        required:
                        - id
                        - quantityOrdered
                        properties:
                          createdAt:
                            type: string
                            format: date-time
                            description: Date & time at which the Purchase Order item was created
                            example: '2022-01-01T00:00:00.000Z'
                          price:
                            type: number
                            example: 25000
                            nullable: true
                            description: Total price of items in cents
                          priceDecimal:
                            type: string
                            example: '250.000000'
                            nullable: true
                            description: Total price of items as a decimal value
                          partNumber:
                            type: string
                            nullable: true
                          name:
                            type: string
                            nullable: true
                          updaterId:
                            type: integer
                            nullable: true
                            example: 851
                            description: ID of the last user who updated the Purchase Order item
                          creatorId:
                            type: integer
                            nullable: true
                            example: 851
                            description: ID of the Purchase Order item creator
                          partId:
                            type: number
                            example: 43
                            description: ID of the part this item is related to
                            nullable: true
                          id:
                            type: number
                            example: 23
                            description: ID of the item
                          quantityOrdered:
                            type: number
                            example: 4
                            description: Represent the amount of units for this item that were ordered in the purchase order.
                          quantityReceived:
                            type: number
                            example: 3
                            nullable: true
                            description: Represents the total amount of this specific item that has been received to date.
                          unitCost:
                            type: number
                            example: 125000
                            nullable: true
                            description: Price of a single item in cents
                          unitCostDecimal:
                            type: string
                            example: '1250.000000'
                            nullable: true
                            description: Price of a single item as a decimal value
                          lineExtraFields:
                            type: object
                            description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Ordered Date")'
                            additionalProperties:
                              type: string
                            example:
                              Ordered Date: '2023-01-01'
                          partExtraFields:
                            type: object
                            description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Part Number")'
                            additionalProperties:
                              type: string
                            example:
                              Part Number: '321'
                          organizationId:
                            type: number
                            description: Global ID of the organization
                            example: 321
                          purchaseOrderId:
                            type: integer
                            nullable: true
                            example: 891
                            description: Global ID of the Purchase Order linked with that Purchase Order item
                    costs:
                      type: array
                      description: List of costs in the Purchase Order
                      items:
                        type: object
                        required:
                        - id
                        - name
                        - type
                        - amount
                        properties:
                          id:
                            type: number
                            example: 123
                            description: ID of the cost
                          organizationId:
                            type: number
                            description: Global ID of the organization
                            example: 321
                          creatorId:
                            type: integer
                            nullable: true
                            example: 851
                            description: ID of the Purchase Order item creator
                          purchaseOrderId:
                            type: integer
                            nullable: true
                            example: 891
                            description: Global ID of the Purchase Order linked with that Purchase Order cost
                          name:
                            type: string
                            example: Sales Tax
                            description: Description of the cost
                          type:
                            type: string
                            enum:
                            - AMOUNT_NON_TAXABLE
                            - AMOUNT_TAXABLE
                            - PERCENT_TAXABLE
                            example: AMOUNT_TAXABLE
                            description: Type of cost in either cents or percent. Accepted types in cents are AMOUNT_TAXABLE and AMOUNT_NON_TAXABLE. For percentage use PERCENT_TAXABLE
                          amount:
                            type: number
                            example: 125000
                          createdAt:
                            type: string
                            format: date-time
                            description: Date & time at which the Purchase Order cost was created
                            example: '2022-01-01T00:00:00.000Z'
      operationId: NEW_PURCHASE_ORDER
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  NEW_SLASH_COMMAND:
    post:
      summary: New Slash Command
      security: []
      description: Triggered when a new slash command is created
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - user
              - parent
              - command
              - content
              - messageId
              - orgId
              - occurredAt
              properties:
                user:
                  type: object
                  required:
                  - id
                  properties:
                    id:
                      type: number
                      description: Global Id of the user
                      example: 12345
                parent:
                  type: object
                  required:
                  - id
                  - type
                  - name
                  properties:
                    id:
                      type: number
                      description: Global Id of the parent message
                      example: 12345
                    type:
                      type: string
                      description: Type of the parent message
                      enum:
                      - CONVERSATION
                      - WORK_ORDER
                    name:
                      type: string
                      description: Name of the Work Order or Conversation
                      example: Some PM
                messageId:
                  type: number
                  description: Global ID of the message
                  example: 12345
                orgId:
                  type: number
                  description: Global Id of the organization
                  example: 12345
                command:
                  type: string
                  description: Command of the Slash Command
                  example: jira
                content:
                  type: string
                  description: Content of the Slash Command
                  example: WORK-000 escalate
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: NEW_SLASH_COMMAND
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  NEW_VENDOR:
    post:
      summary: New Vendor
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - vendorId
              - orgId
              - occurredAt
              properties:
                vendorId:
                  type: number
                  description: Global ID of the Vendor
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: NEW_VENDOR
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  NEW_WORK_ORDER:
    post:
      summary: New Work Order
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - workOrderId
              - orgId
              - occurredAt
              properties:
                workOrderId:
                  type: number
                  description: Global ID of the Work Order
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
                newWorkOrder:
                  type: object
                  description: Properties of the updated work order
                  properties:
                    assetId:
                      nullable: true
                      type: integer
                      example: 42
                    assigneeIds:
                      type: array
                      description: List of user ids assigned to the work order
                      items:
                        type: integer
                        example: 31
                    categories:
                      type: array
                      description: Newly added categories on the work order
                      items:
                        type: object
                        required:
                        - id
                        - name
                        properties:
                          id:
                            type: number
                            description: Global ID of the category
                            example: 123
                          name:
                            type: string
                            description: Label of the category
                            example: Safety
                          description:
                            type: string
                            example: Used for everything related to Safety
                            description: Description field for additional information.
                    description:
                      nullable: true
                      type: string
                      example: A work order sample description
                    dueDate:
                      type: string
                      format: date-time
                      nullable: true
                      description: Date & time at which the work order is due
                      example: '2022-01-01T00:00:00.000Z'
                    estimatedTime:
                      type: integer
                      nullable: true
                      description: The estimated time taken in seconds to complete the work order
                      example: 3600
                    extraFields:
                      type: object
                      description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Third Party Id")'
                      additionalProperties:
                        type: string
                      example:
                        Third Party Id: aa674f49-dac6-4f15-9fdd-061d2b5caf30
                    locationId:
                      nullable: true
                      type: integer
                      description: Global ID of the location assigned to the work order
                      example: 611
                    parts:
                      type: array
                      description: Parts attached to the Work Order
                      items:
                        type: object
                        required:
                        - id
                        - quantityUsed
                        - copyOnRecurring
                        properties:
                          id:
                            type: integer
                            example: 963
                            description: Global ID of the part
                          quantityUsed:
                            type: integer
                            description: Quantity used in the work order.
                            example: 2
                          unitCost:
                            nullable: true
                            type: integer
                            description: Cost in cents. For example, for $1.20, put 120
                            example: 120
                          locationId:
                            nullable: true
                            type: integer
                            description: Global ID of the location of the part.
                            example: 852
                          copyOnRecurring:
                            type: string
                            description: Indicates if the parts will be copied to the next work order in the chain (if applicable).
                            default: Default
                            enum:
                            - NoCopy
                            - Copy
                            - Default
                    priority:
                      type: string
                      example: MEDIUM
                      enum:
                      - NONE
                      - LOW
                      - MEDIUM
                      - HIGH
                    startDate:
                      type: string
                      format: date-time
                      nullable: true
                      description: Date & time at which the work order will show up in the inbox</br>Only valid when <b>dueDate</b> is set
                      example: '2022-01-01T00:00:00.000Z'
                    teamIds:
                      type: array
                      description: List of team ids assigned to the work order
                      items:
                        type: integer
                        example: 12
                    title:
                      type: string
                    vendorIds:
                      type: array
                      description: Vendor IDs
                      items:
                        type: number
                        example: 1
      operationId: NEW_WORK_ORDER
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  NEW_WORK_REQUEST:
    post:
      summary: New Request
      security: []
      description: ''
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - workRequestId
              - orgId
              - occurredAt
              properties:
                workRequestId:
                  type: number
                  description: Global ID of the Request
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
      operationId: NEW_WORK_REQUEST
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  PART_CHANGE:
    post:
      summary: Part Change
      security: []
      description: 'The only properties triggering the webhook when changed, are the following: AREA, ASSETS, AVAILABLE_QUANTITY, BARCODE, DESCRIPTION, EXTRA_FIELDS, LOCATION, LOCATIONS, MAXIMUM_QUANTITY, MINIMUM_QUANTITY, NAME, PART_TYPES, TEAMS, UNIT_COST, VENDORS'
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - partId
              - orgId
              - occurredAt
              properties:
                partId:
                  type: number
                  description: Global ID of the part
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
                newPart:
                  type: object
                  description: Properties of the updated part
                  properties:
                    id:
                      type: integer
                      example: 123456
                      description: Global ID of the part
                    name:
                      type: string
                      example: Locknut - 1/8
                    description:
                      type: string
                      nullable: true
                      example: ''
                    area:
                      type: string
                      example: tool room
                      nullable: true
                      description: 'Area of the part. Deprecated: for Parts with multiple locations, use the new field in `locations`'
                      deprecated: true
                    unitCost:
                      type: integer
                      description: Cost in cents. For example, for $1.20, put 120.
                      example: 120
                      nullable: true
                    availableQuantity:
                      type: integer
                      description: 'Total quantity currently in stock. If your plan includes multi-location parts, this is the quantity across all part locations. Deprecated: Use `inStockQuantity` instead.'
                      example: 10
                      deprecated: true
                    inStockQuantity:
                      type: integer
                      description: Total quantity currently in stock. If your plan includes multi-location parts, this is the quantity across all part locations.
                      example: 10
                    minimumQuantity:
                      type: integer
                      description: Total minimum quantity before you should restock. If your plan includes multi-location parts, this is the quantity across all part locations.
                      example: 5
                    barcode:
                      type: string
                      nullable: true
                      example: bWFpbnRhaW54Cg==
                      description: String encoded barcode
                    locationId:
                      type: integer
                      nullable: true
                      example: 852
                      description: 'ID of the location where the part is located. Deprecated: for Parts with multiple locations, use the new field in `locations`'
                      deprecated: true
                    locations:
                      type: array
                      items:
                        type: object
                        required:
                        - locationId
                        properties:
                          locationId:
                            type: integer
                            example: 852
                            description: ID of the location where the part is located
                          availableQuantity:
                            type: integer
                            description: Quantity currently in stock
                            example: 10
                          minimumQuantity:
                            type: integer
                            description: Minimum quantity before you should restock
                            example: 5
                            nullable: true
                          maximumQuantity:
                            type: integer
                            nullable: true
                            example: 100
                            description: Maximum quantity you want to stock. Must be greater than or equal to minimumQuantity.
                          area:
                            type: string
                            example: tool room
                            nullable: true
                      description: Detailed list of locations where the part is stored, including properties such as available quantity, minimum quantity, reserved quantity, and area within each location.
                    partTypes:
                      type: array
                      items:
                        type: string
                      description: List of part types
                    assetIds:
                      type: array
                      items:
                        type: integer
                      example:
                      - 12
                      - 4561
                      description: List of asset IDs
                    teamIds:
                      type: array
                      items:
                        type: integer
                      example:
                      - 1
                      - 4
                      description: List of team IDs in charge of the part
                    extraFields:
                      type: object
                      description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Part Number")'
                      additionalProperties:
                        type: string
                      example:
                        Part Number: '000000000'
                    vendors:
                      type: array
                      description: List of vendors of the part
                      items:
                        type: object
                        properties:
                          vendorId:
                            type: integer
                            example: '1'
                            description: Id of the vendor
                          partNumber:
                            type: string
                            example: XC230
                            description: Part number given to the part by this vendor
                    maximumQuantity:
                      type: integer
                      nullable: true
                      example: 100
                      description: Total maximum quantity to keep in stock. Null when no part location has a max set.
      operationId: PART_CHANGE
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
  PART_DELETE:
    post:
      summary: Part Delete
      security: []
      description: Triggered when a part gets deleted.
      tags:
      - Subscriptions & Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - partId
              - orgId
              - occurredAt
              properties:
                partId:
                  type: number
                  description: Global ID of the part
                  example: 123456
                orgId:
                  type: number
                  description: Global ID of the organization
                  example: 321
                occurredAt:
                  type: string
                  format: date-time
                  description: Date & time at which the trigger occurred
                  example: '2022-01-01T00:00:00.000Z'
                deletedPart:
                  type: object
                  description: Properties of the deleted part
                  properties:
                    id:
                      type: integer
                      example: 123456
                      description: Global ID of the part
                    name:
                      type: string
                      example: Locknut - 1/8
                    description:
                      type: string
                      nullable: true
                      example: ''
                    area:
                      type: string
                      example: tool room
                      nullable: true
                      description: 'Area of the part. Deprecated: for Parts with multiple locations, use the new field in `locations`'
                      deprecated: true
                    unitCost:
                      type: integer
                      description: Cost in cents. For example, for $1.20, put 120.
                      example: 120
                      nullable: true
                    availableQuantity:
                      type: integer
                      description: 'Total quantity currently in stock. If your plan includes multi-location parts, this is the quantity across all part locations. Deprecated: Use `inStockQuantity` instead.'
                      example: 10
                      deprecated: true
                    inStockQuantity:
                      type: integer
                      description: Total quantity currently in stock. If your plan includes multi-location parts, this is the quantity across all part locations.
                      example: 10
                    minimumQuantity:
                      type: integer
                      description: Total minimum quantity before you should restock. If your plan includes multi-location parts, this is the quantity across all part locations.
                      example: 5
                    barcode:
                      type: string
                      nullable: true
                      example: bWFpbnRhaW54Cg==
                      description: String encoded barcode
                    locationId:
                      type: integer
                      nullable: true
                      example: 852
                      description: 'ID of the location where the part is located. Deprecated: for Parts with multiple locations, use the new field in `locations`'
                      deprecated: true
                    locations:
                      type: array
                      items:
                        type: object
                        required:
                        - locationId
                        properties:
                          locationId:
                            type: integer
                            example: 852
                            description: ID of the location where the part is located
                          availableQuantity:
                            type: integer
                            description: Quantity currently in stock
                            example: 10
                          minimumQuantity:
                            type: integer
                            description: Minimum quantity before you should restock
                            example: 5
                            nullable: true
                          maximumQuantity:
                            type: integer
                            nullable: true
                            example: 100
                            description: Maximum quantity you want to stock. Must be greater than or equal to minimumQuantity.
                          area:
                            type: string
                            example: tool room
                            nullable: true
                      description: Detailed list of locations where the part is stored, including properties such as available quantity, minimum quantity, reserved quantity, and area within each location.
                    partTypes:
                      type: array
                      items:
                        type: string
                      description: List of part types
                    assetIds:
                      type: array
                      items:
                        type: integer
                      example:
                      - 12
                      - 4561
                      description: List of asset IDs
                    teamIds:
                      type: array
                      items:
                        type: integer
                      example:
                      - 1
                      - 4
                      description: List of team IDs in charge of the part
                    extraFields:
                      type: object
                      description: 'Custom Fields on the entity. The object keys are the exact Custom Field labels, including spaces or special characters. (ie: "Part Number")'
                      additionalProperties:
                        type: string
                      example:
                        Part Number: '000000000'
                    vendors:
                      type: array
                      description: List of vendors of the part
                      items:
                        type: object
                        properties:
                          vendorId:
                            type: integer
                            example: '1'
                            description: Id of the vendor
                          partNumber:
                            type: string
                            example: XC230
                            description: Part number given to the part by this vendor
                    maximumQuantity:
                      type: integer
[...]
